Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(site): add { allowDarkTheme:true } to TDCommon
  examples/sites/src/App.vue
  examples/sites/src/views/components-doc/common.vue
  examples/sites/src/views/docs/docs.vue
  examples/sites/src/views/overview.vue
Due: prettier --write, eslint --fix

fix(site): add mock button for switch theme
  examples/sites/public/static/js/design-common.js
Due: prettier --write, eslint --fix

feat(tag): improve close icon interaction
  packages/theme/src/tag/index.less
  packages/vue/src/tag/src/pc.vue
Due: prettier --write, eslint --fix

ci(workflow): fix runtime publish alpha registry error
  .github/workflows/auto-all-publish.yml
  .github/workflows/dispatch-all-publish-alpha.yml
  .github/workflows/dispatch-renderless-theme-publish-alpha.yml
  package.json
Due: none

ci(workflow): fix runtime publish alpha registry error
  internals/cli/src/commands/release/releaseAlpha.ts
Due: prettier --write, eslint --fix

docs: fix description error
  examples/sites/demos/pc/app/grid/webdoc/grid-tree-table.js
Due: prettier --write, eslint --fix

feat(checkbox): [checkbox] Component dark theme adaptation
  packages/theme/src/checkbox/index.less
  packages/theme/src/checkbox/vars.less
  packages/vue/src/checkbox/src/pc.vue
Due: prettier --write, eslint --fix

feat(checkbox): [checkbox] Revise inspection comments
  packages/theme/src/checkbox/index.less
  packages/theme/src/checkbox/vars.less
Due: none

style: lint code
  packages/vue/src/badge/__tests__/badge.test.tsx
Due: prettier --write, eslint --fix

fix(badge): fixed the incorrect dot badge style for values
  packages/vue/src/badge/__tests__/badge.test.tsx
  packages/vue/src/badge/src/pc.vue
Due: prettier --write, eslint --fix

feat:暗色主题适配
  examples/sites/demos/pc/app/milestone/basic-usage.spec.ts
  examples/sites/demos/pc/app/milestone/show-number.spec.ts
  examples/sites/demos/pc/app/milestone/solid-style.spec.ts
  packages/design/saas/src/milestone/index.ts
  packages/renderless/src/milestone/index.ts
  packages/theme-saas/src/milestone/index.less
  packages/theme/src/milestone/index.less
  packages/theme/src/milestone/vars.less
  packages/theme/src/steps/index.less
  packages/theme/src/steps/vars.less
  packages/theme/src/switch/vars.less
Due: prettier --write, eslint --fix

feat(checkbox): [checkbox] Modify test cases
  examples/sites/demos/pc/app/checkbox/basic-usage.spec.ts
Due: prettier --write, eslint --fix

fix(site): fix reviews
  examples/sites/src/main.js
  examples/sites/src/views/components-doc/common.vue
Due: prettier --write, eslint --fix

build(cli): fix the version error of utils and hooks packages in vue2
  internals/cli/src/commands/build/build-ui.ts
  internals/cli/src/commands/create/commonMapping.json
  packages/modules.json
Due: prettier --write, eslint --fix

feat(checkbox): [checkbox] Modify test cases
  packages/theme/src/checkbox/index.less
  packages/theme/src/checkbox/vars.less
  packages/vue/src/checkbox/src/pc.vue
Due: prettier --write, eslint --fix

fix(site): remove css nests
  examples/sites/src/assets/custom-markdown.css
Due: none

feat(floatbar): [floatbar] Adapt to dark themes
  packages/theme/src/floatbar/index.less
  packages/theme/src/floatbar/vars.less
Due: none

feat(floatbar): [floatbar] Revise inspection comments
  packages/theme/src/floatbar/index.less
  packages/theme/src/floatbar/vars.less
Due: none

fix: revise inspection comments
  packages/renderless/src/form/index.ts
Due: prettier --write, eslint --fix

fix: change theme
  packages/theme/src/crop/index.less
  packages/theme/src/crop/vars.less
Due: none

docs: fix plus doc load error
  examples/sites/src/views/components-doc/cmp-config.js
  examples/sites/src/views/components-doc/index.vue
  examples/sites/src/views/components-doc/plus.vue
  examples/sites/vite.extend.ts
Due: prettier --write, eslint --fix

fix(form): fix form array type message
  examples/sites/src/assets/images/mobile-container.png
  examples/sites/src/views/components-doc/mobile.vue
  packages/renderless/src/user/index.ts
  packages/renderless/src/user/vue.ts
  packages/theme-saas/src/date-picker/index.less
  packages/theme/src/date-panel/index.less
  packages/theme/src/notify/index.less
  packages/utils/src/validate/rules/enum.ts
  packages/utils/src/validate/rules/pattern.ts
  packages/utils/src/validate/rules/range.ts
  packages/utils/src/validate/rules/required.ts
  packages/utils/src/validate/rules/type.ts
  packages/utils/src/validate/rules/whitespace.ts
  packages/vue-locale/src/lang/zh-CN.ts
  packages/vue/src/user/src/index.ts
  packages/vue/src/user/src/mobile-first.vue
Due: prettier --write, eslint --fix

feat(grid): [grid] add mobile first empty slot
  packages/vue/src/grid/src/mobile-first/empty.vue
  packages/vue/src/grid/src/mobile-first/index.vue
Due: prettier --write, eslint --fix

fix(site): fix header's background color on dark theme
  examples/sites/src/views/components-doc/components/header.vue
Due: prettier --write, eslint --fix

docs: 修改tinyCharts文档
  examples/sites/demos/pc/app/chart/webdoc/chart-docs.cn.md
Due: prettier --write

fix(button-group): update size prop type and add validator
  examples/sites/demos/apis/button-group.js
  packages/vue/src/button-group/src/index.ts
Due: prettier --write, eslint --fix

fix(grid): [grid] add dark theme
  examples/sites/demos/pc/app/grid/drag/row-drag-ctrl-composition-api.vue
  examples/sites/demos/pc/app/grid/drag/row-drag-ctrl.vue
  packages/theme/src/grid/table.less
  packages/theme/src/grid/vars.less
Due: prettier --write, eslint --fix

feat(calendar): add year and month specification demo and tests
  examples/sites/demos/pc/app/calendar/calendar-year-month-composition-api.vue
  examples/sites/demos/pc/app/calendar/calendar-year-month.spec.ts
  examples/sites/demos/pc/app/calendar/calendar-year-month.vue
  examples/sites/demos/pc/app/calendar/webdoc/calendar.js
Due: prettier --write, eslint --fix

fix(calendar): change month type from string to number
  examples/sites/demos/apis/calendar-view.js
Due: prettier --write, eslint --fix

fix:修复plus会显示头部搜索和描述问题
  examples/sites/src/main.js
  examples/sites/src/views/overview.vue
Due: prettier --write, eslint --fix

feat(dropdown): [action-menu,dropdown] component dark theme adaptation
  examples/sites/demos/pc/app/action-menu/icon-composition-api.vue
  examples/sites/demos/pc/app/action-menu/icon.vue
  examples/sites/demos/pc/app/action-menu/popper-class-composition-api.vue
  examples/sites/demos/pc/app/action-menu/popper-class.vue
  examples/sites/demos/pc/app/action-menu/slot-item-composition-api.vue
  examples/sites/demos/pc/app/action-menu/slot-item.vue
  examples/sites/demos/pc/app/dropdown/inherit-width-composition-api.vue
  examples/sites/demos/pc/app/dropdown/inherit-width.vue
  examples/sites/demos/pc/app/dropdown/show-icon-composition-api.vue
  examples/sites/demos/pc/app/dropdown/show-icon.vue
  examples/sites/demos/pc/app/dropdown/size-composition-api.vue
  examples/sites/demos/pc/app/dropdown/size.vue
  examples/sites/demos/pc/app/dropdown/webdoc/dropdown.js
  packages/theme/src/action-menu/index.less
  packages/theme/src/base/dark-theme.less
  packages/theme/src/base/vars.less
  packages/theme/src/dropdown/index.less
  packages/theme/src/dropdown/vars.less
  packages/theme/src/svgs/ellipsis.svg
  packages/vue/src/dropdown/src/pc.vue
Due: prettier --write, eslint --fix

feat(dialog-select): [dialog-select] modify search icon alignment issue
  packages/theme/src/base/dark-theme.less
  packages/theme/src/base/vars.less
  packages/theme/src/dialog-select/index.less
Due: none

feat(autocomplete): [autocomplete] dark theme adaptation
  examples/sites/demos/pc/app/autocomplete/slot-composition-api.vue
  examples/sites/demos/pc/app/autocomplete/slot.vue
  packages/theme/src/autocomplete/index.less
  packages/theme/src/autocomplete/vars.less
Due: prettier --write, eslint --fix

feat(input): [input] dark theme adaptation
  packages/theme/src/tall-storage/index.less
  packages/theme/src/tall-storage/vars.less
Due: none

test(dropdown): [action-menu,dropdown] synchronize modification of test cases
  examples/sites/demos/pc/app/action-menu/popper-class.spec.ts
  examples/sites/demos/pc/app/dropdown/split-button.spec.ts
Due: prettier --write, eslint --fix

fix: 修改charts文档引用路径
  examples/sites/demos/pc/app/chart/webdoc/chart-docs.cn.md
  examples/sites/demos/pc/app/chart/webdoc/chart-docs.en.md
Due: prettier --write

feat(checkbox): [checkbox] Revise inspection comments
  examples/sites/demos/pc/app/checkbox/basic-usage.spec.ts
  packages/theme/src/checkbox/index.less
  packages/vue/src/checkbox/src/pc.vue
Due: prettier --write, eslint --fix

fix：修改文档chart引入名称
  examples/sites/demos/pc/app/chart/webdoc/chart-docs.cn.md
  examples/sites/demos/pc/app/chart/webdoc/chart-docs.en.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,vue}) or (any of: *.md)
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
