Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs: add v3.15.0 changelog (#1544)
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/package.json
Due: prettier --write

fix(tree): remove leaf node's padding-left
  packages/theme/src/tree/index.less
Due: none

fix(tree): remove leaf node's padding-left (#1546)
  packages/theme/src/tree/index.less
Due: none

fix(action-menu): [action-menu] fix no divided bug (#1538)
  examples/sites/demos/apis/action-menu.js
  examples/sites/demos/pc/app/action-menu/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/action-menu/basic-usage.vue
  examples/sites/index.html
  packages/renderless/types/action-menu.type.ts
  packages/vue/src/action-menu/package.json
  packages/vue/src/action-menu/src/pc.vue
Due: prettier --write, eslint --fix

feat(tabs): [tabs] Add panel configuration function to adapt to the new SMB specifications
  examples/sites/demos/apis/tabs.js
  examples/sites/demos/pc/app/tabs/more-show-all-composition-api.vue
  examples/sites/demos/pc/app/tabs/more-show-all.spec.ts
  examples/sites/demos/pc/app/tabs/more-show-all.vue
  examples/sites/demos/pc/app/tabs/webdoc/tabs.js
  packages/renderless/src/tabs/index.ts
  packages/theme/src/tabs/index.less
  packages/vue/src/tabs/src/index.ts
  packages/vue/src/tabs/src/pc.vue
  packages/vue/src/tabs/src/tab-nav/index.ts
  packages/vue/src/tabs/src/tab-nav/pc.vue
Due: prettier --write, eslint --fix

vue转jsx
  README.md
  convert-vue-to-jsx.js
  package.json
  packages/react-components/button/index.ts
  packages/react-components/button/package.json
  packages/react-components/button/src/index.ts
  packages/react-components/button/src/mobile-first.jsx
  packages/react-components/button/src/mobile.jsx
  packages/react-components/button/src/pc.jsx
  packages/react-components/button/src/token.ts
Due: prettier --write, eslint --fix

fix(carousel): fix issue #1543
  packages/theme/src/carousel/index.less
Due: none

fix(tabs): [tabs] Fix the bug where the name is empty caused by using v-if in tabstem
  packages/renderless/src/tabs/index.ts
Due: prettier --write, eslint --fix

feat(Swtich): [Switch] suppor custom icon
  examples/sites/demos/apis/switch.js
  examples/sites/demos/pc/app/switch/custom-open-close-icon-composition-api.vue
  examples/sites/demos/pc/app/switch/custom-open-close-icon.vue
  examples/sites/demos/pc/app/switch/webdoc/switch.js
  packages/theme/src/switch/index.less
  packages/vue/src/switch/src/pc.vue
Due: prettier --write, eslint --fix

test(Switch): [Switch] add the the custom icon feature's unit test
  packages/vue/src/switch/__tests__/switch.test.tsx
Due: prettier --write, eslint --fix

fix(dialog-box): fix issue #1242
  packages/vue/src/dialog-box/__tests__/dialog-box.test.tsx
  packages/vue/src/dialog-box/src/pc.vue
Due: prettier --write, eslint --fix

test(Swtich): [Switch] improve e2e test of costom icon
  examples/sites/demos/pc/app/switch/custom-open-close-icon.spec.ts
Due: prettier --write, eslint --fix

fix(unplugin): rewrite unplugin for auto import vue component
  internals/unplugin-tiny-vue/package.json
  internals/unplugin-tiny-vue/src/index.ts
Due: prettier --write, eslint --fix

refactor(unplugin): rewrite unplugin for autoimport Vue components
  internals/unplugin-tiny-vue/package.json
  internals/unplugin-tiny-vue/src/index.ts
Due: prettier --write, eslint --fix

refactor(unplugin): rewrite unplugin for autoimport Vue components (#1553)
  internals/unplugin-tiny-vue/package.json
  internals/unplugin-tiny-vue/src/index.ts
Due: prettier --write, eslint --fix

fix: the width of the modal box can be displayed in the center as the browser window size changes
  examples/sites/demos/apis/modal.js
  examples/sites/demos/pc/app/modal/webdoc/modal.js
  packages/renderless/src/modal/index.ts
  packages/vue/src/modal/src/pc.vue
Due: prettier --write, eslint --fix

优化脚本文件
  convert-vue-to-jsx.js
  packages/react-components/action-sheet/src/mobile.jsx
Due: prettier --write, eslint --fix

优化脚本文件
  convert-vue-to-jsx.js
  packages/react-components/action-sheet/src/mobile.jsx
  packages/react-components/cascader-panel/src/mobile-first.jsx
  packages/react-components/cascader-panel/src/pc.jsx
  packages/react-components/cascader-select/src/Column.jsx
  packages/react-components/column-list-group/src/mobile-first.jsx
  packages/react-components/column-list-item/src/mobile-first.jsx
  packages/react-components/config-provider/src/index.jsx
  packages/react-components/date-panel/src/mobile-first.jsx
  packages/react-components/date-panel/src/pc.jsx
  packages/react-components/date-picker/src/pc.jsx
  packages/react-components/form-item/src/mobile-first.jsx
  packages/react-components/form-item/src/pc.jsx
  packages/react-components/grid-toolbar/src/custom-switch.jsx
  packages/react-components/modal/src/mobile-first.jsx
  packages/react-components/month-table/src/pc.jsx
  packages/react-components/multi-select/src/mobile.jsx
  packages/react-components/picker-column/src/mobile.jsx
  packages/react-components/popconfirm/src/mobile-first.jsx
  packages/react-components/popconfirm/src/pc.jsx
  packages/react-components/popover/src/mobile-first.jsx
  packages/react-components/scrollbar/src/pc.jsx
  packages/react-components/time-picker-mobile/src/mobile-first.jsx
  packages/react-components/tooltip/src/mobile-first.jsx
  packages/react-components/tooltip/src/pc.jsx
  packages/react-components/tree-menu/src/pc.jsx
  packages/react-components/tree/src/tree-node.jsx
  packages/react-components/watermark/src/pc.jsx
  packages/react-components/year-table/src/pc.jsx
Due: prettier --write, eslint --fix

fix(tabs): [tabs] Fix the bug where the name is empty caused by using v-if in tabstem (#1549)
  packages/renderless/src/tabs/index.ts
Due: prettier --write, eslint --fix

fix: the width of the modal box can be displayed in the center as the browser window size changes (#1554)
  examples/sites/demos/apis/modal.js
  examples/sites/demos/pc/app/modal/webdoc/modal.js
  packages/renderless/src/modal/index.ts
  packages/vue/src/modal/src/pc.vue
Due: prettier --write, eslint --fix

feat:同步代码
  examples/solid-demo/index.html
  examples/solid-demo/package.json
  examples/solid-demo/public/vite.svg
  examples/solid-demo/src/App.tsx
  examples/solid-demo/src/main.css
  examples/solid-demo/src/main.tsx
  examples/solid-demo/tsconfig.json
  examples/solid-demo/tsconfig.node.json
  examples/solid-demo/vite.config.ts
  examples/solid-docs/package.json
  examples/solid-docs/src/App.tsx
  examples/solid-docs/src/main.less
  examples/solid-docs/src/views/alert.tsx
  examples/solid-docs/src/views/button.tsx
  examples/solid-docs/src/views/icon.less
  examples/solid-docs/src/views/icon.tsx
  examples/solid-docs/src/views/switch.tsx
  examples/solid-docs/vite.config.ts
  internals/cli/src/commands/build/build-ui-solid.ts
  internals/cli/src/commands/build/index.ts
  internals/vite-plugin-template2jsx/README.md
  internals/vite-plugin-template2jsx/index.js
  internals/vite-plugin-template2jsx/package.json
  internals/vite-plugin-template2jsx/src/helpers.js
  internals/vite-plugin-template2jsx/src/plugin.js
  internals/vite-plugin-template2jsx/src/render.js
  internals/vite-plugin-template2jsx/template/index.tss
  internals/vite-plugin-template2jsx/template/package.jsons
  internals/vite-plugin-template2jsx/template/src/index.tss
  internals/vite-plugin-template2jsx/template/src/pc.jsxs
  package.json
  packages/solid/index.ts
  packages/solid/src/common/package.json
  packages/solid/src/common/src/index.ts
  pnpm-workspace.yaml
  tsconfig.solid.json
Due: prettier --write, eslint --fix

fix(tabs): [tabs] update renderless version
  packages/renderless/package.json
Due: none

fix(dialog-box): fix issue #1242 (#1550)
  packages/vue/src/dialog-box/__tests__/dialog-box.test.tsx
  packages/vue/src/dialog-box/src/pc.vue
Due: prettier --write, eslint --fix

fix(carousel): fix issue #1543 (#1548)
  packages/theme/src/carousel/index.less
Due: none

add react-component-gen
  packages/react-component-gen/CHANGELOG.md
  packages/react-component-gen/README.md
  packages/react-component-gen/bin/dev.js
  packages/react-component-gen/bin/run.js
  packages/react-component-gen/package.json
  packages/react-component-gen/src/commands/generate/component.ts
  packages/react-component-gen/src/commands/generate/example.ts
  packages/react-component-gen/src/commands/generate/icon.ts
  packages/react-component-gen/src/commands/generate/webdoc.ts
  packages/react-component-gen/src/index.ts
  packages/react-component-gen/src/prompts/generate-component.system.md
  packages/react-component-gen/src/prompts/generate-example.system.md
  packages/react-component-gen/src/utils/fetch-llm.ts
  packages/react-component-gen/src/utils/transform-api.ts
  packages/react-component-gen/test/commands/generate.test.ts
  packages/react-component-gen/tsconfig.json
Due: prettier --write, eslint --fix

docs: add breaking changes to changelog
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/package.json
Due: prettier --write

fix:merge
  packages/openinula/src/alert/src/mobile-first.jsx
  packages/renderless/src/alert/vue.ts
  packages/renderless/src/anchor-react/index.ts
  packages/renderless/src/anchor-react/vue.ts
  packages/renderless/src/anchor/index.ts
  packages/renderless/src/chart-bar/index.ts
  packages/renderless/src/chart-candle/index.ts
  packages/renderless/src/chart-line/index.ts
  packages/renderless/src/chart-waterfall/index.ts
  packages/renderless/src/collapse-item/vue.ts
  packages/renderless/src/collapse/vue.ts
  packages/renderless/src/tooltip/index.ts
  packages/theme-mobile/src/svg/index.less
  packages/theme/src/transfer/index.less
  packages/theme/src/transition/transfer.less
  packages/theme/src/transition/zoom-in-top.less
  packages/vue/src/cascader-menu/src/index.tsx
  packages/vue/src/cascader-select/src/mobile.vue
  packages/vue/src/form/src/mobile-first.vue
  packages/vue/src/form/src/pc.vue
Due: prettier --write, eslint --fix

chore: 优化本地 svg 加载
  internals/vite-plugin-template2jsx/index.js
Due: prettier --write, eslint --fix

chore(deps): update dependency @antfu/eslint-config to v2.x (#1343)
  package.json
Due: none

fix(tabs): [tabs] Fix the issue with rendering in the default slot of Vue3
  packages/vue/src/tabs/src/tab-nav/pc.vue
Due: prettier --write, eslint --fix

fix(tabs): [tabs] Fix the issue of inconsistent highlighting when multiple V-ifs are used
  packages/renderless/src/tabs/index.ts
  packages/vue/src/tabs/src/tab-nav/pc.vue
Due: prettier --write, eslint --fix

fix(anchor): [anchor] Correcting Ambiguity in Anchor Document Description #1303
  examples/sites/demos/pc/app/anchor/is-affix-composition-api.vue
  examples/sites/demos/pc/app/anchor/is-affix.vue
Due: prettier --write, eslint --fix

fix: the modal prompt box is compatible with the position of titles and content icons
  packages/vue/src/modal/src/pc.vue
Due: prettier --write, eslint --fix

docs(Carousel): [Carousel] unified code example and improve the carousel demo style
  examples/sites/demos/pc/app/carousel/autoplay-composition-api.vue
  examples/sites/demos/pc/app/carousel/autoplay.vue
  examples/sites/demos/pc/app/carousel/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/carousel/basic-usage.vue
  examples/sites/demos/pc/app/carousel/card-mode-composition-api.vue
  examples/sites/demos/pc/app/carousel/card-mode.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-always-composition-api.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-always.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-hover-composition-api.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-hover.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-never-composition-api.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-never.vue
  examples/sites/demos/pc/app/carousel/carousel-events-composition-api.vue
  examples/sites/demos/pc/app/carousel/carousel-events.vue
  examples/sites/demos/pc/app/carousel/close-loop-composition-api.vue
  examples/sites/demos/pc/app/carousel/close-loop.vue
  examples/sites/demos/pc/app/carousel/custom-height-composition-api.vue
  examples/sites/demos/pc/app/carousel/custom-height.vue
  examples/sites/demos/pc/app/carousel/indicator-trigger-composition-api.vue
  examples/sites/demos/pc/app/carousel/indicator-trigger.vue
  examples/sites/demos/pc/app/carousel/initial-index-composition-api.vue
  examples/sites/demos/pc/app/carousel/initial-index.vue
  examples/sites/demos/pc/app/carousel/manual-play-composition-api.vue
  examples/sites/demos/pc/app/carousel/manual-play.vue
  examples/sites/demos/pc/app/carousel/play-interval-composition-api.vue
  examples/sites/demos/pc/app/carousel/play-interval.vue
  examples/sites/demos/pc/app/carousel/show-title-composition-api.vue
  examples/sites/demos/pc/app/carousel/show-title.vue
  examples/sites/demos/pc/app/carousel/up-down-carousel-composition-api.vue
  examples/sites/demos/pc/app/carousel/up-down-carousel.vue
Due: prettier --write, eslint --fix

fix(grid): [grid] fix remote filter default value
  examples/sites/demos/pc/app/grid/filter/server-filter-default-composition-api.vue
  examples/sites/demos/pc/app/grid/filter/server-filter-default.spec.js
  examples/sites/demos/pc/app/grid/filter/server-filter-default.vue
  examples/sites/demos/pc/app/grid/webdoc/grid-filter.js
  packages/vue/src/grid/src/filter/src/methods.ts
  packages/vue/src/grid/src/table/src/methods.ts
Due: prettier --write, eslint --fix

docs(Carousel): [Carousel]improve the description of document
  examples/sites/demos/apis/carousel.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,vue}) or (any of: *.md)
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
