Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,vue}": ["prettier --write", "eslint  --fix"],
  "*.md": ["prettier --write"]
}

fix(input): [input] modify the border issue of the input component under the saas theme
  packages/vue/src/input/src/mobile-first.vue
Due: prettier --write, eslint --fix

docs(grid): docs style adjust
  examples/sites/demos/apis/float-button.js
  examples/sites/demos/pc/app/grid/webdoc/grid-align.js
  examples/sites/demos/pc/app/grid/webdoc/grid-appearance-settings.js
  examples/sites/demos/pc/app/grid/webdoc/grid-context-menu.js
  examples/sites/demos/pc/app/grid/webdoc/grid-custom-style.js
  examples/sites/demos/pc/app/grid/webdoc/grid-custom.js
  examples/sites/demos/pc/app/grid/webdoc/grid-data-source.js
  examples/sites/demos/pc/app/grid/webdoc/grid-drag.js
  examples/sites/demos/pc/app/grid/webdoc/grid-dynamically-columns.js
  examples/sites/demos/pc/app/grid/webdoc/grid-edit.js
  examples/sites/demos/pc/app/grid/webdoc/grid-editor.js
  examples/sites/demos/pc/app/grid/webdoc/grid-empty.js
  examples/sites/demos/pc/app/grid/webdoc/grid-event.js
  examples/sites/demos/pc/app/grid/webdoc/grid-expand.js
  examples/sites/demos/pc/app/grid/webdoc/grid-faq.js
  examples/sites/demos/pc/app/grid/webdoc/grid-filter.js
  examples/sites/demos/pc/app/grid/webdoc/grid-fixed.js
  examples/sites/demos/pc/app/grid/webdoc/grid-footer.js
  examples/sites/demos/pc/app/grid/webdoc/grid-header.js
  examples/sites/demos/pc/app/grid/webdoc/grid-highlight.js
  examples/sites/demos/pc/app/grid/webdoc/grid-import-export.js
  examples/sites/demos/pc/app/grid/webdoc/grid-large-data.js
  examples/sites/demos/pc/app/grid/webdoc/grid-loading.js
  examples/sites/demos/pc/app/grid/webdoc/grid-mouse-keyboard.js
  examples/sites/demos/pc/app/grid/webdoc/grid-operation-column.js
  examples/sites/demos/pc/app/grid/webdoc/grid-pager.js
  examples/sites/demos/pc/app/grid/webdoc/grid-renderer.js
  examples/sites/demos/pc/app/grid/webdoc/grid-row-grouping.js
  examples/sites/demos/pc/app/grid/webdoc/grid-serial-column.js
  examples/sites/demos/pc/app/grid/webdoc/grid-size.js
  examples/sites/demos/pc/app/grid/webdoc/grid-slot.js
  examples/sites/demos/pc/app/grid/webdoc/grid-sort.js
  examples/sites/demos/pc/app/grid/webdoc/grid-span.js
  examples/sites/demos/pc/app/grid/webdoc/grid-tip.js
  examples/sites/demos/pc/app/grid/webdoc/grid-toolbar.js
  examples/sites/demos/pc/app/grid/webdoc/grid-tree-table.js
  examples/sites/demos/pc/app/grid/webdoc/grid-validation.js
Due: prettier --write, eslint --fix

fix(grid): [grid] modify the size of the grid component header icon under the saas theme
  packages/theme-saas/src/grid/header.less
Due: none

fix:修复saas主题
  packages/theme-saas/src/grid/table.less
  packages/theme-saas/src/tooltip/index.less
  packages/vue/src/dropdown-item/src/mobile-first.vue
  packages/vue/src/tooltip/src/mobile-first.vue
  packages/vue/src/tooltip/src/token.ts
Due: prettier --write, eslint --fix

fix: [image] 修复初始化异步操作时，预览大图空白的bug
  packages/renderless/src/image-viewer/vue.ts
Due: prettier --write, eslint --fix

fix: [cascader] 修复级联组件在hover模式下使用异步数据，modelValue更新却无法准确定位选中项的问题
  packages/renderless/src/cascader-node/vue.ts
Due: prettier --write, eslint --fix

fix: 优化只在hover状态下才监听value值更新
  packages/renderless/src/cascader-node/vue.ts
Due: prettier --write, eslint --fix

fix(input): 修改saas主题textarea右下角占位符颜色
  packages/theme-saas/src/textarea/index.less
Due: none

feat(release): add dist directory check for specific packages to optimize the release process (#3265)
  internals/cli/src/commands/release/releaseAlpha.ts
Due: prettier --write, eslint --fix

fix(base-select): [select,base-select] fix the highlight style of the selected item icon (#3268)
  examples/sites/demos/pc/app/select/collapse-tags-composition-api.vue
  examples/sites/demos/pc/app/select/collapse-tags.vue
  examples/sites/demos/pc/app/select/multiple-mix-composition-api.vue
  examples/sites/demos/pc/app/select/multiple-mix.vue
  packages/theme/package.json
  packages/theme/src/option/index.less
  packages/vue/src/base-select/package.json
  packages/vue/src/base-select/src/pc.vue
Due: prettier --write, eslint --fix

chore: release v3.22.1 (#3275)
  packages/vue-runtime/package.json
  packages/vue/package.json
Due: none

chore: added the cdn address of Huicharts component runtime, and updated the version number of docs to 3.22.3
  examples/sites/package.json
  examples/sites/playground/App.vue
Due: prettier --write, eslint --fix

docs: 在 import-components.md 中添加提升所有 TinyVue 相关依赖的配置示例，解决pnpm工程需要安装多个子包的问题
  examples/sites/demos/pc/webdoc/import-components.md
Due: prettier --write

fix: 修复search组件mobile-first模式下四种尺寸清空和搜索两个按钮不对齐的问题
  examples/sites/demos/mobile-first/app/search/size.vue
  packages/vue/src/search/src/mobile-first.vue
  packages/vue/src/search/src/token.ts
Due: prettier --write, eslint --fix

fix: 修复fullscreen样式会污染全局的问题
  packages/theme-saas/src/fluent-editor/index.less
  packages/theme/src/fluent-editor/index.less
Due: none

fix: modify the SaaS theme style of the dialog-box window
  packages/theme-saas/src/dialog-box/index.less
  packages/vue/src/dialog-box/src/mobile-first.vue
Due: prettier --write, eslint --fix

fix(select): remove the binding of dropStyle to the scrollbar
  packages/vue/src/select/src/pc.vue
Due: prettier --write, eslint --fix

chore: 添加TinyVue 仓库结构说明
  PACKAGES.md
Due: prettier --write

docs: 更新PACKAGES.md中的Aurora设计规范名称
  PACKAGES.md
Due: prettier --write

fix: 修复mobile-first端steps 标题行高
  packages/vue/src/steps/src/mobile-first/token/normal-token.ts
Due: prettier --write, eslint --fix

feat: 优化导入路径，提升代码结构和可读性
  packages/vue/src/grid/src/grid/grid.vue
Due: prettier --write, eslint --fix

chore: 还原表头和表尾的逻辑
  packages/vue/src/grid/src/footer/index.ts
  packages/vue/src/grid/src/footer/src/footer.ts
  packages/vue/src/grid/src/header/index.ts
  packages/vue/src/grid/src/header/src/header.ts
Due: prettier --write, eslint --fix

fix(grid): fix popper flip error
  packages/utils/src/popper/index.ts
Due: prettier --write, eslint --fix

feat: 优化表格组件，添加表头和表尾的逻辑，增强列宽调整功能，提升代码可读性
  packages/vue/src/grid/src/body/src/body.vue
Due: prettier --write, eslint --fix

fix(theme-saas): add margin-bottom:4px for select-dropdown flip to top
  packages/theme-saas/src/select-dropdown/index.less
Due: none

fix(textarea): 更新计数器背景颜色和相关样式
  .github/workflows/test-e2e-pr.yml
  packages/theme/src/textarea/index.less
  packages/theme/src/textarea/vars.less
Due: none

fix(number-animation): 为数值动画组件添加版本信息，修复SaaS主题下加载报错问题
  examples/sites/demos/pc/menus.js
  packages/theme-saas/src/index.less
  packages/theme-saas/src/number-animation/index.less
  packages/theme/src/index.less
  packages/theme/src/number-animation/vars.less
  packages/theme/src/table/vars.less
Due: prettier --write, eslint --fix

fix(theme): 修正vars.less中的背景颜色变量和格式问题
  packages/theme/src/base/vars.less
  packages/theme/src/textarea/vars.less
Due: none

fix:修复saas主题
  packages/theme-saas/src/tooltip/index.less
  packages/vue/src/dropdown-item/src/mobile-first.vue
  packages/vue/src/tooltip/src/token.ts
Due: prettier --write, eslint --fix

fix:修复默认时区不显示
  packages/renderless/src/date-panel/index.ts
Due: prettier --write, eslint --fix

fix: 修改file-upload组件e2e测试用例path导入方式
  examples/sites/demos/pc/app/file-upload/abort-quest.spec.ts
  examples/sites/demos/pc/app/file-upload/accept-file-image.spec.ts
  examples/sites/demos/pc/app/file-upload/basic-usage.spec.ts
  examples/sites/demos/pc/app/file-upload/before-upload-limit.spec.ts
  examples/sites/demos/pc/app/file-upload/custom-prefix.spec.ts
  examples/sites/demos/pc/app/file-upload/drag-upload.spec.ts
  examples/sites/demos/pc/app/file-upload/encrypt-config.spec.ts
  examples/sites/demos/pc/app/file-upload/file-picture-card.spec.ts
  examples/sites/demos/pc/app/file-upload/http-request.spec.ts
  examples/sites/demos/pc/app/file-upload/image-size.spec.ts
  examples/sites/demos/pc/app/file-upload/manual-upload.spec.ts
  examples/sites/demos/pc/app/file-upload/max-file-count.spec.ts
  examples/sites/demos/pc/app/file-upload/paste-upload.spec.ts
  examples/sites/demos/pc/app/file-upload/picture-card.spec.ts
  examples/sites/demos/pc/app/file-upload/picture-list.spec.ts
  examples/sites/demos/pc/app/file-upload/upload-events.spec.ts
  examples/sites/demos/pc/app/file-upload/upload-file-list-slot.spec.ts
  examples/sites/demos/pc/app/file-upload/upload-file-list.spec.ts
  examples/sites/demos/pc/app/file-upload/upload-request.spec.ts
Due: prettier --write, eslint --fix

feat: 移除表头和表尾组件的引用，优化导入路径，提升代码结构和可读性
  packages/vue/src/grid/src/table/src/Table.vue
  packages/vue/src/grid/src/utils/index.ts
Due: prettier --write, eslint --fix

fix: 修改file-upload组件e2e测试用例path为es6导入方式
  examples/sites/demos/pc/app/file-upload/abort-quest.spec.ts
  examples/sites/demos/pc/app/file-upload/accept-file-image.spec.ts
  examples/sites/demos/pc/app/file-upload/basic-usage.spec.ts
  examples/sites/demos/pc/app/file-upload/before-upload-limit.spec.ts
  examples/sites/demos/pc/app/file-upload/custom-prefix.spec.ts
  examples/sites/demos/pc/app/file-upload/drag-upload.spec.ts
  examples/sites/demos/pc/app/file-upload/encrypt-config.spec.ts
  examples/sites/demos/pc/app/file-upload/file-picture-card.spec.ts
  examples/sites/demos/pc/app/file-upload/http-request.spec.ts
  examples/sites/demos/pc/app/file-upload/image-size.spec.ts
  examples/sites/demos/pc/app/file-upload/manual-upload.spec.ts
  examples/sites/demos/pc/app/file-upload/max-file-count.spec.ts
  examples/sites/demos/pc/app/file-upload/multiple-file.spec.ts
  examples/sites/demos/pc/app/file-upload/paste-upload.spec.ts
  examples/sites/demos/pc/app/file-upload/picture-card.spec.ts
  examples/sites/demos/pc/app/file-upload/picture-list.spec.ts
  examples/sites/demos/pc/app/file-upload/upload-events.spec.ts
  examples/sites/demos/pc/app/file-upload/upload-file-list-slot.spec.ts
  examples/sites/demos/pc/app/file-upload/upload-file-list.spec.ts
  examples/sites/demos/pc/app/file-upload/upload-request.spec.ts
Due: prettier --write, eslint --fix

feat: 添加表头逻辑
  packages/vue/src/grid/src/body/src/body.vue
  packages/vue/src/grid/src/cell/src/cell.ts
Due: prettier --write, eslint --fix

feat: 优化单选表头渲染逻辑，简化参数结构，移除冗余的导入路径，提升代码可读性
  packages/vue/src/grid/src/cell/src/cell.ts
  packages/vue/src/grid/src/export/index.ts
  packages/vue/src/grid/src/export/src/export.ts
  packages/vue/src/grid/src/export/src/exportExcel.ts
Due: prettier --write, eslint --fix

fix(site): rewrite the theme of code highlight
  examples/sites/src/assets/custom-markdown.css
  examples/sites/src/views/components-doc/components/async-highlight.vue
Due: prettier --write, eslint --fix

fix: 修改pop-upload测试用例为es6导入方式
  examples/sites/demos/pc/app/pop-upload/basic-usage.spec.ts
  examples/sites/demos/pc/app/pop-upload/before-upload.spec.ts
  examples/sites/demos/pc/app/pop-upload/custom-request-headers.spec.ts
  examples/sites/demos/pc/app/pop-upload/file-limit.spec.ts
  examples/sites/demos/pc/app/pop-upload/file-type.spec.ts
  examples/sites/demos/pc/app/pop-upload/http-request.spec.ts
  examples/sites/demos/pc/app/pop-upload/prevent-delete-file.spec.ts
  examples/sites/demos/pc/app/pop-upload/upload-events.spec.ts
Due: prettier --write, eslint --fix

fix(site): use xml of highlight to format the source code
  examples/sites/src/main.js
  examples/sites/src/views/components-doc/components/async-highlight.vue
  examples/sites/src/views/components-doc/components/demo.vue
Due: prettier --write, eslint --fix

feat(dialog-select): 支持透传selectAll、selectChange和radioChange事件
  packages/renderless/src/dialog-select/index.ts
Due: prettier --write, eslint --fix
