Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(theme): [grid] fix xDesign grid toolbar button style (#1357)
  packages/theme/src/grid/smb-theme.js
  packages/theme/src/grid/toolbar.less
  packages/theme/src/grid/vars.less
Due: prettier --write, eslint --fix

docs: supplement the pr title description document (#1360)
  CONTRIBUTING.md
  CONTRIBUTING.zh-CN.md
Due: prettier --write

fix(tree-menu): [tree-menu] Fix the issue of asynchronous loading of tree-menu component (#1362)
  examples/sites/demos/pc/app/tree-menu/webdoc/tree-menu.js
  packages/renderless/src/tree-menu/index.ts
Due: prettier --write, eslint --fix

merge release-3.13.0 to dev (#1365)
  examples/sites/demos/pc/app/tree-menu/webdoc/tree-menu.js
  packages/renderless/src/cascader/index.ts
  packages/renderless/src/tree-menu/index.ts
  packages/theme/src/grid/smb-theme.js
  packages/theme/src/grid/toolbar.less
  packages/theme/src/grid/vars.less
Due: prettier --write, eslint --fix

style(rich-text-editor): [rich-text-editor] css variable error
  packages/theme/src/rich-text-editor/index.less
Due: none

fix(anchor):[anchor]When the anchor component has a default currentLink, the style is not the expected style
  packages/renderless/src/anchor/index.ts
Due: prettier --write, eslint --fix

test
  examples/react-docs/src/anchor/base.tsx
Due: prettier --write, eslint --fix

feat(sites): add saas sites env
  examples/sites/env/.env.saasopen
  examples/sites/env/.env.saasprod
  examples/sites/package.json
  packages/theme-saas/src/skeleton-item/index.less
  packages/theme-saas/src/skeleton/index.less
Due: none

feat(sites): add saas sites env (#1370)
  examples/sites/env/.env.saasopen
  examples/sites/env/.env.saasprod
  examples/sites/package.json
  packages/theme-saas/src/skeleton-item/index.less
  packages/theme-saas/src/skeleton/index.less
Due: none

fix(tree-menu): [tree-menu]fix treeMenu error in vue2
  packages/vue/src/area/src/index.ts
  packages/vue/src/tree-menu/src/index.ts
Due: prettier --write, eslint --fix

add breadcrumb
  examples/react-docs/src/App.tsx
  examples/react-docs/src/breadcrumb/base.jsx
  packages/react/modules.json
  packages/react/package.json
  packages/react/src/alert/src/pc.jsx
  packages/react/src/breadcrumb-item/index.ts
  packages/react/src/breadcrumb-item/package.json
  packages/react/src/breadcrumb-item/src/index.ts
  packages/react/src/breadcrumb-item/src/pc.jsx
  packages/react/src/breadcrumb/index.ts
  packages/react/src/breadcrumb/package.json
  packages/react/src/breadcrumb/src/index.ts
  packages/react/src/breadcrumb/src/pc.jsx
  packages/react/src/common/src/index.ts
  packages/react/src/common/src/vue-hooks.ts
  packages/react/src/common/src/vue-instance.ts
Due: prettier --write, eslint --fix

fix(anchor):[anchor]Fix formatting issues
  packages/renderless/src/anchor/index.ts
Due: prettier --write, eslint --fix

fix(select): [select] Fix the required or disable and selected option that cannot be cancelled
  packages/renderless/src/select/index.ts
  packages/renderless/src/select/vue.ts
Due: prettier --write, eslint --fix

fix(select): [select] Fix the required or disable and selected option that cannot be cancelled (#1374)
  packages/renderless/src/select/index.ts
  packages/renderless/src/select/vue.ts
Due: prettier --write, eslint --fix

fix(tree-menu): [tree-menu]fix treeMenu error in vue2 (#1371)
  packages/vue/src/area/src/index.ts
  packages/vue/src/tree-menu/src/index.ts
Due: prettier --write, eslint --fix

fix(anchor):[anchor]When the anchor component has a default currentLink, the style is not the expected style (#1368)
  packages/renderless/src/anchor/index.ts
Due: prettier --write, eslint --fix

fix: update review
  examples/sites/demos/pc/app/dialog-box/draggable-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/draggable.vue
Due: prettier --write, eslint --fix

fix(Modal): [Modal] The Modal Modal box component should not automatically close when hovering over a message with type=message
  packages/renderless/src/modal/index.ts
  packages/renderless/src/modal/vue.ts
  packages/renderless/types/modal.type.ts
  packages/vue/src/modal/src/pc.vue
Due: prettier --write, eslint --fix

fix(ci): cors
  examples/sites/CORS
  examples/sites/package.json
  examples/sites/vite.config.ts
Due: prettier --write, eslint --fix

fix(ci): compress build chunks
  examples/sites/copyStatic.mjs
  examples/sites/vite.config.ts
Due: prettier --write, eslint --fix

style(user-head): [user-head] improve typescript declaration of components
  packages/renderless/src/user-head/index.ts
  packages/renderless/src/user-head/vue.ts
  packages/renderless/types/user-head.type.ts
  packages/vue/src/user-head/src/index.ts
Due: prettier --write, eslint --fix

fix(ci): initialization error
  examples/sites/package.json
  examples/sites/vite.config.ts
Due: prettier --write, eslint --fix

docs: optimize contributing guide docs
  CONTRIBUTING.md
  CONTRIBUTING.zh-CN.md
Due: prettier --write

style(Modal): [Modal] improve the typescript declaration of Modal Component
  packages/renderless/src/modal/index.ts
  packages/renderless/types/modal.type.ts
Due: prettier --write, eslint --fix

fix(sites): add saas sites env
  examples/sites/env/.env.innersaas
  examples/sites/env/.env.saasopen
  examples/sites/env/.env.saasprod
  examples/sites/playground/App.vue
Due: prettier --write, eslint --fix

fix(sites): add saas sites env (#1385)
  examples/sites/env/.env.innersaas
  examples/sites/env/.env.saasopen
  examples/sites/env/.env.saasprod
  examples/sites/playground/App.vue
Due: prettier --write, eslint --fix

fix(date-picker): [date-picker] fixed the issue that entering date did not work
  packages/renderless/src/picker/index.ts
Due: prettier --write, eslint --fix

chore: test vercel deploy
  examples/sites/package.json
  examples/sites/vite.config.ts
  package.json
Due: prettier --write, eslint --fix

chore(ci): add pr preview through vercel deploy
  package.json
  packages/vue/src/guide/package.json
  vercel.json
Due: none

chore(ci): add pr preview through vercel deploy (#1388)
  package.json
  packages/vue/src/guide/package.json
  vercel.json
Due: none

docs(site): publish alpha docs
  examples/sites/package.json
  package.json
  packages/design/aurora/package.json
  packages/design/saas/package.json
  packages/design/smb/package.json
  packages/renderless/package.json
  packages/theme-mobile/package.json
  packages/theme-saas/package.json
  packages/theme-saas/src/index.less
  packages/theme/package.json
  packages/vue-common/package.json
  packages/vue-icon-saas/package.json
  packages/vue-icon/package.json
  packages/vue-locale/package.json
  packages/vue-saas-common/package.json
  packages/vue/package.json
  packages/vue/src/skeleton-item/package.json
  packages/vue/src/skeleton/package.json
Due: none

feat(e2e): set default value to playwright
  internals/playwright-config/src/index.js
Due: prettier --write, eslint --fix

docs: optimize contributing guide docs (#1382)
  CONTRIBUTING.md
  CONTRIBUTING.zh-CN.md
Due: prettier --write

feat(ci): e2e add vue2
  .github/workflows/test-e2e-pr.yml
  examples/vue2/playwright.config.js
  examples/vue3/playwright.config.js
  internals/playwright-config/src/index.js
Due: prettier --write, eslint --fix

feat(ci): e2e add vue2 4
  .github/workflows/test-e2e-pr.yml
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,vue}) or (any of: *.md)
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
