Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,vue}": ["prettier --write", "eslint  --fix"],
  "*.md": ["prettier --write"]
}

fix(popeditor): fix popeditor can not set grid props
  packages/vue/src/popeditor/src/pc.vue
Due: prettier --write, eslint --fix

fix:修复e2e测试用例
  examples/sites/demos/pc/app/date-picker/format.spec.ts
  examples/sites/demos/pc/app/time-picker/format.spec.ts
Due: prettier --write, eslint --fix

fix:修复e2e测试用例
  examples/sites/demos/pc/app/date-picker/date-range.spec.ts
  packages/theme/src/date-range/index.less
Due: prettier --write, eslint --fix

fix(number-animation): update version to 3.23.0
  packages/vue/src/number-animation/package.json
Due: none

fix(number-animation): update version to 3.23.0 (#3433)
  packages/vue/src/number-animation/package.json
Due: none

ci(workflow): 保持生产发布和测试发布流程一致，避免一些未识别的bug
  .github/workflows/dispatch-all-publish-alpha.yml
Due: none

feat(steps): 增加多端自定义步骤条块的样式功能
  examples/sites/demos/apis/steps.js
  packages/vue/src/steps/src/index.ts
  packages/vue/src/steps/src/mobile-first.vue
  packages/vue/src/steps/src/mobile-first/mobile-first-normal.vue
Due: prettier --write, eslint --fix

feat(steps): 增加不同节点差异化配置
  examples/sites/demos/apis/steps.js
  packages/vue/src/steps/src/mobile-first/mobile-first-normal.vue
Due: prettier --write, eslint --fix

feat(dialog-select): 添加清空和删除事件支持，更新相关文档和示例代码
  examples/sites/demos/apis/dialog-select.js
  examples/sites/demos/pc/app/dialog-select/nest-grid-multi-composition-api.vue
  examples/sites/demos/pc/app/dialog-select/nest-grid-multi.spec.ts
  examples/sites/demos/pc/app/dialog-select/nest-grid-multi.vue
  packages/renderless/src/dialog-select/index.ts
  packages/renderless/src/dialog-select/vue.ts
  packages/vue/src/dialog-select/src/pc.vue
Due: prettier --write, eslint --fix

fix(dialog-select): 更新已选栏事件描述，简化中文文档内容
  examples/sites/demos/apis/dialog-select.js
Due: prettier --write, eslint --fix

feat(dialog-select): 为清空和删除事件添加稳定性元数据，更新文档描述
  examples/sites/demos/apis/dialog-select.js
Due: prettier --write, eslint --fix

feat(steps): 增加版本号，完善渲染功能
  examples/sites/demos/apis/steps.js
  examples/sites/demos/mobile-first/app/steps/vertical.vue
  packages/vue/src/steps/src/mobile-first/mobile-first-normal.vue
Due: prettier --write, eslint --fix

feat(steps): 修改版本号
  examples/sites/demos/apis/steps.js
Due: prettier --write, eslint --fix

fix(steps): 根据metaerp新规范设计稿修改多端渲染逻辑和样式
  packages/vue/src/steps/src/mobile-first/mobile-first-normal.vue
  packages/vue/src/steps/src/mobile-first/token/normal-token.ts
Due: prettier --write, eslint --fix

typo(TextPopup):将组件文档内的value改为modelValue
  examples/sites/demos/apis/text-popup.js
  examples/sites/demos/pc/app/text-popup/clear-modelValue-composition-api.vue
  examples/sites/demos/pc/app/text-popup/clear-modelValue.spec.ts
  examples/sites/demos/pc/app/text-popup/clear-modelValue.vue
  examples/sites/demos/pc/app/text-popup/modelValue-composition-api.vue
  examples/sites/demos/pc/app/text-popup/modelValue.spec.ts
  examples/sites/demos/pc/app/text-popup/modelValue.vue
  examples/sites/demos/pc/app/text-popup/webdoc/text-popup.js
  packages/vue/src/text-popup/__tests__/text-popup.test.tsx
Due: prettier --write, eslint --fix

fix(text-popup): 将测试用例中的value更改为modelValue
  examples/sites/demos/pc/app/text-popup/modelValue.spec.ts
Due: prettier --write, eslint --fix

fix(drowdown): add tiny-* className to drowdown-menu's wrapper dom
  packages/vue/src/dropdown-menu/src/mobile-first.vue
Due: prettier --write, eslint --fix

chore: update v3.23.0 changelog
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/package.json
Due: prettier --write

docs(user-head): 更新头像组件文档，优化描述信息，移除冗余字段
  examples/sites/demos/apis/user-head.js
Due: prettier --write, eslint --fix

feat(tooltip): 初步用模板重构tooltip
  examples/sites/src/assets/custom-markdown.less
  examples/sites/src/main.js
  packages/renderless/src/tooltip/new-index.ts
  packages/renderless/src/tooltip/new-vue.ts
  packages/vue-hooks/index.ts
  packages/vue-hooks/src/useTimer.ts
  packages/vue/src/tooltip/src/index.ts
  packages/vue/src/tooltip/src/tooltip.vue
Due: prettier --write, eslint --fix

chore: update v3.23.0 changelog (#3446)
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/package.json
Due: prettier --write

fix(select): fix can not set grid rowId in select
  packages/vue/src/select/src/pc.vue
Due: prettier --write, eslint --fix

fix(tooltip): 还原所有属性的功能，核验所有示例
  packages/renderless/src/tooltip/new-index.ts
  packages/renderless/src/tooltip/new-vue.ts
  packages/vue/src/tooltip/src/tooltip.vue
Due: prettier --write, eslint --fix

fix(tooltip): 适配 vue2的场景
  packages/renderless/src/tooltip/new-vue.ts
  packages/vue-hooks/src/useTimer.ts
  packages/vue/src/tooltip/src/index.ts
  packages/vue/src/tooltip/src/tooltip.vue
Due: prettier --write, eslint --fix

fix(tooltip): fix 检视意见
  packages/renderless/src/tooltip/new-index.ts
  packages/renderless/src/tooltip/new-vue.ts
  packages/vue/src/tooltip/src/tooltip.vue
Due: prettier --write, eslint --fix

docs(user-head): 更新头像组件文档，修正类型描述为图标组件
  examples/sites/demos/apis/user-head.js
  packages/vue/src/user-head/src/index.ts
Due: prettier --write, eslint --fix

fix(text-popup): 更新测试用例中的URL路径为modelValue
  examples/sites/demos/pc/app/text-popup/modelValue.spec.ts
Due: prettier --write, eslint --fix

fix(tooltip): 修复 e2e 测试
  examples/sites/demos/pc/app/tooltip/content-max-height.spec.js
  examples/sites/demos/pc/app/tooltip/control.spec.js
  examples/sites/demos/pc/app/tooltip/popper-options.spec.js
  packages/renderless/src/tooltip/new-vue.ts
  packages/vue/src/tooltip/package.json
  packages/vue/src/tooltip/src/clickoutside.ts
  packages/vue/src/tooltip/src/tooltip.vue
Due: prettier --write, eslint --fix

fix(tooltip): 删除多余的代码
  packages/renderless/src/tooltip/new-index.ts
  packages/vue/src/tooltip/src/clickoutside.ts
  packages/vue/src/tooltip/src/tooltip.vue
Due: prettier --write, eslint --fix

fix:修复暗色模式下图标颜色问题
  packages/theme-saas/src/svgs/pushpin-solid.svg
  packages/theme-saas/src/svgs/pushpin.svg
  packages/theme/src/svgs/fullscreen-right.svg
  packages/theme/src/svgs/minscreen-right.svg
  packages/theme/src/svgs/pushpin-solid.svg
  packages/theme/src/svgs/pushpin.svg
Due: none

fix(search): 修复多端模式下拉类型边距问题
  packages/vue/src/search/src/token.ts
Due: prettier --write, eslint --fix

fix:面板分割动画卡顿显示异常
  packages/theme-saas/src/split/index.less
  packages/theme/src/base/dark-theme.less
  packages/theme/src/split/index.less
Due: none

feat(qr-code): 将必要的属性，添加响应式
  examples/sites/demos/pc/app/qr-code/style-composition-api.vue
  examples/sites/demos/pc/app/qr-code/style.vue
  packages/renderless/src/qr-code/vue.ts
Due: prettier --write, eslint --fix

chore: 删除重复监听
  packages/renderless/src/qr-code/vue.ts
Due: prettier --write, eslint --fix

fix(tree-menu): change the color of the dark mode icon
  packages/theme/src/tree-menu/index.less
  packages/theme/src/tree-menu/vars.less
Due: none

fix(tooltip): 新增适配以前的api, state 等等
  packages/renderless/src/tooltip/new-vue.ts
Due: prettier --write, eslint --fix

chore: update pushpin.svg
  packages/theme-saas/src/svgs/pushpin.svg
  packages/theme/src/svgs/pushpin.svg
Due: none

docs(user-head): 修正modelValue类型描述为支持组件和字符串
  examples/sites/demos/apis/user-head.js
Due: prettier --write, eslint --fix

Revert "chore: update pushpin.svg (#3458)"
  packages/theme-saas/src/svgs/pushpin.svg
  packages/theme/src/svgs/pushpin.svg
Due: none

fix:暗色模式下图标显示
  packages/theme-saas/src/svgs/pushpin-solid.svg
  packages/theme-saas/src/svgs/pushpin.svg
  packages/theme/src/svgs/fullscreen-right.svg
  packages/theme/src/svgs/minscreen-right.svg
  packages/theme/src/svgs/pushpin-solid.svg
  packages/theme/src/svgs/pushpin.svg
Due: none
