Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,vue}": ["prettier --write", "eslint  --fix"],
  "*.md": ["prettier --write"]
}

fix(icon-saas): 手工修改radio图标
  packages/theme-saas/src/svgs/radio.svg
Due: none

docs
  examples/sites/demos/pc/webdoc/v3.28.0-release-article.md
Due: prettier --write

fix(tag): fix tag test case component reference issue
  examples/sites/demos/pc/app/tag/round.vue
Due: prettier --write, eslint --fix

feat:补充版本日志，修改演练场版本 (#3953)
  examples/sites/demos/pc/webdoc/changelog-en.md
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/playground/App.vue
Due: prettier --write, eslint --fix

fix(dialog-select): fix show selected box when props.showSelectedBox=false
  packages/renderless/src/dialog-select/index.ts
  packages/vue/src/dialog-select/src/pc.vue
Due: prettier --write, eslint --fix

fix(theme): fix input show 2 eye icons when focus in password mode
  packages/theme-saas/src/input/index.less
  packages/theme/src/input/index.less
Due: none

docs: 在saas模式下隐藏锚点组件基本示例
  examples/sites/demos/pc/app/anchor/webdoc/anchor.js
Due: prettier --write, eslint --fix

fix(cascader): 修复cascader示例构建报错
  examples/sites/demos/pc/app/cascader/filter-mode-composition-api.vue
Due: prettier --write, eslint --fix

fix(input): modify css selector
  packages/theme-saas/src/input/index.less
  packages/theme/src/input/index.less
Due: none

fix(tabs): 修复tabs组件r示例构建报错
  examples/sites/demos/pc/app/tabs/tooltip-composition-api.vue
Due: prettier --write, eslint --fix

fix(user-head): 修复user-head组件r示例构建报错
  examples/sites/demos/pc/app/user-head/color-composition-api.vue
Due: prettier --write, eslint --fix

fix: 修复v-model值常量字符串或者布尔值导致官网构建报错的问题
  examples/sites/demos/pc/app/cascader/filter-mode-composition-api.vue
  examples/sites/demos/pc/app/tabs/tooltip-composition-api.vue
  examples/sites/demos/pc/app/user-head/color-composition-api.vue
Due: prettier --write, eslint --fix

fix(tag-input): add tag-input's css file into theme-saas
  packages/theme-saas/src/tag-input/index.less
  packages/theme-saas/src/tag-input/vars.less
Due: none

fix(saas): remove css
  packages/theme-saas/src/tag-input/index.less
  packages/theme-saas/src/tag-input/vars.less
Due: none

docs(tag-input): add example
  examples/sites/demos/pc/app/tag-input/clearable-tag-composition-api.vue
  examples/sites/demos/pc/app/tag-input/clearable-tag.vue
  examples/sites/demos/pc/app/tag-input/collapsed-tag-composition-api.vue
  examples/sites/demos/pc/app/tag-input/collapsed-tag.vue
  examples/sites/demos/pc/app/tag-input/disabled-readonly-composition-api.vue
  examples/sites/demos/pc/app/tag-input/disabled-readonly.vue
  examples/sites/demos/pc/app/tag-input/draggable-tag-composition-api.vue
  examples/sites/demos/pc/app/tag-input/draggable-tag.spec.ts
  examples/sites/demos/pc/app/tag-input/draggable-tag.vue
  examples/sites/demos/pc/app/tag-input/max-composition-api.vue
  examples/sites/demos/pc/app/tag-input/max.vue
  examples/sites/demos/pc/app/tag-input/prefix-suffix-composition-api.vue
  examples/sites/demos/pc/app/tag-input/prefix-suffix.vue
  examples/sites/demos/pc/app/tag-input/separator-tag-composition-api.vue
  examples/sites/demos/pc/app/tag-input/separator-tag.vue
  examples/sites/demos/pc/app/tag-input/webdoc/tag-input.js
  packages/theme/src/tag-input/index.less
  packages/vue/src/tag-input/src/index.ts
Due: prettier --write, eslint --fix

fix: modify review comments
  packages/renderless/src/modal/vue.ts
  packages/renderless/types/modal.type.ts
  packages/vue/src/modal/src/pc.vue
Due: prettier --write, eslint --fix

fix: modify review comments
  packages/renderless/src/dialog-box/vue.ts
  packages/renderless/types/dialog-box.type.ts
  packages/vue/src/dialog-box/src/pc.vue
Due: prettier --write, eslint --fix

fix(date-panel): remove unnecessary border style for body-wrapper
  packages/theme/src/date-panel/index.less
Due: none

fix(grid): fix slot default lead to table rerender
  packages/vue/src/grid/src/body/src/body.tsx
  packages/vue/src/grid/src/cell/src/cell.ts
  packages/vue/src/grid/src/table/src/table.ts
Due: prettier --write, eslint --fix

feat:添加saas官网search-box文档
  examples/sites/demos/apis/search-box.js
  examples/sites/demos/pc/app/search-box/append-to-body.vue
  examples/sites/demos/pc/app/search-box/auto-match.vue
  examples/sites/demos/pc/app/search-box/basic-usage.vue
  examples/sites/demos/pc/app/search-box/custom-panel.vue
  examples/sites/demos/pc/app/search-box/data-source.ts
  examples/sites/demos/pc/app/search-box/default-field.vue
  examples/sites/demos/pc/app/search-box/editable-data.ts
  examples/sites/demos/pc/app/search-box/editable.vue
  examples/sites/demos/pc/app/search-box/empty-placeholder.vue
  examples/sites/demos/pc/app/search-box/events.vue
  examples/sites/demos/pc/app/search-box/group-key-data.ts
  examples/sites/demos/pc/app/search-box/group-key.vue
  examples/sites/demos/pc/app/search-box/help.vue
  examples/sites/demos/pc/app/search-box/id-map-key.vue
  examples/sites/demos/pc/app/search-box/item-placeholder.vue
  examples/sites/demos/pc/app/search-box/max-length.vue
  examples/sites/demos/pc/app/search-box/max-time-length.vue
  examples/sites/demos/pc/app/search-box/merge-tag.vue
  examples/sites/demos/pc/app/search-box/panel-max-height.vue
  examples/sites/demos/pc/app/search-box/potential-match.vue
  examples/sites/demos/pc/app/search-box/settings.vue
  examples/sites/demos/pc/app/search-box/size.vue
  examples/sites/demos/pc/app/search-box/split-input-value.vue
  examples/sites/demos/pc/app/search-box/suffix-icon.vue
  examples/sites/demos/pc/app/search-box/v-model.vue
  examples/sites/demos/pc/app/search-box/webdoc/search-box.cn.md
  examples/sites/demos/pc/app/search-box/webdoc/search-box.en.md
  examples/sites/demos/pc/app/search-box/webdoc/search-box.js
  examples/sites/demos/saas/menus.js
  examples/sites/package.json
  examples/sites/vite.config.ts
  examples/sites/vite.extend.ts
  internals/cli/src/config/vite.ts
Due: prettier --write, eslint --fix

fix(tabs): remove redundant border-bottom styles
  packages/theme/src/tabs/index.less
Due: none

fix(modal): align close delay time with animation duration
  packages/renderless/src/modal/index.ts
Due: prettier --write, eslint --fix

feat(button): add accessibility information to the button component
  packages/vue/src/button/src/pc.vue
Due: prettier --write, eslint --fix

fix(icon-saas): restore mobile-radio.svg
  packages/theme-saas/src/svgs/mobile-radio.svg
Due: none

fix(drawer): add aria-* attribute
  examples/sites/demos/pc/app/drawer/close-on-press-escape.spec.ts
  examples/sites/demos/pc/app/drawer/placement.spec.ts
  packages/vue/src/drawer/src/pc.vue
Due: prettier --write, eslint --fix

fix(icon-saas): 提交编译后的icon-saas产物
  packages/theme-saas/src/svgs/a-i-general-filled.svg
  packages/theme-saas/src/svgs/a-i-general.svg
  packages/theme-saas/src/svgs/general-ai-filled.svg
  packages/theme-saas/src/svgs/general-ai.svg
  packages/vue-icon-saas/index.ts
  packages/vue-icon-saas/src/a-i-general.ts
  packages/vue-icon-saas/src/general-ai.ts
Due: prettier --write, eslint --fix

fix(icon): 更新 saas图标的文档
  examples/sites/demos/pc/app/icon/advance-icons.js
  examples/sites/demos/pc/app/icon/advance-usage-composition-api.vue
  examples/sites/demos/pc/app/icon/advance-usage.vue
  examples/sites/demos/pc/app/icon/webdoc/icon.js
Due: prettier --write, eslint --fix

docs(tag-input): add example
  examples/sites/demos/pc/app/tag-input/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/tag-input/basic-usage.spec.ts
  examples/sites/demos/pc/app/tag-input/clearable-tag-composition-api.vue
  examples/sites/demos/pc/app/tag-input/clearable-tag.vue
  examples/sites/demos/pc/app/tag-input/collapsed-tag-composition-api.vue
  examples/sites/demos/pc/app/tag-input/collapsed-tag.vue
  examples/sites/demos/pc/app/tag-input/disabled-readonly-composition-api.vue
  examples/sites/demos/pc/app/tag-input/disabled-readonly.vue
  examples/sites/demos/pc/app/tag-input/draggable-tag-composition-api.vue
  examples/sites/demos/pc/app/tag-input/draggable-tag.spec.ts
  examples/sites/demos/pc/app/tag-input/draggable-tag.vue
  examples/sites/demos/pc/app/tag-input/max-composition-api.vue
  examples/sites/demos/pc/app/tag-input/max.vue
  examples/sites/demos/pc/app/tag-input/prefix-suffix-composition-api.vue
  examples/sites/demos/pc/app/tag-input/prefix-suffix.vue
  examples/sites/demos/pc/app/tag-input/separator-tag-composition-api.vue
  examples/sites/demos/pc/app/tag-input/separator-tag.vue
  examples/sites/demos/pc/app/tag-input/webdoc/tag-input.js
  packages/theme/src/tag-input/index.less
Due: prettier --write, eslint --fix

fix: revise review comments
  examples/sites/demos/pc/app/tag-input/webdoc/tag-input.js
Due: prettier --write, eslint --fix

fix(select): add max-height:50% for select-dropdown
  packages/renderless/src/select/vue.ts
  packages/theme-saas/src/select-dropdown/index.less
  packages/theme/src/select-dropdown/index.less
Due: prettier --write, eslint --fix

fix: add aria-* attribute
  packages/vue/src/popover/src/pc.vue
Due: prettier --write, eslint --fix

fix(vitest): allow passing with no tests found in configuration
  examples/vue3/vitest.config.ts
Due: prettier --write, eslint --fix

fix(theme-saas): add losted less vars define
  packages/theme-saas/src/select-dropdown/index.less
Due: none

fix: modify e2e-test
  examples/sites/demos/pc/app/popover/basic-usage.spec.js
  examples/sites/demos/pc/app/popover/custom-popper.spec.js
  examples/sites/demos/pc/app/popover/delay.spec.js
  examples/sites/demos/pc/app/popover/disabled.spec.js
  examples/sites/demos/pc/app/popover/events.spec.js
  examples/sites/demos/pc/app/popover/ignore-boundaries.spec.js
  examples/sites/demos/pc/app/popover/offset.spec.js
  packages/vue/src/popover/src/pc.vue
Due: prettier --write, eslint --fix

fix(icon-saas): add 3 raw icons
  packages/theme-saas/src/svgs-raw/IconAIGeneral.svg
  packages/theme-saas/src/svgs-raw/IconAIGeneralFilled.svg
  packages/theme-saas/src/svgs-raw/IconButtonBar.svg
  packages/theme-saas/src/svgs-raw/IconButtonBarFilled.svg
  packages/theme-saas/src/svgs-raw/IconDialog.svg
  packages/theme-saas/src/svgs-raw/IconDialogFilled.svg
  packages/theme-saas/src/svgs-raw/IconModalAlert.svg
  packages/theme-saas/src/svgs-raw/IconModalAlertFilled.svg
Due: none

fix(saas-icon): copy raw svgs into svg
  packages/theme-saas/src/svgs-raw/IconDialogBox.svg
  packages/theme-saas/src/svgs-raw/IconDialogBoxFilled.svg
  packages/theme-saas/src/svgs-raw/IconPromptBox.svg
  packages/theme-saas/src/svgs-raw/IconPromptBoxFilled.svg
  packages/theme-saas/src/svgs/button-bar-filled.svg
  packages/theme-saas/src/svgs/button-bar.svg
  packages/theme-saas/src/svgs/dialog-box-filled.svg
  packages/theme-saas/src/svgs/dialog-box.svg
  packages/theme-saas/src/svgs/prompt-box-filled.svg
  packages/theme-saas/src/svgs/prompt-box.svg
Due: none

fix(icon-saas): 构建三个新图标的脚本
  packages/vue-icon-saas/index.ts
  packages/vue-icon-saas/src/dialog-box.ts
  packages/vue-icon-saas/src/prompt-box.ts
Due: prettier --write, eslint --fix
