Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix：修改文档chart引入名称
  examples/sites/demos/pc/app/chart/webdoc/chart-docs.cn.md
  examples/sites/demos/pc/app/chart/webdoc/chart-docs.en.md
Due: prettier --write

fix: change theme
  packages/theme/src/color-select-panel/index.less
  packages/theme/src/color-select-panel/vars.less
Due: none

feat(checkbox): [checkbox] Revise inspection comments
  packages/theme/src/checkbox/index.less
  packages/theme/src/checkbox/vars.less
Due: none

fix:修改plus描述
  examples/sites/src/i18n/en.json
  examples/sites/src/i18n/zh.json
  examples/sites/src/views/overview.vue
Due: prettier --write, eslint --fix

fix(site): docsearch的暗黑适配
  examples/sites/src/style.css
Due: none

fix: revise inspection comments
  packages/theme/src/crop/index.less
  packages/theme/src/crop/vars.less
Due: none

feat(floatbar): [floatbar] Adapt to dark themes
  examples/sites/demos/pc/app/floatbar/custom-style-composition-api.vue
  examples/sites/demos/pc/app/floatbar/custom-style.spec.ts
  examples/sites/demos/pc/app/floatbar/custom-style.vue
Due: prettier --write, eslint --fix

fix(chart): fix charts-docs in dark mode
  examples/sites/src/views/components-doc/common.vue
  packages/theme/src/checkbox/vars.less
Due: prettier --write, eslint --fix

fix(site): add html selector before .dark
  examples/sites/src/assets/custom-block.less
  examples/sites/src/assets/custom-markdown.css
  examples/sites/src/views/components-doc/components/api-docs.vue
  examples/sites/src/views/components-doc/components/demo.vue
  examples/sites/src/views/components-doc/components/float-settings.vue
  examples/sites/src/views/components-doc/components/header.vue
  examples/sites/src/views/layout/layout.vue
  examples/sites/src/views/overview.vue
Due: prettier --write, eslint --fix

fix(docs): [file-upload] 修复上传组件文档问题
  examples/sites/demos/mobile-first/app/file-upload/webdoc/file-upload.js
  examples/sites/demos/pc/app/file-upload/webdoc/file-upload.js
Due: prettier --write, eslint --fix

feat(floatbar): [floatbar] Revise inspection comments
  packages/theme/src/floatbar/vars.less
Due: none

feat(floatbar): [floatbar] Revise inspection comments
  packages/theme/src/floatbar/index.less
  packages/theme/src/floatbar/vars.less
Due: none

fix(tree-menu): [tree-menu] resolve input box style issues during folding and hover status issues in dark mode
  packages/theme/src/tree-menu/index.less
  packages/vue/src/tree-menu/src/pc.vue
Due: prettier --write, eslint --fix

fix(utils): add nanoid.ts to utils
  packages/utils/src/index.ts
  packages/utils/src/nanoid/index.ts
  packages/utils/src/nanoid/nanoid.ts
Due: prettier --write, eslint --fix

fix: change theme
  packages/theme/src/fluent-editor/index.less
  packages/theme/src/fluent-editor/vars.less
Due: none

fix(theme): [card,qr-code,skeleton] add dark theme
  examples/sites/demos/pc/app/card/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/card/basic-usage.vue
  examples/sites/demos/pc/app/card/card-disabled-composition-api.vue
  examples/sites/demos/pc/app/card/card-disabled.vue
  examples/sites/demos/pc/app/card/card-events-composition-api.vue
  examples/sites/demos/pc/app/card/card-events.vue
  examples/sites/demos/pc/app/card/card-group-composition-api.vue
  examples/sites/demos/pc/app/card/card-group.vue
  examples/sites/demos/pc/app/card/card-select-composition-api.vue
  examples/sites/demos/pc/app/card/card-select.vue
  examples/sites/demos/pc/app/card/card-size-composition-api.vue
  examples/sites/demos/pc/app/card/card-size.vue
  examples/sites/demos/pc/app/card/card-status-composition-api.vue
  examples/sites/demos/pc/app/card/card-status.vue
  examples/sites/demos/pc/app/card/card-type-composition-api.vue
  examples/sites/demos/pc/app/card/card-type.vue
  examples/sites/demos/pc/app/card/check-mode-composition-api.vue
  examples/sites/demos/pc/app/card/check-mode.vue
  examples/sites/demos/pc/app/card/check-type-checkbox-composition-api.vue
  examples/sites/demos/pc/app/card/check-type-checkbox.vue
  examples/sites/demos/pc/app/card/check-type-radio-composition-api.vue
  examples/sites/demos/pc/app/card/check-type-radio.vue
  examples/sites/demos/pc/app/card/custom-class-composition-api.vue
  examples/sites/demos/pc/app/card/custom-class.vue
  examples/sites/demos/pc/app/card/operate-bar-composition-api.vue
  examples/sites/demos/pc/app/card/operate-bar.vue
  examples/sites/demos/pc/app/card/slot-composition-api.vue
  examples/sites/demos/pc/app/card/slot.vue
  packages/theme/src/qr-code/index.less
  packages/theme/src/qr-code/vars.less
  packages/theme/src/skeleton-item/vars.less
  packages/theme/src/vars.less
  packages/vue/src/qr-code/src/pc.vue
Due: prettier --write, eslint --fix

fix: add test cases
  examples/sites/demos/pc/app/fluent-editor/basic-usage.spec.ts
  examples/sites/demos/pc/app/fluent-editor/before-editor-init.spec.ts
  examples/sites/demos/pc/app/fluent-editor/data-switch.spec.ts
  examples/sites/demos/pc/app/fluent-editor/disabled.spec.ts
  examples/sites/demos/pc/app/fluent-editor/image-upload.spec.ts
  examples/sites/demos/pc/app/fluent-editor/options.spec.ts
Due: prettier --write, eslint --fix

fix: add e2e test cases
  examples/sites/demos/pc/app/fluent-editor/data-switch.spec.ts
Due: prettier --write, eslint --fix

feat:暗色主题适配
  examples/sites/demos/pc/app/image/lazy-composition-api.vue
  examples/sites/demos/pc/app/image/lazy.vue
  examples/sites/demos/pc/app/loading/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/loading/basic-usage.vue
  examples/sites/demos/pc/app/milestone/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/milestone/basic-usage.spec.ts
  examples/sites/demos/pc/app/milestone/show-number.spec.ts
  examples/sites/demos/pc/app/milestone/solid-style.spec.ts
  packages/renderless/src/milestone/index.ts
  packages/theme/src/calendar-view/index.less
  packages/theme/src/calendar-view/vars.less
  packages/theme/src/milestone/vars.less
  packages/theme/src/steps/index.less
  packages/theme/src/steps/vars.less
Due: prettier --write, eslint --fix

feat(select): [select] adapt to dark themes
  examples/sites/demos/pc/app/select/multiple-mix-composition-api.vue
  examples/sites/demos/pc/app/select/multiple-mix.vue
  examples/sites/demos/pc/app/select/popup-style-position-composition-api.vue
  examples/sites/demos/pc/app/select/popup-style-position.vue
  examples/sites/demos/pc/app/select/slot-footer-composition-api.vue
  examples/sites/demos/pc/app/select/slot-footer.vue
  examples/sites/demos/pc/app/select/slot-reference-composition-api.vue
  examples/sites/demos/pc/app/select/slot-reference.vue
  packages/renderless/src/select/index.ts
  packages/theme/src/option/index.less
  packages/theme/src/option/vars.less
  packages/theme/src/select-dropdown/index.less
  packages/theme/src/select-dropdown/vars.less
  packages/theme/src/svgs/check.svg
Due: prettier --write, eslint --fix

feat(filter-box): [select] adapt to dark themes
  packages/theme/src/filter-box/index.less
  packages/theme/src/filter-box/vars.less
  packages/vue/src/filter-box/src/pc.vue
Due: prettier --write, eslint --fix

fix:修复plus官网描述和搜索 (#3061)
  examples/sites/src/i18n/en.json
  examples/sites/src/i18n/zh.json
  examples/sites/src/main.js
  examples/sites/src/views/components/components.vue
  examples/sites/src/views/overview.vue
Due: prettier --write, eslint --fix

fix(grid): [grid] add dark theme
  packages/theme/src/grid/checkbox.less
  packages/theme/src/grid/radio.less
Due: none

fix(ip-address): fix IPv6 display error when ipValidator not true
  packages/renderless/src/ip-address/index.ts
  packages/vue/src/ip-address/__tests__/ip-address.test.tsx
Due: prettier --write, eslint --fix

test(ip-address): enhance tests
  packages/vue/src/ip-address/__tests__/ip-address.test.tsx
Due: prettier --write, eslint --fix

fix(input): fix size attr with opposite description
  examples/sites/demos/apis/input.js
Due: prettier --write, eslint --fix

test(numeric): fix test cases error
  packages/vue/src/numeric/__tests__/numeric.test.tsx
Due: prettier --write, eslint --fix

fix(numeric): update controls-position prop type and add validator
  examples/sites/demos/apis/numeric.js
  packages/vue/src/numeric/__tests__/numeric.test.tsx
  packages/vue/src/numeric/src/index.ts
Due: prettier --write, eslint --fix

fix(input): fix prop types for cols, rows, and input-box-type
  examples/sites/demos/apis/input.js
Due: prettier --write, eslint --fix

fix(image): fix 'appendToBody' definition placement error
  examples/sites/demos/apis/image.js
Due: prettier --write, eslint --fix

feat(slider): [slider] adapt to dark themes and adjust common variables
  packages/theme/src/base/aurora-theme.less
  packages/theme/src/base/dark-theme.less
  packages/theme/src/base/old-theme.less
  packages/theme/src/base/vars.less
  packages/theme/src/option/vars.less
  packages/theme/src/slider/index.less
  packages/theme/src/slider/vars.less
Due: none

fix:修复plus官网描述和搜索
  examples/sites/src/i18n/en.json
  examples/sites/src/i18n/zh.json
  examples/sites/src/main.js
  examples/sites/src/views/components/components.vue
  examples/sites/src/views/overview.vue
Due: prettier --write, eslint --fix

fix:修复plus官网借口以及类型文档显示
  examples/sites/src/views/components-doc/common.vue
Due: prettier --write, eslint --fix

feat: add hoc feat
  packages/vue-common/src/adapter/vue2.7/hoc.tsx
  packages/vue-common/src/adapter/vue2.7/index.ts
  packages/vue-common/src/adapter/vue2/hoc.tsx
  packages/vue-common/src/adapter/vue2/index.ts
  packages/vue-common/src/adapter/vue3/hoc.tsx
  packages/vue-common/src/adapter/vue3/index.ts
  packages/vue-common/src/index.ts
Due: prettier --write, eslint --fix

feat: hoc test on button component
  examples/sites/demos/pc/app/button/basic-usage.vue
  packages/vue/src/button/src/index.ts
Due: prettier --write, eslint --fix

fix: add --ui option on vitest, upgrade vitest ui version to 2
  examples/vue3/package.json
Due: none

fix(grid): [grid] fix scrollLeft error after header drag resize
  packages/vue/src/grid/src/header/src/header.ts
Due: prettier --write, eslint --fix

fix: typo
  examples/sites/demos/apis/card.js
Due: prettier --write, eslint --fix

fix(card): fix card type definition error
  examples/sites/demos/apis/card.js
  packages/vue/src/card/src/index.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,vue}) or (any of: *.md)
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
