Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(select): modify the DOM structure of all options in the select to be consistent with that of the regular options to solve the text alignment issue
  packages/theme-saas/src/select-dropdown/index.less
  packages/vue/src/select/src/pc.vue
Due: prettier --write, eslint --fix

feat(dialog-select): [dialog-select] add attribute lock-scroll
  examples/sites/demos/apis/dialog-select.js
  examples/sites/demos/pc/app/dialog-select/nest-grid-multi-composition-api.vue
  examples/sites/demos/pc/app/dialog-select/nest-grid-multi.spec.ts
  examples/sites/demos/pc/app/dialog-select/nest-grid-multi.vue
  examples/sites/demos/pc/app/dialog-select/webdoc/dialog-select.js
  packages/vue/src/dialog-select/src/index.ts
  packages/vue/src/dialog-select/src/pc.vue
Due: prettier --write, eslint --fix

feat(popeditor): [popeditor] add attribute lock-scroll
  examples/sites/demos/apis/popeditor.js
  examples/sites/demos/pc/app/popeditor/condition-layout-composition-api.vue
  examples/sites/demos/pc/app/popeditor/condition-layout.spec.ts
  examples/sites/demos/pc/app/popeditor/condition-layout.vue
  examples/sites/demos/pc/app/popeditor/webdoc/popeditor.js
  packages/vue/src/popeditor/src/index.ts
  packages/vue/src/popeditor/src/pc.vue
Due: prettier --write, eslint --fix

fix(robot): 优化robot的消息处理
  examples/sites/src/views/components-doc/composition/utils.ts
Due: prettier --write, eslint --fix

fix(grid): add a border to the last row of the grid under the saas theme
  packages/theme-saas/src/grid/table.less
Due: none

feat(grid): 优化mcp配置用法和示例代码
  examples/sites/demos/pc/app/grid/base/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/grid/base/basic-usage.spec.js
  examples/sites/demos/pc/app/grid/base/basic-usage.vue
  examples/sites/package.json
  examples/sites/playground/App.vue
  examples/sites/src/App.vue
  examples/sites/src/views/components-doc/composition/DifyModelProvider.ts
  examples/sites/src/views/components-doc/composition/useTinyRobot.ts
  examples/sites/src/views/components-doc/composition/utils.ts
Due: prettier --write, eslint --fix

docs(grid): 简化基本用法示例中的状态管理，移除不必要的属性
  examples/sites/demos/pc/app/grid/base/basic-usage.vue
Due: prettier --write, eslint --fix

chore: 优化mcp配置项
  examples/sites/src/App.vue
Due: prettier --write, eslint --fix

chore: 更新 @opentiny/tiny-vue-mcp 版本至 0.0.1-alpha.3
  examples/sites/package.json
Due: none

fix(modal): add modal state styles
  packages/vue/src/modal/src/mobile-first.vue
Due: prettier --write, eslint --fix

feat: 官网新增mcp综合示例
  examples/sites/package.json
  examples/sites/src/App.vue
  examples/sites/src/components/anchor.vue
  examples/sites/src/components/api-docs.vue
  examples/sites/src/components/async-highlight.vue
  examples/sites/src/components/contributor.vue
  examples/sites/src/components/demo.vue
  examples/sites/src/components/float-settings.vue
  examples/sites/src/components/header.vue
  examples/sites/src/components/mcp-docs.vue
  examples/sites/src/components/tiny-robot-chat.vue
  examples/sites/src/components/version-tip.vue
  examples/sites/src/composable/DifyModelProvider.ts
  examples/sites/src/composable/storage.ts
  examples/sites/src/composable/useTasksFinish.ts
  examples/sites/src/composable/useTinyRobot.ts
  examples/sites/src/composable/utils.ts
  examples/sites/src/router.js
  examples/sites/src/views/components-doc/common.vue
  examples/sites/src/views/comprehensive/Demo.vue
  examples/sites/src/views/comprehensive/index.vue
  examples/sites/src/views/comprehensive/products.json
  examples/sites/src/views/comprehensive/types/index.ts
  examples/sites/src/views/layout/layout.vue
Due: prettier --write, eslint --fix

fix: 修复 tiny-robot-chat 组件中的提示项和建议项的传递逻辑，优化 Demo 组件的 QR 码展示样式
  examples/sites/package.json
  examples/sites/src/components/tiny-robot-chat.vue
  examples/sites/src/views/comprehensive/Demo.vue
  examples/sites/src/views/comprehensive/index.vue
Due: prettier --write, eslint --fix

fix: 修复引入路径问题
  examples/sites/src/views/comprehensive/index.vue
Due: prettier --write, eslint --fix

feat: New MCP comprehensive example added to the official website (#3497)
  examples/sites/package.json
  examples/sites/src/App.vue
  examples/sites/src/components/anchor.vue
  examples/sites/src/components/api-docs.vue
  examples/sites/src/components/async-highlight.vue
  examples/sites/src/components/contributor.vue
  examples/sites/src/components/demo.vue
  examples/sites/src/components/float-settings.vue
  examples/sites/src/components/header.vue
  examples/sites/src/components/mcp-docs.vue
  examples/sites/src/components/tiny-robot-chat.vue
  examples/sites/src/components/version-tip.vue
  examples/sites/src/composable/DifyModelProvider.ts
  examples/sites/src/composable/storage.ts
  examples/sites/src/composable/useTasksFinish.ts
  examples/sites/src/composable/useTinyRobot.ts
  examples/sites/src/composable/utils.ts
  examples/sites/src/router.js
  examples/sites/src/views/components-doc/common.vue
  examples/sites/src/views/comprehensive/Demo.vue
  examples/sites/src/views/comprehensive/index.vue
  examples/sites/src/views/comprehensive/products.json
  examples/sites/src/views/comprehensive/types/index.ts
  examples/sites/src/views/layout/layout.vue
Due: prettier --write, eslint --fix

chore: 更新changelog，并添加TinyVue智能化组件接入文档
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/demos/pc/webdoc/mcp-en.md
  examples/sites/demos/pc/webdoc/mcp.md
Due: prettier --write

chore: 添加菜单优化文档
  examples/sites/demos/pc/menus.js
  examples/sites/demos/pc/webdoc/mcp-en.md
  examples/sites/demos/pc/webdoc/mcp.md
Due: prettier --write, eslint --fix

chore: 更新mcp.md文档中的sessionId说明，简化调试提示
  examples/sites/demos/pc/webdoc/mcp.md
Due: prettier --write

chore: 更新mcp-en.md文档中的标题和内容，统一语言为英文
  examples/sites/demos/pc/webdoc/mcp-en.md
Due: prettier --write

chore: Update changelog and add TinyVue intelligent component access documentation (#3498)
  examples/sites/demos/pc/menus.js
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/demos/pc/webdoc/mcp-en.md
  examples/sites/demos/pc/webdoc/mcp.md
Due: prettier --write, eslint --fix

fix:修复SaaS风格样式
  packages/theme-saas/src/button/index.less
  packages/theme-saas/src/grid/checkbox.less
  packages/theme-saas/src/grid/header.less
  packages/theme-saas/src/grid/table-global.less
  packages/theme-saas/src/grid/table.less
  packages/theme-saas/src/grid/toolbar.less
  packages/vue/src/input/src/mobile-first.vue
Due: prettier --write, eslint --fix

feat: 添加遥控器页面，更新next依赖
  examples/sites/package.json
  examples/sites/src/App.vue
  examples/sites/src/components/MessageCard.vue
  examples/sites/src/composable/utils.ts
  examples/sites/src/router.js
  examples/sites/src/views/comprehensive/index.vue
  examples/sites/src/views/remoter/index.vue
  examples/sites/src/views/remoter/sound.vue
Due: prettier --write, eslint --fix

chore: 修改代理为https url
  examples/sites/package.json
  examples/sites/src/App.vue
  examples/sites/src/views/comprehensive/index.vue
Due: prettier --write, eslint --fix

feat: add remote control page, update next dependency (#3501)
  examples/sites/package.json
  examples/sites/src/App.vue
  examples/sites/src/components/MessageCard.vue
  examples/sites/src/composable/utils.ts
  examples/sites/src/router.js
  examples/sites/src/views/comprehensive/index.vue
  examples/sites/src/views/remoter/index.vue
  examples/sites/src/views/remoter/sound.vue
Due: prettier --write, eslint --fix

fix(tag): remove inline-bloxk
  packages/vue/src/tag/src/pc.vue
Due: prettier --write, eslint --fix

fix:时间格式化错误
  packages/vue-locale/src/glob.ts
Due: prettier --write, eslint --fix

feat: 更新会话ID的处理逻辑
  examples/sites/src/App.vue
Due: prettier --write, eslint --fix

fix: 更新依赖版本约束以支持更高版本
  examples/sites/package.json
Due: none

fix: 更新版本号至3.24.4
  examples/sites/package.json
Due: none

chore: 更新版本号至3.24.5，并提升 @opentiny/tiny-vue-mcp 依赖至 ^0.0.2
  examples/sites/package.json
Due: none

chore: 更新版本号至3.24.5，并将 @opentiny/tiny-vue-mcp 版本更新至 ^0.0.2
  examples/sites/package.json
Due: none

fix: 更新产品图片链接并优化Demo组件中的图片展示样式
  examples/sites/src/views/comprehensive/Demo.vue
  examples/sites/src/views/comprehensive/products.json
Due: prettier --write, eslint --fix

chore: update docs version
  examples/sites/package.json
  examples/sites/src/views/comprehensive/Demo.vue
Due: prettier --write, eslint --fix

fix(loading): fix loading occur error when change frequently
  packages/vue/src/loading/src/directive.ts
Due: prettier --write, eslint --fix

docs(grid): fix demo date format error
  examples/sites/demos/pc/app/grid/renderer/inner-renderer-date-composition-api.vue
  examples/sites/demos/pc/app/grid/renderer/inner-renderer-date.spec.js
  examples/sites/demos/pc/app/grid/renderer/inner-renderer-date.vue
Due: prettier --write, eslint --fix

fix(pager): 限制分页组件的 size 属性值为 'mini' 或空字符串，防止警告
  packages/vue/src/grid/src/pager/src/methods.ts
Due: prettier --write, eslint --fix

fix(pager): 更新分页组件的 size 属性逻辑，支持 'small' 和 'mini'，并在 size 为 'medium' 时传递空字符串
  packages/vue/src/grid/src/pager/src/methods.ts
Due: prettier --write, eslint --fix

feat(grid): add expand trigger slot
  examples/sites/demos/apis/grid.js
  examples/sites/demos/pc/app/grid/expand/expand-config.spec.ts
  examples/sites/demos/pc/app/grid/expand/expand-trigger-slot-composition-api.vue
  examples/sites/demos/pc/app/grid/expand/expand-trigger-slot.spec.ts
  examples/sites/demos/pc/app/grid/expand/expand-trigger-slot.vue
  examples/sites/demos/pc/app/grid/webdoc/grid-expand.js
  packages/vue/src/grid/src/cell/src/cell.ts
Due: prettier --write, eslint --fix

docs(grid): optimize grid docs
  examples/sites/demos/apis/grid.js
  examples/sites/demos/pc/app/grid/expand/expand-trigger-slot.spec.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,vue}) or (any of: *.md)
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
