Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,vue}": ["prettier --write", "eslint  --fix"],
  "*.md": ["prettier --write"]
}

feat: 优化表格组件，移除不必要的重新计算逻辑，增强代码可读性，添加加载中遮罩支持
  packages/vue/src/grid/src/body/src/body.vue
  packages/vue/src/grid/src/edit/src/methods.ts
  packages/vue/src/grid/src/filter/src/methods.ts
  packages/vue/src/grid/src/grid/grid.vue
  packages/vue/src/grid/src/resize/src/methods.ts
  packages/vue/src/grid/src/table/src/Table.vue
  packages/vue/src/grid/src/table/src/events.ts
  packages/vue/src/grid/src/table/src/methods.ts
  packages/vue/src/grid/src/table/src/strategy.ts
  packages/vue/src/grid/src/table/src/utils/autoCellWidth.ts
  packages/vue/src/grid/src/toolbar/src/methods.ts
  packages/vue/src/grid/src/tree/src/methods.ts
  packages/vue/src/grid/src/validator/src/methods.ts
Due: prettier --write, eslint --fix

fix(grid): [grid] fix grid overflow-scroll when browser scale
  packages/vue/src/grid/src/table/src/methods.ts
Due: prettier --write, eslint --fix

feat: 更新自适应列宽处理逻辑，统一参数命名，增强代码可读性
  packages/vue/src/grid/src/table/src/utils/autoCellWidth.ts
Due: prettier --write, eslint --fix

feat: 表格的renderer配置支持events事件集合
  examples/sites/demos/apis/grid.js
  examples/sites/demos/pc/app/grid/renderer/custom-renderer-composition-api.vue
  examples/sites/demos/pc/app/grid/renderer/custom-renderer.spec.js
  examples/sites/demos/pc/app/grid/renderer/custom-renderer.vue
  packages/vue/src/grid/src/cell/src/cell.ts
Due: prettier --write, eslint --fix

fix(grid): [grid] fix input no cursor when dropConfig set filter
  examples/sites/demos/apis/grid.js
  packages/vue/src/grid/src/dragger/src/methods.ts
Due: prettier --write, eslint --fix

fix(transfer): fix the issue where the default selection does not work in the tree component under Vue 2
  packages/renderless/src/transfer/index.ts
Due: prettier --write, eslint --fix

fix(grid): [grid] fix date-picker input style error in filter panel
  packages/theme/src/grid/filter.less
Due: none

chore: updated the contribution guide, optimized the instructions on triggering component e2e tests
  CONTRIBUTING.md
  CONTRIBUTING.zh-CN.md
Due: prettier --write

ci(workflow): update the mapping relationship between child components and parent components, and add the mapping of layout components
  .github/workflows/test-e2e-pr.yml
Due: none

fix:修复saas主题
  packages/theme-saas/src/grid/header.less
  packages/theme-saas/src/grid/mixins/table.less
  packages/theme/src/checkbox/index.less
  packages/theme/src/date-panel/index.less
  packages/theme/src/dropdown-item/index.less
  packages/theme/src/dropdown-item/vars.less
  packages/theme/src/svgs/checked-sur.svg
  packages/theme/src/svgs/halfselect.svg
  packages/vue/src/base-select/src/token.ts
  packages/vue/src/date-panel/src/mobile-first.vue
  packages/vue/src/option/src/mobile-first.vue
  packages/vue/src/pager/src/mobile-first.vue
  packages/vue/src/select/src/mobile-first.vue
  packages/vue/src/select/src/token.ts
  packages/vue/src/tag/src/mobile-first.vue
  packages/vue/src/tag/src/token.ts
  packages/vue/src/tooltip/src/mobile-first.vue
Due: prettier --write, eslint --fix

fix(examples): 修正autocomplete案例标题size值与示例文字不符，容易误导用户。
  examples/sites/demos/pc/app/autocomplete/size-composition-api.vue
  examples/sites/demos/pc/app/autocomplete/size.vue
Due: prettier --write, eslint --fix

Update CONTRIBUTING.zh-CN.md
  CONTRIBUTING.zh-CN.md
Due: prettier --write

feat(config-provider): config-provider adds theme configuration function
  examples/sites/demos/apis/config-provider.js
  examples/sites/demos/apis/tabs.js
  examples/sites/demos/mobile-first/app/tabs/swipeable.vue
  examples/sites/demos/mobile-first/app/tabs/webdoc/tabs.js
  examples/sites/demos/pc/app/config-provider/theme-composition-api.vue
  examples/sites/demos/pc/app/config-provider/theme.vue
  examples/sites/demos/pc/app/config-provider/webdoc/config-provider.js
  packages/theme-saas/src/svgs/go-back.svg
  packages/utils/src/common/index.ts
  packages/vue/src/config-provider/package.json
  packages/vue/src/config-provider/src/index.vue
  packages/vue/src/config-provider/src/props.ts
Due: prettier --write, eslint --fix

feat: 优化表格方法，移除不必要的 Promise 链接，增强代码简洁性
  packages/vue/src/grid/src/filter/src/methods.ts
  packages/vue/src/grid/src/table/src/Table.vue
  packages/vue/src/grid/src/table/src/methods.ts
  packages/vue/src/grid/src/table/src/utils/handleCacheData.ts
Due: prettier --write, eslint --fix

fix(utils): fix tooltip arrow safe padding
  packages/utils/src/popper/index.ts
Due: prettier --write, eslint --fix

feat: 优化表格数据处理逻辑，使用展开运算符替代传统方法，提升代码简洁性和可读性
  packages/vue/src/grid/src/async-column/index.ts
  packages/vue/src/grid/src/edit/src/methods.ts
  packages/vue/src/grid/src/table/src/methods.ts
  packages/vue/src/grid/src/table/src/strategy.ts
Due: prettier --write, eslint --fix

feat: 添加异步列插件，优化表格插件集成，增强代码可读性
  packages/vue/src/grid/index.ts
  packages/vue/src/grid/src/async-column/index.ts
  packages/vue/src/grid/src/async-column/src/handleResolveColumn.ts
  packages/vue/src/grid/src/async-column/src/methods.ts
  packages/vue/src/grid/src/table/src/methods.ts
Due: prettier --write, eslint --fix

feat: 添加单选功能插件，优化复选框方法，增强获取选中数据逻辑
  packages/vue/src/grid/index.ts
  packages/vue/src/grid/src/checkbox/src/methods.ts
  packages/vue/src/grid/src/radio/index.ts
  packages/vue/src/grid/src/radio/src/methods.ts
  packages/vue/src/grid/src/table/src/methods.ts
Due: prettier --write, eslint --fix

feat: 优化单元格和复选框方法，移除冗余代码，增强获取选中数据逻辑
  packages/vue/src/grid/src/cell/src/cell.ts
  packages/vue/src/grid/src/checkbox/src/methods.ts
  packages/vue/src/grid/src/expand/index.ts
  packages/vue/src/grid/src/table/src/methods.ts
Due: prettier --write, eslint --fix

feat: 添加虚拟滚动插件，优化表格组件，增强滚动加载逻辑，提升代码可读性
  packages/vue/src/grid/index.ts
  packages/vue/src/grid/src/body/src/body.vue
  packages/vue/src/grid/src/table/src/Table.vue
  packages/vue/src/grid/src/table/src/methods.ts
  packages/vue/src/grid/src/table/src/utils/computeScrollLoad.ts
  packages/vue/src/grid/src/table/src/utils/handleGlobalKeydownEvent.ts
  packages/vue/src/grid/src/table/src/utils/handleGlobalMousedownEvent.ts
  packages/vue/src/grid/src/table/src/utils/handleOtherKeyDown.ts
  packages/vue/src/grid/src/table/src/utils/triggerCellClickEvent.ts
  packages/vue/src/grid/src/virtual-scroll/index.ts
  packages/vue/src/grid/src/virtual-scroll/src/methods.ts
  packages/vue/src/grid/src/virtual-scroll/src/types.ts
  packages/vue/src/grid/src/virtual-scroll/src/utils.ts
Due: prettier --write, eslint --fix

feat: 将排序事件和相关方法移至独立模块，优化代码结构，提升可读性
  packages/vue/src/grid/src/sort/src/methods.ts
  packages/vue/src/grid/src/table/src/methods.ts
Due: prettier --write, eslint --fix

feat: 添加展开行插件，优化插件导入逻辑，更新异步列模块的导入路径，提升代码结构和可读性
  packages/vue/src/grid/index.ts
  packages/vue/src/grid/src/async-column/src/handleResolveColumn.ts
  packages/vue/src/grid/src/expand/index.ts
  packages/vue/src/grid/src/expand/src/methods.ts
  packages/vue/src/grid/src/table/src/methods.ts
Due: prettier --write, eslint --fix

feat: 移除冗余许可证注释，优化导入逻辑，提升代码可读性
  packages/vue/src/grid/src/keyboard/src/methods.ts
  packages/vue/src/grid/src/keyboard/src/utils/triggerHeaderCellMousedownEvent.ts
  packages/vue/src/grid/src/table/src/methods.ts
Due: prettier --write, eslint --fix

fix(flowchart): 组件节点不可用状态不显示手型鼠标，修复flowchart演练场报错问题
  examples/sites/demos/pc/app/flowchart/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/flowchart/basic-usage.vue
  packages/vue/src/flowchart/src/node.vue
Due: prettier --write, eslint --fix

chore: add person-history.svg
  packages/theme-saas/src/svgs/person-history.svg
  packages/theme/src/svgs/person-history.svg
  packages/vue-icon-saas/index.ts
  packages/vue-icon/index.ts
  packages/vue-icon/src/person-history/index.ts
Due: prettier --write, eslint --fix

feat(workflow): 在E2E测试工作流中添加SVG组件的映射关系
  .github/workflows/test-e2e-pr.yml
Due: none

feat(flowchart): 添加自动提示指令在必要时才会有提示弹窗
  packages/vue/src/flowchart/src/node.vue
Due: prettier --write, eslint --fix

fix: fix renderless tsconfig paths not working
  tsconfig.json
Due: none

fix:修复saas主题
  packages/theme-saas/src/grid/excel.less
  packages/theme-saas/src/grid/mixins/table.less
  packages/theme-saas/src/grid/table-global.less
  packages/theme-saas/src/grid/table.less
  packages/theme-saas/src/option/index.less
  packages/theme-saas/src/select-dropdown/index.less
  packages/theme-saas/src/select/index.less
  packages/theme-saas/src/tag/index.less
  packages/theme-saas/src/tooltip/index.less
  packages/vue/src/dropdown-item/src/mobile-first.vue
  packages/vue/src/tooltip/src/pc.vue
Due: prettier --write, eslint --fix

feat(number-animation): [number-animation] Add NumberAnimation component
  packages/vue/src/number-animation/src/pc.vue
Due: prettier --write, eslint --fix

chore: add type=module in sites
  examples/sites/demos/pc/app/package.json
  examples/sites/package.json
Due: none

fix: 修正路径匹配规则以确保只匹配组件目录
  .github/workflows/test-e2e-pr.yml
  examples/sites/demos/pc/app/alert/basic-usage.vue
  examples/sites/mobile.html
Due: prettier --write, eslint --fix

fix: [grid] 增加saas主题表格底部滚动条放置表格内，且底部只有一条边框
  packages/theme-saas/src/grid/table.less
Due: none

chore: 还原测试数据
  examples/sites/demos/pc/app/alert/basic-usage.vue
  examples/sites/mobile.html
Due: prettier --write, eslint --fix

fix(input): [input] modify the border issue of the input component under the saas theme
  packages/theme-saas/src/input/index.less
Due: none

feat(flowchart): 增加属性配置是否显示手型鼠标的功能
  examples/sites/demos/.eslintrc.cjs
  examples/sites/demos/mobile-first/app/flowchart/dot-horizon.vue
  packages/vue/src/flowchart/src/node.vue
Due: prettier --write, eslint --fix

docs: 更新runtime使用文档，避免误导用户
  examples/sites/demos/pc/webdoc/installation.md
Due: prettier --write

chore: 优化描述信息
  examples/sites/demos/pc/webdoc/installation.md
Due: prettier --write
