Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(button-group): adapt to small screen display
  packages/theme/src/adaptation-index.less
  packages/theme/src/button-group/adaptation.less
  packages/theme/src/button-group/vars.less
  packages/theme/src/button/adaptation.less
  packages/theme/src/button/vars.less
Due: none

feat(link): add aria-* attribute
  packages/vue/src/link/src/pc.vue
Due: prettier --write, eslint --fix

fix(button-group): add variables
  packages/theme/src/button-group/adaptation.less
  packages/theme/src/button-group/vars.less
Due: none

fix(select): fix select's tooltip has scrollbar
  packages/theme-saas/src/select-dropdown/index.less
  packages/theme/src/select-dropdown/index.less
Due: none

fix:设置最大宽度不显示省略号
  examples/sites/demos/pc/app/tag/basic-usage.spec.ts
  examples/sites/demos/pc/app/tag/color-border.spec.ts
  examples/sites/demos/pc/app/tag/max-width.spec.ts
  examples/sites/demos/pc/app/tag/size.spec.ts
  examples/sites/demos/pc/app/tag/slot-default.spec.ts
  packages/vue/src/tag/src/pc.vue
Due: prettier --write, eslint --fix

fix(select): change select's hint text from auto-tip to title
  examples/sites/demos/pc/app/select/copy-multi.spec.ts
  packages/vue/src/base-select/src/pc.vue
  packages/vue/src/select/src/pc.vue
Due: prettier --write, eslint --fix

fix(fluent-editor): z-index is applied only when the screen is in full-screen mode
  packages/vue/src/fluent-editor/src/mobile-first.vue
  packages/vue/src/fluent-editor/src/pc.vue
Due: prettier --write, eslint --fix

fix(tag-group): fix e2e test of tag-group
  examples/sites/demos/pc/app/tag-group/basic-usage.spec.js
Due: prettier --write, eslint --fix

fix: to avoid conflicts
  packages/theme/src/adaptation-index.less
Due: none

docs: add component doc entry
  examples/sites/demos/pc/webdoc/introduce.md
Due: prettier --write

fix: release 3.28 patch (#4068)
  packages/renderless/package.json
  packages/renderless/src/input/vue.ts
  packages/vue/src/exception/package.json
Due: prettier --write, eslint --fix

docs(link): add link component target
  examples/sites/demos/apis/link.js
  examples/sites/demos/pc/app/link/target-composition-api.vue
  examples/sites/demos/pc/app/link/target.spec.ts
  examples/sites/demos/pc/app/link/target.vue
  examples/sites/demos/pc/app/link/webdoc/link.js
Due: prettier --write, eslint --fix

fix(link): fix the demo name
  examples/sites/demos/apis/link.js
Due: prettier --write, eslint --fix

docs(flowchart): update flowchart docs
  examples/sites/demos/pc/app/flowchart/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/flowchart/basic-usage.vue
  examples/sites/demos/pc/app/flowchart/slots-composition-api.vue
  examples/sites/demos/pc/app/flowchart/slots.spec.ts
  examples/sites/demos/pc/app/flowchart/slots.vue
  examples/sites/demos/pc/app/flowchart/webdoc/flowchart.js
Due: prettier --write, eslint --fix

refactor(flowchart): replace Flowchart with TinyFlowchart in components
  examples/sites/demos/pc/app/flowchart/slots-composition-api.vue
  examples/sites/demos/pc/app/flowchart/slots.vue
Due: prettier --write, eslint --fix

fix:修复上传文件列表tip不换行
  packages/theme/src/upload-list/index.less
Due: none

fix:修复e2e用例
  examples/sites/demos/pc/app/base-select/copy-multi.spec.ts
  examples/sites/demos/pc/app/tag-group/tag-group-effect.spec.js
  examples/sites/demos/pc/app/tag-group/tag-group-event.spec.js
Due: prettier --write, eslint --fix

test(flowchart): update locators in basic-usage and slots tests to use .pc-demo-container
  examples/sites/demos/pc/app/flowchart/basic-usage.spec.ts
  examples/sites/demos/pc/app/flowchart/slots.spec.ts
Due: prettier --write, eslint --fix

test(flowchart): update locators in basic-usage and slots tests to use specific IDs
  examples/sites/demos/pc/app/flowchart/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/flowchart/basic-usage.spec.ts
  examples/sites/demos/pc/app/flowchart/slots.spec.ts
Due: prettier --write, eslint --fix

test(e2e): fix select-wrapper e2e test error
  examples/sites/demos/pc/app/select-wrapper/copy-multi.spec.ts
Due: prettier --write, eslint --fix

fix(input): more dialog, add whitespace-pre-wrap class for content
  packages/vue/src/input/src/mobile-first.vue
Due: prettier --write, eslint --fix

feat: 适配活动看板流程图
  examples/sites/demos/pc/app/flowchart/slots-composition-api.vue
Due: prettier --write, eslint --fix

fix: modify review comments
  packages/theme/src/button/adaptation.less
Due: none

fix: modify default button of style
  packages/theme/src/button/adaptation.less
Due: none

fix: modify review comments
  packages/theme/src/button-group/adaptation.less
Due: none

fix: 修复input只读状态多行超出省略在safari浏览器中显示异常问题
  packages/vue/src/input/src/mobile-first.vue
Due: prettier --write, eslint --fix

docs: 增加TinyVue组件skills使用指南文档，并删除mcp相关文档
  examples/sites/demos/pc/app/grid/webdoc/grid-ai-agent.js
  examples/sites/demos/pc/menus.js
  examples/sites/demos/pc/webdoc/mcp-en.md
  examples/sites/demos/pc/webdoc/mcp.md
  examples/sites/demos/pc/webdoc/skills-en.md
  examples/sites/demos/pc/webdoc/skills.md
  examples/sites/package.json
  examples/sites/src/components/mcp-docs.vue
  examples/sites/src/composable/useTinyRemoter.ts
  examples/sites/src/i18n/index.js
  examples/sites/src/main.js
  examples/sites/src/views/components-doc/common.vue
Due: prettier --write, eslint --fix

chore: update changelog for v2.29.0 with new features and enhancements
  examples/sites/demos/pc/webdoc/changelog-en.md
  examples/sites/demos/pc/webdoc/changelog.md
Due: prettier --write

fix(grid): operation column add cache
  packages/vue/src/grid/src/body/src/body.tsx
  packages/vue/src/grid/src/cell/src/cell.ts
  packages/vue/src/grid/src/composable/useNormalData.ts
  packages/vue/src/grid/src/table/src/table.ts
Due: prettier --write, eslint --fix

fix(input): add popMore dialog's content with break-words rule
  packages/vue/src/input/src/mobile-first.vue
Due: prettier --write, eslint --fix

fix(link): adapt link components
  examples/sites/demos/pc/app/link/custom-icon-composition-api.vue
  examples/sites/demos/pc/app/link/custom-icon.vue
  packages/theme/src/adaptation-index.less
  packages/theme/src/button-group/vars.less
  packages/theme/src/link/adaptation.less
Due: prettier --write, eslint --fix

fix(grid): fix selection dropdown style
  packages/theme-saas/src/grid/header.less
Due: none

fix:禁用状态可以上传图片文件
  packages/renderless/src/fluent-editor/index.ts
  packages/renderless/src/fluent-editor/vue.ts
Due: prettier --write, eslint --fix

fix(action-menu): adapt action-menu components
  examples/sites/demos/pc/app/action-menu/card-mode-composition-api.vue
  examples/sites/demos/pc/app/action-menu/card-mode.vue
  examples/sites/demos/pc/app/action-menu/spacing-composition-api.vue
  examples/sites/demos/pc/app/action-menu/spacing.spec.ts
  examples/sites/demos/pc/app/action-menu/spacing.vue
  packages/theme/src/action-menu/adaptation.less
  packages/theme/src/action-menu/vars.less
  packages/theme/src/adaptation-index.less
Due: prettier --write, eslint --fix

fix(breadcrumb): adapt breadcrumb composition
  packages/theme/src/adaptation-index.less
  packages/theme/src/breadcrumb/adaptation.less
Due: none

docs(grid): optimize grid filter docs and demos
  examples/sites/demos/apis/grid.js
  examples/sites/demos/pc/app/grid/filter/advanced-filter-composition-api.vue
  examples/sites/demos/pc/app/grid/filter/advanced-filter.spec.js
  examples/sites/demos/pc/app/grid/filter/advanced-filter.vue
  examples/sites/demos/pc/app/grid/filter/custom-filter-composition-api.vue
  examples/sites/demos/pc/app/grid/filter/custom-filter.spec.js
  examples/sites/demos/pc/app/grid/filter/custom-filter.vue
  examples/sites/demos/pc/app/grid/filter/filter-label-value-composition-api.vue
  examples/sites/demos/pc/app/grid/filter/filter-label-value.spec.ts
  examples/sites/demos/pc/app/grid/filter/filter-label-value.vue
  examples/sites/demos/pc/app/grid/filter/layout-order-filter-composition-api.vue
  examples/sites/demos/pc/app/grid/filter/layout-order-filter.spec.ts
  examples/sites/demos/pc/app/grid/filter/layout-order-filter.vue
  examples/sites/demos/pc/app/grid/webdoc/grid-filter.js
Due: prettier --write, eslint --fix

docs(grid): optimize grid filter docs and demos
  examples/sites/demos/pc/app/grid/filter/input-filter-custom-component-composition-api.vue
  examples/sites/demos/pc/app/grid/filter/input-filter-custom-component.spec.ts
  examples/sites/demos/pc/app/grid/filter/input-filter-custom-component.vue
  examples/sites/demos/pc/app/grid/filter/layout-order-filter.spec.ts
  examples/sites/demos/pc/app/grid/webdoc/grid-filter.js
Due: prettier --write, eslint --fix

fix: changing the resolution
  packages/theme/src/action-menu/adaptation.less
Due: none

fix: changing the resolution
  packages/theme/src/link/adaptation.less
Due: none

fix: changing the resolution
  packages/theme/src/breadcrumb/adaptation.less
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,vue}) or (any of: *.md)
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
