Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

refactor(base-select): remove tree/grid in the base-select/pc.vue
  packages/vue/src/base-select/src/pc.vue
Due: prettier --write, eslint --fix

refactor(base-select): remove tree/grid in the renderless/index.ts|vue.ts
  examples/sites/demos/pc/app/select/webdoc/select.js
  packages/renderless/src/base-select/index.ts
  packages/renderless/src/base-select/vue.ts
Due: prettier --write, eslint --fix

docs(base-select): remove tree/grid demos
  examples/sites/demos/pc/app/base-select/webdoc/base-select.cn.md
  examples/sites/demos/pc/app/base-select/webdoc/base-select.en.md
  examples/sites/demos/pc/app/base-select/webdoc/base-select.js
Due: prettier --write, eslint --fix

docs(base-select): remove tree/grid demos
  examples/sites/demos/apis/base-select.js
  examples/sites/demos/pc/app/base-select/webdoc/base-select.cn.md
  examples/sites/demos/pc/app/base-select/webdoc/base-select.en.md
  examples/sites/demos/pc/app/base-select/webdoc/base-select.js
Due: prettier --write, eslint --fix

feat(base-select): add panel slot
  examples/sites/demos/apis/base-select.js
  examples/sites/demos/pc/app/base-select/slot-panel-composition-api.vue
  examples/sites/demos/pc/app/base-select/slot-panel.vue
  examples/sites/demos/pc/app/base-select/webdoc/base-select.js
  packages/vue/src/base-select/src/pc.vue
Due: prettier --write, eslint --fix

docs(base-select): add multiple tree demo
  examples/sites/demos/pc/app/base-select/slot-panel-composition-api.vue
  examples/sites/demos/pc/app/base-select/slot-panel.vue
Due: prettier --write, eslint --fix

docs(base-select): add filterable tree demo
  examples/sites/demos/pc/app/base-select/slot-panel-composition-api.vue
  examples/sites/demos/pc/app/base-select/slot-panel.vue
Due: prettier --write, eslint --fix

docs(base-select): add lazy tree demo
  examples/sites/demos/pc/app/base-select/slot-panel-composition-api.vue
  examples/sites/demos/pc/app/base-select/slot-panel.vue
Due: prettier --write, eslint --fix

fix(drop-times): [drop-times] modify style (#1635)
  packages/theme/src/drop-times/index.less
Due: none

feat(theme): update theme version
  packages/theme/package.json
Due: none

fix(drop-times): [drop-times] modify style
  packages/theme/src/drop-times/index.less
Due: none

fix: 修复图表height为100%时的高度问题
  packages/theme/src/chart-core/index.less
  packages/vue/src/chart/chart-core/common/extend.ts
  packages/vue/src/chart/chart-core/src/chart-core.ts
Due: prettier --write, eslint --fix

fix: 修复chart图表的extend未生效问题
  packages/vue/src/chart/chart-core/common/extend.ts
  packages/vue/src/chart/chart-core/src/chart-core.ts
Due: prettier --write, eslint --fix

fix: 优化图表extend逻辑
  packages/vue/src/chart/chart-core/common/extend.ts
Due: prettier --write, eslint --fix

fix: 优化图表extend逻辑
  packages/vue/src/chart/chart-core/package.json
Due: none

fix(chart): fix chart extend bugs (#1638)
  packages/vue/src/chart/chart-core/common/extend.ts
  packages/vue/src/chart/chart-core/package.json
  packages/vue/src/chart/chart-core/src/chart-core.ts
Due: prettier --write, eslint --fix

docs: optimize component category (#1626)
  examples/sites/demos/pc/app/action-menu/webdoc/action-menu.cn.md
  examples/sites/demos/pc/app/autocomplete/webdoc/autocomplete.cn.md
  examples/sites/demos/pc/app/autocomplete/webdoc/autocomplete.en.md
  examples/sites/demos/pc/app/checkbox/webdoc/checkbox.cn.md
  examples/sites/demos/pc/app/checkbox/webdoc/checkbox.en.md
  examples/sites/demos/pc/app/color-picker/webdoc/color-picker.cn.md
  examples/sites/demos/pc/app/color-select-panel/webdoc/color-select-panel.cn.md
  examples/sites/demos/pc/app/config-provider/webdoc/config-provider.cn.md
  examples/sites/demos/pc/app/config-provider/webdoc/config-provider.en.md
  examples/sites/demos/pc/app/container/webdoc/container.cn.md
  examples/sites/demos/pc/app/container/webdoc/container.en.md
  examples/sites/demos/pc/app/divider/webdoc/divider.cn.md
  examples/sites/demos/pc/app/drop-times/webdoc/drop-times.cn.md
  examples/sites/demos/pc/app/floatbar/webdoc/floatbar.cn.md
  examples/sites/demos/pc/app/floatbar/webdoc/floatbar.en.md
  examples/sites/demos/pc/app/flowchart/webdoc/flowchart.cn.md
  examples/sites/demos/pc/app/flowchart/webdoc/flowchart.en.md
  examples/sites/demos/pc/app/fullscreen/webdoc/fullscreen.cn.md
  examples/sites/demos/pc/app/image/webdoc/image.cn.md
  examples/sites/demos/pc/app/image/webdoc/image.en.md
  examples/sites/demos/pc/app/infinite-scroll/webdoc/infinite-scroll.cn.md
  examples/sites/demos/pc/app/layout/webdoc/layout.cn.md
  examples/sites/demos/pc/app/link/webdoc/link.cn.md
  examples/sites/demos/pc/app/link/webdoc/link.en.md
  examples/sites/demos/pc/app/numeric/webdoc/numeric.cn.md
  examples/sites/demos/pc/app/numeric/webdoc/numeric.en.md
  examples/sites/demos/pc/app/pager/webdoc/pager.cn.md
  examples/sites/demos/pc/app/pager/webdoc/pager.en.md
  examples/sites/demos/pc/app/pop-upload/webdoc/pop-upload.cn.md
  examples/sites/demos/pc/app/popconfirm/webdoc/popconfirm.cn.md
  examples/sites/demos/pc/app/popover/webdoc/popover.cn.md
  examples/sites/demos/pc/app/rich-text-editor/webdoc/rich-text-editor.cn.md
  examples/sites/demos/pc/app/statistic/webdoc/statistic.cn.md
  examples/sites/demos/pc/app/time-line/webdoc/time-line.cn.md
  examples/sites/demos/pc/app/time-select/webdoc/time-select.cn.md
  examples/sites/demos/pc/menus.js
Due: prettier --write, eslint --fix

docs: update changelog v3.16.0
  examples/sites/demos/pc/webdoc/changelog.md
Due: prettier --write

docs: optimize component category (#1626) (#1641)
  examples/sites/demos/pc/app/action-menu/webdoc/action-menu.cn.md
  examples/sites/demos/pc/app/autocomplete/webdoc/autocomplete.cn.md
  examples/sites/demos/pc/app/autocomplete/webdoc/autocomplete.en.md
  examples/sites/demos/pc/app/checkbox/webdoc/checkbox.cn.md
  examples/sites/demos/pc/app/checkbox/webdoc/checkbox.en.md
  examples/sites/demos/pc/app/color-picker/webdoc/color-picker.cn.md
  examples/sites/demos/pc/app/color-select-panel/webdoc/color-select-panel.cn.md
  examples/sites/demos/pc/app/config-provider/webdoc/config-provider.cn.md
  examples/sites/demos/pc/app/config-provider/webdoc/config-provider.en.md
  examples/sites/demos/pc/app/container/webdoc/container.cn.md
  examples/sites/demos/pc/app/container/webdoc/container.en.md
  examples/sites/demos/pc/app/divider/webdoc/divider.cn.md
  examples/sites/demos/pc/app/drop-times/webdoc/drop-times.cn.md
  examples/sites/demos/pc/app/floatbar/webdoc/floatbar.cn.md
  examples/sites/demos/pc/app/floatbar/webdoc/floatbar.en.md
  examples/sites/demos/pc/app/flowchart/webdoc/flowchart.cn.md
  examples/sites/demos/pc/app/flowchart/webdoc/flowchart.en.md
  examples/sites/demos/pc/app/fullscreen/webdoc/fullscreen.cn.md
  examples/sites/demos/pc/app/image/webdoc/image.cn.md
  examples/sites/demos/pc/app/image/webdoc/image.en.md
  examples/sites/demos/pc/app/infinite-scroll/webdoc/infinite-scroll.cn.md
  examples/sites/demos/pc/app/layout/webdoc/layout.cn.md
  examples/sites/demos/pc/app/link/webdoc/link.cn.md
  examples/sites/demos/pc/app/link/webdoc/link.en.md
  examples/sites/demos/pc/app/numeric/webdoc/numeric.cn.md
  examples/sites/demos/pc/app/numeric/webdoc/numeric.en.md
  examples/sites/demos/pc/app/pager/webdoc/pager.cn.md
  examples/sites/demos/pc/app/pager/webdoc/pager.en.md
  examples/sites/demos/pc/app/pop-upload/webdoc/pop-upload.cn.md
  examples/sites/demos/pc/app/popconfirm/webdoc/popconfirm.cn.md
  examples/sites/demos/pc/app/popover/webdoc/popover.cn.md
  examples/sites/demos/pc/app/rich-text-editor/webdoc/rich-text-editor.cn.md
  examples/sites/demos/pc/app/statistic/webdoc/statistic.cn.md
  examples/sites/demos/pc/app/time-line/webdoc/time-line.cn.md
  examples/sites/demos/pc/app/time-select/webdoc/time-select.cn.md
  examples/sites/demos/pc/menus.js
Due: prettier --write, eslint --fix

docs: update changelog v3.16.0 (#1642)
  examples/sites/demos/pc/webdoc/changelog.md
Due: prettier --write

feat(version): add npmmirror cdn link
  examples/sites/package.json
  examples/sites/playground.html
  examples/sites/playground/App.vue
Due: prettier --write, eslint --fix

feat(version): add npmmirror cdn link (#1646)
  examples/sites/package.json
  examples/sites/playground.html
  examples/sites/playground/App.vue
Due: prettier --write, eslint --fix

feat(version): update docs version
  examples/sites/package.json
Due: none

fix: add carousel component of demo (#1609)
  examples/sites/demos/apis/carousel.js
  examples/sites/demos/pc/app/carousel/card-show-composition-api.vue
  examples/sites/demos/pc/app/carousel/card-show.spec.ts
  examples/sites/demos/pc/app/carousel/card-show.vue
  examples/sites/demos/pc/app/carousel/dialog-show-composition-api.vue
  examples/sites/demos/pc/app/carousel/dialog-show.spec.ts
  examples/sites/demos/pc/app/carousel/dialog-show.vue
  examples/sites/demos/pc/app/carousel/webdoc/carousel.js
Due: prettier --write, eslint --fix

perf(drawer): enable open event
  packages/renderless/src/drawer/vue.ts
Due: prettier --write, eslint --fix

feat: sync release-3.16.0 to dev (#1648)
  examples/sites/demos/apis/action-menu.js
  examples/sites/demos/pc/app/action-menu/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/action-menu/basic-usage.vue
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/demos/pc/webdoc/import-components.md
  examples/sites/package.json
  examples/sites/playground.html
  examples/sites/playground/App.vue
  internals/unplugin-tiny-vue/package.json
  internals/unplugin-tiny-vue/src/index.ts
  packages/renderless/package.json
  packages/renderless/src/tabs/index.ts
  packages/renderless/types/action-menu.type.ts
  packages/theme-saas/package.json
  packages/theme-saas/src/index.less
  packages/theme-saas/src/mind-map/index.less
  packages/theme/package.json
  packages/theme/src/chart-core/index.less
  packages/theme/src/drop-times/index.less
  packages/theme/src/grid/table.less
  packages/vue/src/action-menu/package.json
  packages/vue/src/action-menu/src/pc.vue
  packages/vue/src/chart/chart-core/common/extend.ts
  packages/vue/src/chart/chart-core/package.json
  packages/vue/src/chart/chart-core/src/chart-core.ts
  packages/vue/src/select/package.json
  packages/vue/src/select/src/index.ts
  packages/vue/src/select/src/pc.vue
  packages/vue/src/tabs/package.json
  packages/vue/src/tabs/src/tab-nav/pc.vue
Due: prettier --write, eslint --fix

fix(vue-renderless): [radio-group] fix handleKeydown blocking default events and bubble logicbug
  packages/renderless/src/radio-group/index.ts
Due: prettier --write, eslint --fix

feat(message): add a judgment with a duration of 0
  packages/renderless/src/modal/index.ts
Due: prettier --write, eslint --fix

feat(alert): [alert] add type title text color css var
  packages/theme/src/alert/index.less
  packages/theme/src/alert/vars.less
Due: none

feat(alert): [alert] add type title text color css var
  packages/theme/package.json
Due: none

feat(alert): [alert] add type title text color css var (#1653)
  packages/theme/package.json
  packages/theme/src/alert/index.less
  packages/theme/src/alert/vars.less
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,vue}) or (any of: *.md)
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
