Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,vue}": ["prettier --write", "eslint  --fix"],
  "*.md": ["prettier --write"]
}

fix(grid): fix grid error when columns config from null change to empty array
  packages/vue/src/grid/package.json
Due: none

fix(grid): fix grid error when columns config from null change to empty array (#3667)
  packages/vue/src/grid/package.json
  packages/vue/src/grid/src/composable/useHeader.ts
Due: prettier --write, eslint --fix

fix(pop-upload): 修复自定义提示插槽报错问题
  packages/vue/src/pop-upload/src/pc.vue
Due: prettier --write, eslint --fix

fix(tabs): 修复页签更多项点击不生效问题
  packages/design/aurora/src/dropdown-item/index.ts
  packages/renderless/src/tabs-mf/index.ts
  packages/vue/src/dropdown-item/src/mobile-first.vue
  packages/vue/src/tabs/src/mobile-first/tab-bar.vue
Due: prettier --write, eslint --fix

fix(tabs): 更改顺序
  packages/design/aurora/src/dropdown-item/index.ts
Due: prettier --write, eslint --fix

fix(grid): fix use title function text can not overflow ellipsis
  packages/vue/src/grid/src/cell/src/cell.ts
Due: prettier --write, eslint --fix

feat(theme): [motion] add global animation variables
  packages/theme/src/base/reset.less
  packages/theme/src/base/vars.less
  packages/theme/src/chart-core/index.less
  packages/theme/src/dialog-box/index.less
  packages/theme/src/drawer/index.less
  packages/theme/src/grid/body.less
  packages/theme/src/grid/icon.less
  packages/theme/src/grid/loading.less
  packages/theme/src/image/index.less
  packages/theme/src/motion/TinyVue 全局动效配置.md
  packages/theme/src/motion/TinyVue 全局动效配置维护.md
  packages/theme/src/motion/ants.less
  packages/theme/src/motion/arrow.less
  packages/theme/src/motion/bounce.less
  packages/theme/src/motion/fade.less
  packages/theme/src/motion/index.less
  packages/theme/src/motion/loading.less
  packages/theme/src/motion/progress.less
  packages/theme/src/motion/rotate.less
  packages/theme/src/motion/scroll.less
  packages/theme/src/motion/shine.less
  packages/theme/src/motion/skeleton.less
  packages/theme/src/motion/slide.less
  packages/theme/src/motion/stroke.less
  packages/theme/src/motion/tab.less
  packages/theme/src/motion/zoom.less
  packages/theme/src/popup/index.less
  packages/theme/src/skeleton-item/index.less
  packages/theme/src/tabs/index.less
  packages/theme/src/transition/carousel-arrow.less
  packages/theme/src/transition/icon.less
  packages/theme/src/transition/timepicker.less
Due: prettier --write

fix(select): 增加tooltip提示
  packages/renderless/src/select/vue.ts
  packages/vue/src/select/src/pc.vue
Due: prettier --write, eslint --fix

fix(select): 变更变量名字
  packages/renderless/src/select/vue.ts
  packages/vue/src/select/src/pc.vue
Due: prettier --write, eslint --fix

feat: order
  examples/sites/demos/mobile-first/app/space/space-order.vue
  examples/sites/demos/pc/app/space/space-order.vue
  packages/renderless/src/space/index.ts
  packages/renderless/src/space/vue.ts
  packages/vue/src/space/src/index.ts
  packages/vue/src/space/src/mobile-first.vue
  packages/vue/src/space/src/pc.vue
Due: prettier --write, eslint --fix

fix(amount): 修复表格中币种输入和显示不一致的问题
  packages/vue/src/amount/src/mobile-first.vue
Due: prettier --write, eslint --fix

fix(grid): fix rowspan border can not visible
  packages/theme-saas/src/grid/footer.less
  packages/theme-saas/src/grid/table-global.less
  packages/theme-saas/src/grid/table.less
  packages/vue/src/grid/src/body/src/body.tsx
Due: prettier --write, eslint --fix

fix(loading): 修复e2e报错问题
  examples/sites/demos/pc/app/loading/background.spec.ts
  examples/sites/demos/pc/app/loading/custom-class.spec.ts
  examples/sites/demos/pc/app/loading/fullscreen.spec.ts
  examples/sites/demos/pc/app/loading/loading-tip-text.spec.ts
  examples/sites/demos/pc/app/loading/size.spec.ts
Due: prettier --write, eslint --fix

feat(theme): [motion] update the documentation and fix some bug
  packages/theme/src/dialog-box/index.less
  packages/theme/src/drawer/index.less
  packages/theme/src/motion/TinyVue 全局动效配置.md
  packages/theme/src/motion/TinyVue 全局动效配置维护.md
  packages/theme/src/motion/index.less
Due: prettier --write

fix(e2e): fix e2e test
  examples/sites/demos/pc/app/locales/custom-service.spec.ts
  examples/sites/demos/pc/app/qr-code/style.spec.ts
Due: prettier --write, eslint --fix

feat(theme): [motion] rename the documentation and remove unnecessary comments
  packages/theme/src/base/reset.less
  packages/theme/src/base/transition.less
  packages/theme/src/base/vars.less
  packages/theme/src/chart-core/index.less
  packages/theme/src/dialog-box/index.less
  packages/theme/src/drawer/index.less
  packages/theme/src/fall-menu/index.less
  packages/theme/src/grid/body.less
  packages/theme/src/grid/excel.less
  packages/theme/src/grid/icon.less
  packages/theme/src/grid/loading.less
  packages/theme/src/image/index.less
  packages/theme/src/motion/TinyVue Global Animation Configuration Maintenance.md
  packages/theme/src/motion/TinyVue Global Animation Configuration.md
  packages/theme/src/popup/index.less
  packages/theme/src/progress/index.less
  packages/theme/src/scroll-text/index.less
  packages/theme/src/tabs/index.less
  packages/theme/src/transition/carousel-arrow.less
  packages/theme/src/transition/icon.less
  packages/theme/src/transition/timepicker.less
  packages/theme/src/tree/index.less
Due: prettier --write

feat(theme): [motion] reset the css variables
  packages/theme/src/base/vars.less
Due: none

fix: 顺带修复pc端e2e测试用例报错
  examples/sites/demos/pc/app/amount/custom-service.spec.js
Due: prettier --write, eslint --fix

fix(grid): fix has footer last row can not visible
  packages/theme-saas/src/grid/table.less
Due: none

fix(select): 修复option两层提示的问题
  packages/vue/src/option/src/pc.vue
Due: prettier --write, eslint --fix

fix(popeditor): fix popeditor's e2e
  examples/sites/demos/pc/app/popeditor/suggest.spec.ts
Due: prettier --write, eslint --fix

fix(e2e): fix amount's e2e test
  examples/sites/demos/pc/app/amount/custom-service.spec.js
  examples/sites/demos/pc/app/base-select/slot-reference.spec.ts
  examples/sites/demos/pc/app/input/basic-usage.spec.ts
Due: prettier --write, eslint --fix

fix(gulp): 将编译报错抛出
  packages/theme-saas/build/gulp-dist.js
Due: prettier --write, eslint --fix

chore: 还原更改
  packages/theme-saas/build/gulp-dist.js
Due: prettier --write, eslint --fix

feat(build): 添加LESS编译和错误处理，更新gulp任务以增强可读性和调试信息
  package.json
  packages/theme-saas/build/gulp-dist.js
Due: prettier --write, eslint --fix

fix(tag): 修复标签可选中不生效问题
  packages/renderless/src/tag/index.ts
Due: prettier --write, eslint --fix

fix(notify): 修复notify组件垂直偏移量问题单
  packages/vue/src/notify/index.ts
Due: prettier --write, eslint --fix

fix(notify): 修复e2e测试用例
  examples/sites/demos/pc/app/notify/manual-close.spec.ts
  examples/sites/demos/pc/app/notify/verticalOffset.spec.ts
Due: prettier --write, eslint --fix

docs(grid): add grid customs doc and demo
  examples/sites/demos/apis/grid.js
  examples/sites/demos/pc/app/grid/custom/default-customs-composition-api.vue
  examples/sites/demos/pc/app/grid/custom/default-customs.spec.ts
  examples/sites/demos/pc/app/grid/custom/default-customs.vue
  examples/sites/demos/pc/app/grid/webdoc/grid-custom.js
  examples/sites/demos/pc/app/grid/webdoc/grid-editor.js
Due: prettier --write, eslint --fix

fix(site): fix the package version number for tiny-remoter
  examples/sites/package.json
Due: none

fix: fix the issue of missing the tiny prefix in CSS after packaging
  packages/theme/src/nav-menu/index.less
  packages/theme/src/row/index.less
Due: none

fix(slider): 修复横向和竖向模式转换的bug
  packages/renderless/src/slider/vue.ts
Due: prettier --write, eslint --fix

fix:移动端禁用状态显示不明显
  packages/renderless/src/form-item/vue.ts
  packages/theme-saas/src/form-item/index.less
  packages/vue/src/form-item/src/mobile-first.vue
  packages/vue/src/form-item/src/pc.vue
Due: prettier --write, eslint --fix

fix(select): repairing searchable, when frequent setSelected interrupts the search
  packages/renderless/src/select/index.ts
Due: prettier --write, eslint --fix

fix(grid): fix filterStore.searchValue is not reactive
  packages/vue/src/grid/src/table/src/table.ts
Due: prettier --write, eslint --fix

feat(theme): [motion] optimized animation effect configuration
  packages/theme/src/base/reset.less
  packages/theme/src/base/vars.less
  packages/theme/src/chart-core/index.less
  packages/theme/src/dialog-box/index.less
  packages/theme/src/grid/icon.less
  packages/theme/src/grid/loading.less
  packages/theme/src/motion/scroll.less
Due: none

fix:同时间段任务过多显示异常
  packages/theme-saas/src/calendar-view/index.less
  packages/theme/src/calendar-view/index.less
  packages/vue/src/calendar-view/src/mobile-first.vue
  packages/vue/src/calendar-view/src/pc.vue
Due: prettier --write, eslint --fix

fix(sites): 添加3.26的更新日志到 release 3.26分支
  examples/sites/demos/pc/webdoc/changelog-en.md
  examples/sites/demos/pc/webdoc/changelog.md
Due: prettier --write

fix(playground): 升级playground版本
  examples/sites/playground/App.vue
Due: prettier --write, eslint --fix
