Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(grid): 增加GridColumn组件，优化列宽度分析逻辑，增强表格数据分组处理，添加详细注释以提升可读性
  packages/vue/src/grid/index.ts
  packages/vue/src/grid/src/column/src/Column.vue
  packages/vue/src/grid/src/index.ts
  packages/vue/src/grid/src/table/src/Table.vue
  packages/vue/src/grid/src/table/src/methods.ts
  packages/vue/src/grid/src/table/src/strategy.ts
Due: prettier --write, eslint --fix

fix(grid): 更新Column组件导入路径，修正为Column.vue，并优化插槽处理逻辑以提升组件性能
  packages/vue/src/grid/src/column/index.ts
  packages/vue/src/grid/src/column/src/Column.vue
Due: prettier --write, eslint --fix

feat(grid): 增强表格滚动处理逻辑，添加详细注释以提升可读性，优化固定列类名生成和事件触发机制
  packages/vue/src/grid/src/body/src/body.vue
Due: prettier --write, eslint --fix

fix:checkBox图标大小不统一
  examples/sites/demos/pc/app/alert/custom-class-composition-api.vue
  examples/sites/demos/pc/app/alert/custom-class.spec.ts
  examples/sites/demos/pc/app/alert/custom-class.vue
  packages/theme/src/alert/index.less
  packages/theme/src/alert/vars.less
  packages/theme/src/checkbox/index.less
  packages/theme/src/grid/checkbox.less
  packages/theme/src/grid/vars.less
  packages/theme/src/option/index.less
  packages/theme/src/option/vars.less
  packages/theme/src/svgs/check.svg
  packages/theme/src/svgs/checked-sur.svg
  packages/theme/src/svgs/error.svg
  packages/theme/src/svgs/halfselect.svg
  packages/theme/src/svgs/help.svg
  packages/theme/src/svgs/success.svg
  packages/theme/src/svgs/warning-triangle.svg
  packages/theme/src/svgs/warning.svg
Due: prettier --write, eslint --fix

feat(svg): update svg resource file to adapt dark theme
  examples/sites/demos/pc/app/alert/custom-class-composition-api.vue
  examples/sites/demos/pc/app/alert/custom-class.spec.ts
  examples/sites/demos/pc/app/alert/custom-class.vue
  packages/theme-saas/src/svgs/radio.svg
  packages/theme/src/alert/index.less
  packages/theme/src/alert/vars.less
  packages/theme/src/checkbox/index.less
  packages/theme/src/grid/checkbox.less
  packages/theme/src/grid/vars.less
  packages/theme/src/option/index.less
  packages/theme/src/option/vars.less
  packages/theme/src/svgs/check.svg
  packages/theme/src/svgs/checked-sur.svg
  packages/theme/src/svgs/error.svg
  packages/theme/src/svgs/halfselect.svg
  packages/theme/src/svgs/help.svg
  packages/theme/src/svgs/success.svg
  packages/theme/src/svgs/warning-triangle.svg
  packages/theme/src/svgs/warning.svg
  packages/vue/src/radio-button/src/mobile-first.vue
  packages/vue/src/radio-group/src/mobile-first.vue
  packages/vue/src/radio/src/token.ts
Due: prettier --write, eslint --fix

fix(tree-select): fix e2e test
  examples/sites/demos/pc/app/tree-select/collapse-tags.spec.ts
Due: prettier --write, eslint --fix

feat: [skeleton] 根据设计师意见优化
  examples/sites/demos/mobile-first/app/skeleton/animation.vue
  examples/sites/demos/mobile-first/app/skeleton/avatar.vue
  examples/sites/demos/mobile-first/app/skeleton/base.vue
  examples/sites/demos/mobile-first/app/skeleton/custom-layout.vue
  examples/sites/demos/mobile-first/app/skeleton/custom-rows.vue
  examples/sites/demos/mobile-first/app/skeleton/image-item-slot.vue
  examples/sites/demos/mobile-first/app/skeleton/loaded.vue
  examples/sites/demos/mobile-first/app/skeleton/rows-width.vue
  examples/sites/demos/mobile-first/app/skeleton/shape.vue
  examples/sites/demos/mobile-first/app/skeleton/size.vue
  packages/vue/src/skeleton-item/src/mobile-first.vue
Due: prettier --write, eslint --fix

fix: change mobile-first input suffix and prefix svg color
  packages/vue/src/input/src/mobile-first.vue
Due: prettier --write, eslint --fix

feat(grid): 增强数据获取逻辑，添加详细注释以提升可读性，优化重新加载和过滤条件处理
  packages/vue/src/grid/src/fetch-data/src/methods.ts
Due: prettier --write, eslint --fix

fix(query-builder): fix query builder style not align
  packages/theme-saas/src/query-builder/index.less
  packages/theme/src/query-builder/index.less
  packages/vue/src/query-builder/src/components/ValueEditor.vue
Due: prettier --write, eslint --fix

fix: fix mobile-first long word bug
  packages/vue/src/form-item/src/mobile-first.vue
Due: prettier --write, eslint --fix

fix(calendar-view): fix e2e erros
  examples/sites/demos/pc/app/calendar-view/calendar-disabled-day.spec.ts
Due: prettier --write, eslint --fix

fix:用例修复以及图标修改
  examples/sites/demos/pc/app/checkbox/basic-usage.spec.ts
  examples/sites/demos/pc/app/time-line/status.spec.ts
  packages/theme/src/checkbox/index.less
  packages/theme/src/dropdown-item/index.less
  packages/theme/src/grid/checkbox.less
  packages/theme/src/grid/vars.less
  packages/theme/src/steps/index.less
  packages/theme/src/svgs/checked-sur.svg
  packages/theme/src/tabs/index.less
  packages/theme/src/tabs/vars.less
Due: prettier --write, eslint --fix

fix(grid): fix grid textarea editor hidden bug
  packages/theme-saas/src/grid/table.less
  packages/theme/src/grid/table.less
Due: none

fix(button): fix the issue where the loading attribute of the button's multi-terminal template does not take effect
  packages/vue/src/button/src/mobile-first.vue
  packages/vue/src/button/src/token.ts
Due: prettier --write, eslint --fix

fix: [file-upload] 修复上传没有后缀文件的显示问题
  packages/vue/src/upload-list/src/mobile-first.vue
  packages/vue/src/upload-list/src/pc.vue
Due: prettier --write, eslint --fix

fix(tag): [tag] update e2e test
  packages/theme/src/tag/vars.less
Due: none

fix:暗色主题适配
  examples/sites/demos/pc/app/date-picker/custom-suffix-icon-composition-api.vue
  examples/sites/demos/pc/app/date-picker/custom-suffix-icon.vue
  examples/sites/demos/pc/app/tabs/custom-more-icon.spec.ts
  packages/renderless/src/date-range/vue.ts
  packages/theme/src/search/index.less
  packages/theme/src/search/vars.less
  packages/theme/src/steps/index.less
  packages/theme/src/steps/vars.less
  packages/theme/src/tabs/index.less
  packages/theme/src/tabs/vars.less
  packages/vue/src/tabs/src/tab-nav/pc.vue
  packages/vue/src/upload-list/src/pc.vue
Due: prettier --write, eslint --fix

fix(select): [select] fix styles that have been disabled by the selected checkbox
  packages/theme/src/option/index.less
Due: none

fix(tree-select): [tree-select] repair horizontal spacing
  packages/theme/src/tree/index.less
  packages/theme/src/tree/vars.less
Due: none

fix(checkbox): [select,checkbox] fix the style of the checkbox
  packages/theme/src/base/dark-theme.less
  packages/theme/src/checkbox/index.less
  packages/theme/src/option/index.less
  packages/theme/src/option/vars.less
Due: none

fix(radio): [radio] fix the style of dark themes
  packages/theme/src/radio/vars.less
Due: none

fix(alert): [alert] add variables to icons
  packages/theme/src/svgs/error.svg
  packages/theme/src/svgs/help.svg
  packages/theme/src/svgs/success.svg
  packages/theme/src/svgs/warning-triangle.svg
  packages/theme/src/svgs/warning.svg
Due: none

fix: modify dark theme
  packages/theme/src/dialog-box/index.less
Due: none

fix: modify dark theme
  packages/vue/src/drawer/src/pc.vue
Due: prettier --write, eslint --fix

fix(tooltip): [tooltip,transfer] fix dark theme views
  examples/sites/demos/pc/app/tooltip/control-composition-api.vue
  examples/sites/demos/pc/app/tooltip/control.vue
  packages/theme/src/table/index.less
  packages/theme/src/table/vars.less
Due: prettier --write, eslint --fix

fix(grid): [grid] add no-data icon
  packages/theme/src/images/grid-dark-no-data.svg
  packages/theme/src/images/grid-light-no-data.svg
  packages/theme/src/svgs/check.svg
Due: none

fix(theme): [grid,switch] update dark theme
  examples/sites/demos/pc/app/grid/custom-style/body-style-composition-api.vue
  examples/sites/demos/pc/app/grid/custom-style/body-style.vue
  examples/sites/demos/pc/app/grid/custom-style/footer-style-composition-api.vue
  examples/sites/demos/pc/app/grid/custom-style/footer-style.vue
  examples/sites/demos/pc/app/grid/custom-style/header-style-composition-api.vue
  examples/sites/demos/pc/app/grid/custom-style/header-style.vue
  examples/sites/demos/pc/app/grid/custom/multiple-column-sort-composition-api.vue
  examples/sites/demos/pc/app/grid/custom/multiple-column-sort.vue
  examples/sites/demos/pc/app/grid/edit/editing-composition-api.vue
  examples/sites/demos/pc/app/grid/edit/editing.vue
  examples/sites/demos/pc/app/grid/edit/status-of-editing-composition-api.vue
  examples/sites/demos/pc/app/grid/edit/status-of-editing.vue
  examples/sites/demos/pc/app/grid/edit/trigger-mode-for-editing-composition-api.vue
  examples/sites/demos/pc/app/grid/edit/trigger-mode-for-editing.vue
  examples/sites/demos/pc/app/grid/edit/trigger-mode-hm-editing-composition-api.vue
  examples/sites/demos/pc/app/grid/edit/trigger-mode-hm-editing.vue
  examples/sites/demos/pc/app/grid/size/adaptive-column-width-composition-api.vue
  examples/sites/demos/pc/app/grid/size/adaptive-column-width.vue
  examples/sites/demos/pc/app/grid/size/max-min-grid-height-composition-api.vue
  examples/sites/demos/pc/app/grid/size/max-min-grid-height.vue
  examples/sites/demos/pc/app/grid/validation/custcomp-composition-api.vue
  examples/sites/demos/pc/app/grid/validation/custcomp.vue
  packages/theme/src/grid/table.less
  packages/theme/src/grid/vars.less
  packages/theme/src/switch/index.less
Due: prettier --write, eslint --fix

fix: modify icon
  packages/vue/src/modal/src/pc.vue
Due: prettier --write, eslint --fix

chore: update svgs
  packages/theme/src/images/grid-dark-no-data.svg
  packages/theme/src/images/grid-light-no-data.svg
  packages/theme/src/svgs/check.svg
Due: none

feat(modal): enhance TINYModal functionality, add type definition and option interface
  packages/vue/src/modal/index.ts
Due: prettier --write, eslint --fix

fix(installation): 更新 Vue 导入路径并添加 TinyVue 组件示例
  examples/sites/demos/pc/webdoc/installation.md
Due: prettier --write

fix(button): [button] fix the style of dark themes
  examples/sites/demos/pc/app/button/loading-composition-api.vue
  examples/sites/demos/pc/app/button/loading.vue
  packages/theme/src/button/index.less
  packages/theme/src/button/vars.less
Due: prettier --write, eslint --fix

fix:暗色主题适配
  packages/theme/src/input/index.less
  packages/theme/src/steps/index.less
  packages/theme/src/steps/vars.less
  packages/theme/src/svgs/halfselect.svg
  packages/theme/src/upload-list/index.less
Due: none

fix:暗色主题适配
  examples/sites/demos/mobile-first/app/input/mask.vue
  packages/theme/src/input/index.less
  packages/theme/src/upload-list/index.less
Due: prettier --write, eslint --fix

fix(test): [select,checkbox,button] fix test
  examples/sites/demos/pc/app/button/dynamic-disabled.spec.ts
  examples/sites/demos/pc/app/checkbox/basic-usage.spec.ts
  examples/sites/demos/pc/app/select/nest-radio-grid-much-data.spec.ts
Due: prettier --write, eslint --fix

fix(svgs): [select] modify Icon
  packages/theme/src/svgs/check.svg
  packages/theme/src/svgs/checked-sur.svg
Due: none

chore: remove useless runtime-version
  internals/cli/src/commands/build/build-runtime.ts
  packages/renderless/tsup.config.ts
  packages/utils/src/common/__tests__/index.test.ts
  packages/utils/src/common/index.ts
  packages/utils/src/index.ts
Due: prettier --write, eslint --fix

fix: 修复saas主题打包报错问题
  packages/theme-saas/plugins/loadTheme.js
  packages/theme-saas/src/skeleton-item/index.less
  packages/theme-saas/tailwind.config.js
  packages/theme-saas/theme/defaultTheme.js
  packages/vue/src/skeleton-item/src/mobile-first.vue
Due: prettier --write, eslint --fix

feat(notify): [notify] enhance notification function, add type definition and option interface, optimize code structure
  packages/vue/src/notify/index.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,vue}) or (any of: *.md)
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
