Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs(fluent-editor): optimize fluent-editor mobile-first docs
  examples/sites/demos/apis/fluent-editor.js
  examples/sites/demos/mobile-first/app/fluent-editor/data-switch.vue
  examples/sites/demos/mobile-first/app/fluent-editor/disabled.vue
  examples/sites/demos/mobile-first/app/fluent-editor/image-upload.vue
  examples/sites/demos/mobile-first/app/fluent-editor/options.vue
  examples/sites/demos/mobile-first/app/fluent-editor/webdoc/fluent-editor.js
  packages/renderless/src/fluent-editor/options.ts
  packages/theme/src/fluent-editor/index.less
  packages/vue/src/fluent-editor/src/mobile-first.vue
Due: prettier --write, eslint --fix

feat: sync release-3.17.0 to dev (#1801)
  packages/renderless/package.json
  packages/renderless/src/breadcrumb-item/vue.ts
  packages/theme/build/release.js
  packages/theme/package.json
Due: prettier --write, eslint --fix

fix(grid): fix grid click menu item jump to blank tab in playground close #1709 (#1802)
  packages/vue/src/grid/src/menu/src/children.ts
Due: prettier --write, eslint --fix

docs(fluent-editor): optimize fluent-editor mobile-first docs (#1804)
  examples/sites/demos/apis/fluent-editor.js
  examples/sites/demos/mobile-first/app/fluent-editor/data-switch.vue
  examples/sites/demos/mobile-first/app/fluent-editor/disabled.vue
  examples/sites/demos/mobile-first/app/fluent-editor/image-upload.vue
  examples/sites/demos/mobile-first/app/fluent-editor/options.vue
  examples/sites/demos/mobile-first/app/fluent-editor/webdoc/fluent-editor.js
  packages/renderless/src/fluent-editor/options.ts
  packages/theme/src/fluent-editor/index.less
  packages/vue/src/fluent-editor/src/mobile-first.vue
Due: prettier --write, eslint --fix

fix(numeric): modify docs (#1803)
  examples/sites/demos/apis/numeric.js
Due: prettier --write, eslint --fix

Docs(charts): update chart document (#1800)
  examples/sites/demos/apis/chart-autonavi-map.js
  examples/sites/demos/apis/chart-baidu-map.js
  examples/sites/demos/apis/chart-bar.js
  examples/sites/demos/apis/chart-boxplot.js
  examples/sites/demos/apis/chart-candle.js
  examples/sites/demos/apis/chart-demo.js
  examples/sites/demos/apis/chart-docs.js
  examples/sites/demos/apis/chart-events.js
  examples/sites/demos/apis/chart-funnel.js
  examples/sites/demos/apis/chart-gauge.js
  examples/sites/demos/apis/chart-graph.js
  examples/sites/demos/apis/chart-heatmap.js
  examples/sites/demos/apis/chart-histogram.js
  examples/sites/demos/apis/chart-line.js
  examples/sites/demos/apis/chart-liquidfill.js
  examples/sites/demos/apis/chart-map.js
  examples/sites/demos/apis/chart-pie.js
  examples/sites/demos/apis/chart-process.js
  examples/sites/demos/apis/chart-question.js
  examples/sites/demos/apis/chart-radar.js
  examples/sites/demos/apis/chart-ring.js
  examples/sites/demos/apis/chart-sankey.js
  examples/sites/demos/apis/chart-scatter.js
  examples/sites/demos/apis/chart-sunburst.js
  examples/sites/demos/apis/chart-tree.js
  examples/sites/demos/apis/chart-waterfall.js
  examples/sites/demos/apis/chart-wordcloud.js
  examples/sites/demos/apis/chart.js
  examples/sites/demos/pc/app/chart/webdoc/chart-docs.cn.md
  examples/sites/demos/pc/app/chart/webdoc/chart-docs.en.md
  examples/sites/demos/pc/app/chart/webdoc/chart-docs.js
  examples/sites/demos/pc/app/chart/webdoc/chart-docs.json.cn.md
  examples/sites/demos/pc/app/chart/webdoc/chart-docs.json.en.md
  examples/sites/demos/pc/app/chart/webdoc/chart.cn.md
  examples/sites/demos/pc/app/chart/webdoc/chart.en.md
  examples/sites/demos/pc/menus.js
  examples/sites/demos/pc/overviewimage/chart-docs.svg
  examples/sites/src/views/components/components.vue
Due: prettier --write, eslint --fix

fix(form): [form] fix content not aligned when display only close #1698
  packages/theme/src/form-item/index.less
  packages/theme/src/form-item/vars.less
Due: none

docs(theme): add custom cssvar variable prefix documentation
  examples/sites/demos/pc/webdoc/theme.md
Due: prettier --write

docs(fluent-editor): optimize fluent-editor pc docs
  examples/sites/demos/apis/fluent-editor.js
  examples/sites/demos/pc/app/fluent-editor/data-switch.vue
  examples/sites/demos/pc/app/fluent-editor/disabled.vue
  examples/sites/demos/pc/app/fluent-editor/image-upload-composition-api.vue
  examples/sites/demos/pc/app/fluent-editor/image-upload.vue
  examples/sites/demos/pc/app/fluent-editor/options-composition-api.vue
  examples/sites/demos/pc/app/fluent-editor/options.vue
  examples/sites/demos/pc/app/fluent-editor/webdoc/fluent-editor.js
  packages/fluent-editor/src/assets/counter.scss
  packages/theme/src/fluent-editor/index.less
  packages/vue/src/fluent-editor/src/pc.vue
Due: prettier --write, eslint --fix

fix(virtual-scroll):modify virtual scrolling problem
  packages/renderless/src/virtual-scroll/index.ts
  packages/renderless/src/virtual-scroll/vue.ts
  packages/theme/src/virtual-scroll/index.less
  packages/vue/src/virtual-scroll/src/pc.vue
Due: prettier --write, eslint --fix

chore:delete unless code
  examples/sites/demos/pc/app/tree/basic-usage.vue
Due: prettier --write, eslint --fix

feat(file-upload): 刷新上传组件新规范
  packages/theme/src/upload-list/index.less
  packages/theme/src/upload-list/smb-theme.js
  packages/theme/src/upload-list/vars.less
  packages/vue/src/upload-list/src/pc.vue
Due: prettier --write, eslint --fix

fix(fluent-editor): fix fluent-editor saas theme
  packages/theme-saas/src/fluent-editor/index.less
Due: none

feat(file-upload): 更换上传列表左侧图标
  packages/vue/src/upload-list/src/pc.vue
Due: prettier --write, eslint --fix

fix(select): remove unnecessary stopPropagation
  packages/renderless/src/select/index.ts
Due: prettier --write, eslint --fix

fix(fluent-editor): fix error when execute pnpm site
  examples/sites/package.json
Due: none

fix(link): add Link's typescript declaration, and remove size prop
  packages/vue/src/link/src/index.ts
  packages/vue/src/link/src/pc.vue
Due: prettier --write, eslint --fix

fix(link): add click event's docs
  examples/sites/demos/apis/link.js
Due: prettier --write, eslint --fix

docs(fluent-editor): optimize fluent-editor pc docs (#1807)
  examples/sites/demos/apis/fluent-editor.js
  examples/sites/demos/pc/app/fluent-editor/data-switch.vue
  examples/sites/demos/pc/app/fluent-editor/disabled.vue
  examples/sites/demos/pc/app/fluent-editor/image-upload-composition-api.vue
  examples/sites/demos/pc/app/fluent-editor/image-upload.vue
  examples/sites/demos/pc/app/fluent-editor/options-composition-api.vue
  examples/sites/demos/pc/app/fluent-editor/options.vue
  examples/sites/demos/pc/app/fluent-editor/webdoc/fluent-editor.js
  packages/fluent-editor/src/assets/counter.scss
  packages/theme/src/fluent-editor/index.less
  packages/vue/src/fluent-editor/src/pc.vue
Due: prettier --write, eslint --fix

fix(fluent-editor): fix error when execute pnpm site (#1815)
  examples/sites/package.json
Due: none

fix(fluent-editor): fix fluent-editor saas theme (#1814)
  packages/theme-saas/src/fluent-editor/index.less
Due: none

fix(form): [form] fix content not aligned when display only close #1698 (#1805)
  packages/theme/src/form-item/index.less
  packages/theme/src/form-item/vars.less
Due: none

feat(file-upload): [file-upload]刷新上传组件新规范 (#1811)
  packages/theme/src/upload-list/index.less
  packages/theme/src/upload-list/smb-theme.js
  packages/theme/src/upload-list/vars.less
  packages/vue/src/upload-list/src/pc.vue
Due: prettier --write, eslint --fix

docs(theme): add custom cssvar variable prefix documentation (#1806)
  examples/sites/demos/pc/webdoc/theme.md
Due: prettier --write

fix(playground): fix old version runtime not found close #1817
  examples/sites/env/.env.innersaas
  examples/sites/env/.env.saasopen
  examples/sites/env/.env.saasprod
  examples/sites/playground/App.vue
Due: prettier --write, eslint --fix

feat(pager): [pager] add new props total-fixed-left
  examples/sites/demos/apis/pager.js
  packages/vue/src/pager/src/pc.vue
Due: prettier --write, eslint --fix

test: fix unit test error with api changed
  packages/vue/src/config-provider/__tests__/config-provider.spec.ts
  packages/vue/src/divider/__test__/divider.test.tsx
  packages/vue/src/split/__tests__/split.test.tsx
  packages/vue/src/tag/__tests__/tag.test.tsx
Due: prettier --write, eslint --fix

test(input): [input] add unit test cases
  packages/vue/src/input/__tests__/input.test.tsx
Due: prettier --write, eslint --fix

fix(warning): fix unocss version conflicts
  examples/react-site/package.json
  examples/sites/package.json
  examples/sites/vite.config.mts
  examples/vue2.7/package.json
  examples/vue2/package.json
  examples/vue3/package.json
Due: none

feat(virtual-scroll):Add horizontal scrolling function
  examples/sites/demos/apis/virtual-scroll.js
  examples/sites/demos/pc/app/virtual-scroll/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/virtual-scroll/basic-usage.spec.ts
  examples/sites/demos/pc/app/virtual-scroll/basic-usage.vue
  examples/sites/demos/pc/app/virtual-scroll/webdoc/virtual-scroll.cn.md
  examples/sites/demos/pc/app/virtual-scroll/webdoc/virtual-scroll.en.md
  examples/sites/demos/pc/app/virtual-scroll/webdoc/virtual-scroll.js
  examples/sites/demos/pc/menus.js
  packages/renderless/src/virtual-scroll/index.ts
  packages/renderless/src/virtual-scroll/vue.ts
  packages/theme/src/virtual-scroll/index.less
  packages/vue/src/virtual-scroll/src/index.ts
  packages/vue/src/virtual-scroll/src/pc.vue
Due: prettier --write, eslint --fix

fix(warning): fix unocss version conflicts (#1825)
  examples/react-site/package.json
  examples/sites/package.json
  examples/sites/vite.config.mts
  examples/vue2.7/package.json
  examples/vue2/package.json
  examples/vue3/package.json
Due: none

feat(readme): add readme files to main packages
  packages/renderless/README.md
  packages/renderless/README.zh-CN.md
  packages/theme-mobile/README.md
  packages/theme-mobile/README.zh-CN.md
  packages/theme-saas/README.md
  packages/theme-saas/README.zh-CN.md
  packages/theme/README.md
  packages/theme/README.zh-CN.md
  packages/vue-common/README.md
  packages/vue-common/README.zh-CN.md
  packages/vue-directive/README.md
  packages/vue-directive/README.zh-CN.md
  packages/vue-icon-saas/README.md
  packages/vue-icon-saas/README.zh-CN.md
  packages/vue-icon/README.md
  packages/vue-icon/README.zh-CN.md
  packages/vue-locale/README.md
  packages/vue-locale/README.zh-CN.md
  packages/vue-runtime/README.md
  packages/vue-runtime/README.zh-CN.md
  packages/vue-saas-common/README.md
  packages/vue-saas-common/README.zh-CN.md
Due: prettier --write

fix(playground): fix old version runtime not found close #1817 (#1818)
  examples/sites/env/.env.innersaas
  examples/sites/env/.env.saasopen
  examples/sites/env/.env.saasprod
  examples/sites/playground/App.vue
Due: prettier --write, eslint --fix

feat(tiny-vue-nuxt): [tiny-vue-nuxt] finish importing all components to nuxt module
  examples/tiny-vue-nuxt/src/module.ts
Due: prettier --write, eslint --fix

fix(rich-text-editor): tiny-tiptap add path map
  examples/sites/vite.config.ts
  examples/vue2/vite.config.ts
  examples/vue2/vitest.config.ts
  examples/vue3/vite.config.ts
  examples/vue3/vitest.config.ts
  packages/vue/src/rich-text-editor/src/extensions/code-highlight-view.tsx
  packages/vue/src/rich-text-editor/src/extensions/image-view.tsx
  packages/vue/src/rich-text-editor/src/pc.vue
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,vue}) or (any of: *.md)
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
