Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,vue}": ["prettier --write", "eslint  --fix"],
  "*.md": ["prettier --write"]
}

fix(docs): 文档修改
  examples/sites/demos/pc/webdoc/installation-en.md
  examples/sites/demos/pc/webdoc/installation.md
Due: prettier --write

fix(docs): 文档修改 (#3118)
  examples/sites/demos/pc/webdoc/installation-en.md
  examples/sites/demos/pc/webdoc/installation.md
Due: prettier --write

chore: release @opentiny/vue-docs@3.21.4
  examples/sites/package.json
Due: none

feat(nav-menu): 新增 icon 属性及icon slot，支持配置菜单图标
  examples/sites/demos/apis/nav-menu.js
  examples/sites/demos/pc/app/nav-menu/menu-icon-composition-api.vue
  examples/sites/demos/pc/app/nav-menu/menu-icon.spec.ts
  examples/sites/demos/pc/app/nav-menu/menu-icon.vue
  examples/sites/demos/pc/app/nav-menu/webdoc/nav-menu.js
  packages/renderless/src/nav-menu/index.ts
  packages/renderless/types/nav-menu.type.ts
  packages/theme/src/nav-menu/index.less
  packages/theme/src/nav-menu/vars.less
  packages/vue/src/nav-menu/__tests__/nav-menu.test.tsx
  packages/vue/src/nav-menu/src/pc.vue
Due: prettier --write, eslint --fix

feat(select): [select] dark theme adaptation, modify demo
  examples/sites/demos/pc/app/select/multiple-composition-api.vue
  examples/sites/demos/pc/app/select/multiple.vue
  packages/renderless/src/select/index.ts
Due: prettier --write, eslint --fix

fix:datepicker面板宽度异常
  packages/theme/src/date-panel/index.less
Due: none

feat: 打包主题变量增加默认值
  packages/theme/build/buildVarToObj.js
  packages/theme/build/gulp-dist.js
  packages/theme/build/mapVar.js
  packages/theme/build/writeDefaultValue.js
Due: prettier --write, eslint --fix

fix(grid): [grid] update dark theme
  examples/sites/demos/pc/app/grid/custom-style/class-name-composition-api.vue
  examples/sites/demos/pc/app/grid/custom-style/class-name.spec.js
  examples/sites/demos/pc/app/grid/custom-style/class-name.vue
  examples/sites/demos/pc/app/grid/editor/active-strictly-composition-api.vue
  examples/sites/demos/pc/app/grid/editor/active-strictly.vue
  examples/sites/demos/pc/app/grid/editor/editor-bg-composition-api.vue
  examples/sites/demos/pc/app/grid/editor/editor-bg.vue
  examples/sites/demos/pc/app/grid/loading/grid-custom-loading-composition-api.vue
  examples/sites/demos/pc/app/grid/loading/grid-custom-loading.vue
  packages/theme/src/grid/filter.less
  packages/theme/src/grid/loading.less
  packages/theme/src/grid/menu.less
  packages/theme/src/grid/table.less
  packages/theme/src/grid/toolbar.less
  packages/theme/src/grid/vars.less
Due: prettier --write, eslint --fix

feat(tree-menu): 收起菜单时支持悬浮展示子菜单
  examples/sites/demos/apis/tree-menu.js
  examples/sites/demos/pc/app/tree-menu/pop-sub-menu-composition-api.vue
  examples/sites/demos/pc/app/tree-menu/pop-sub-menu.spec.ts
  examples/sites/demos/pc/app/tree-menu/pop-sub-menu.vue
  examples/sites/demos/pc/app/tree-menu/webdoc/tree-menu.js
  packages/renderless/src/tree-menu/vue.ts
  packages/theme/src/tree-menu/index.less
  packages/theme/src/tree-menu/vars.less
  packages/vue/src/tree-menu/src/menu-node.vue
  packages/vue/src/tree-menu/src/pc.vue
  packages/vue/src/tree-menu/src/pop-menu.vue
  packages/vue/src/tree-menu/src/props.ts
Due: prettier --write, eslint --fix

fix: popover 不挂载到 body
  packages/vue/src/tree-menu/src/pop-menu.vue
Due: prettier --write, eslint --fix

feat(tree-menu): 支持配置弹窗类名
  examples/sites/demos/apis/tree-menu.js
  examples/sites/demos/pc/app/tree-menu/pop-sub-menu.vue
  packages/vue/src/tree-menu/src/pc.vue
  packages/vue/src/tree-menu/src/pop-menu.vue
  packages/vue/src/tree-menu/src/props.ts
Due: prettier --write, eslint --fix

fix:datepicker年份面板禁用不生效
  packages/renderless/src/year-table/index.ts
Due: prettier --write, eslint --fix

fix(popper): fix popper doms in custom element, cant get zindex
  packages/renderless/src/grid/utils/dom.ts
  packages/utils/src/popper/index.ts
  packages/vue-hooks/src/vue-popper.ts
Due: prettier --write, eslint --fix

fix(popper): fix popper doms in custom element, cant get zindex
  packages/renderless/src/common/deps/popper.ts
  packages/renderless/src/common/deps/vue-popper.ts
  packages/renderless/src/grid/utils/dom.ts
Due: prettier --write, eslint --fix

fix(transfer): add is-filterable className to transfer-panel's root dom
  packages/vue/src/transfer-panel/src/pc.vue
Due: prettier --write, eslint --fix

docs(button): add feature list doc
  examples/sites/demos/pc/app/button/webdoc/button.js
Due: prettier --write, eslint --fix

fix(grid): [grid] update dark theme
  examples/sites/demos/pc/app/grid/loading/grid-custom-loading-composition-api.vue
  examples/sites/demos/pc/app/grid/loading/grid-custom-loading.vue
  packages/theme/src/grid/vars.less
  packages/theme/src/loading/vars.less
Due: prettier --write, eslint --fix

docs(site): add webpack to parse vue-fluent-editor related dependencies FAQ
  examples/sites/demos/pc/webdoc/faq.md
Due: prettier --write

fix(utils): update packages's versions
  packages/renderless/package.json
Due: none

fix(popper): [tooltip,popover] fix popper doms in custom element, cant get zindex (#3125)
  packages/renderless/package.json
  packages/renderless/src/common/deps/popper.ts
  packages/renderless/src/common/deps/vue-popper.ts
  packages/renderless/src/grid/utils/dom.ts
Due: prettier --write, eslint --fix

chore: update @opentiny/vue version
  packages/vue/package.json
Due: none

chore: update @opentiny/vue-theme version
  packages/theme/package.json
Due: none

fix(nav-menu): [nav-menu] update dark theme
  packages/theme/src/nav-menu/index.less
  packages/theme/src/nav-menu/vars.less
Due: none

docs: add order number for component in feature list page
  examples/sites/src/views/features.vue
Due: prettier --write, eslint --fix

feat(cascader): [cascader,transfer,tree] dark theme adaptation
  packages/theme/src/cascader-node/index.less
  packages/theme/src/cascader/index.less
  packages/theme/src/cascader/vars.less
  packages/theme/src/transfer/index.less
  packages/theme/src/transfer/vars.less
  packages/theme/src/tree/vars.less
Due: none

docs: optimize feature list page
  examples/sites/src/views/features.vue
  examples/sites/uno.config.js
Due: prettier --write, eslint --fix

feat(utils): use cursor to add comments and vitest test cases to utils functions
  packages/utils/__tests__/type.test.ts
  packages/utils/src/dom/index.ts
  packages/utils/src/type/index.ts
Due: prettier --write, eslint --fix

feat(utils): 添加类型声明
  packages/utils/src/dom/index.ts
  packages/utils/src/type/index.ts
Due: prettier --write, eslint --fix

fix:闪电图标hover整个变黑
  examples/sites/demos/pc/app/icon/list-composition-api.vue
  examples/sites/demos/pc/app/icon/list.vue
Due: prettier --write, eslint --fix

fix(utils): fix the `crypt` function for missing `await`
  packages/utils/src/crypt/index.ts
Due: prettier --write, eslint --fix

feat(cascader): [cascader,transfer,tree] dark theme adaptation
  examples/sites/demos/pc/app/tree/icons-composition-api.vue
  examples/sites/demos/pc/app/tree/icons.vue
  packages/vue/src/transfer/__tests__/transfer.test.tsx
Due: prettier --write, eslint --fix

feat(cascader): [cascader,transfer,tree] dark theme adaptation
  packages/vue/src/transfer/__tests__/transfer.test.tsx
Due: prettier --write, eslint --fix

docs(feature-page): add isCloud popover
  examples/sites/src/views/features.vue
  examples/sites/uno.config.js
Due: prettier --write, eslint --fix

fix(grid): [grid] fix mobile first empty slot
  packages/vue/src/grid/src/mobile-first/index.vue
Due: prettier --write, eslint --fix

docs: add interface IComponentConfig
  examples/sites/demos/pc/app/button/webdoc/button.js
  examples/sites/demos/pc/app/types.ts
  examples/sites/src/views/features.vue
Due: prettier --write, eslint --fix

test(utils/type): 优化单元测试
  packages/utils/src/type/__tests__/type.test.ts
Due: prettier --write, eslint --fix

docs: add badge feature list
  examples/sites/demos/pc/app/badge/webdoc/badge.js
  examples/sites/demos/pc/app/button/webdoc/button.js
Due: prettier --write, eslint --fix

feat(cascader): [cascader,transfer,tree] dark theme adaptation
  packages/theme/src/tree/vars.less
Due: none
