Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,vue}": ["prettier --write", "eslint  --fix"],
  "*.md": ["prettier --write"]
}

docs(Numeric): [examples] add the description of change-compat for change event
  examples/sites/demos/pc/app/numeric/webdoc/numeric.js
Due: prettier --write, eslint --fix

docs(date-picker): [date-picker] fix format docs
  examples/sites/src/views/components/components.vue
Due: prettier --write, eslint --fix

fix(vue-component): [mind-map] border-radius & border (#1510)
  packages/theme/src/mind-map/index.less
  packages/vue/src/mind-map/index.ts
Due: prettier --write, eslint --fix

docs(date-picker): [date-picker] fix format docs (#1522)
  examples/sites/src/views/components/components.vue
Due: prettier --write, eslint --fix

docs(Numeric): [examples] add the description of change-compat for change event (#1521)
  examples/sites/demos/pc/app/numeric/webdoc/numeric.js
Due: prettier --write, eslint --fix

fix(quarter-panel): [date-picker] add mono: true (#1519)
  packages/vue/src/quarter-panel/src/pc.vue
Due: prettier --write, eslint --fix

feat(grid): [grid] add XDesign theme (#1518)
  packages/theme/src/grid/button.less
  packages/theme/src/grid/smb-theme.js
  packages/theme/src/grid/toolbar.less
  packages/theme/src/grid/vars.less
  packages/theme/src/tooltip/smb-theme.js
Due: prettier --write, eslint --fix

docs(sites): add aui adapter document (#1516)
  examples/sites/demos/pc/menus.js
  examples/sites/demos/pc/webdoc/aui-adapter-en.md
  examples/sites/demos/pc/webdoc/aui-adapter.md
Due: prettier --write, eslint --fix

ci(publish): add dispatch publish action (#1517)
  .github/workflows/dispatch-renderless-theme-publish.yml
  .github/workflows/dispatch-ui-publish.yml
Due: none

feat(Message): [Message] when duration set 0, the message will not turn off automatically
  examples/sites/demos/apis/modal.js
  examples/sites/demos/pc/app/modal/duration-composition-api.vue
  examples/sites/demos/pc/app/modal/duration.vue
  examples/sites/demos/pc/app/modal/webdoc/modal.js
  packages/renderless/src/modal/index.ts
Due: prettier --write, eslint --fix

fix: update numeric demo style
  examples/sites/demos/pc/app/numeric/controls-composition-api.vue
  examples/sites/demos/pc/app/numeric/controls.vue
  examples/sites/demos/pc/app/numeric/precision-composition-api.vue
  examples/sites/demos/pc/app/numeric/precision.vue
  packages/theme/src/numeric/index.less
Due: prettier --write, eslint --fix

feat(drawer): enable open event
  packages/renderless/src/drawer/index.ts
Due: prettier --write, eslint --fix

fix(search): fixed the maxlength attribute bug in search
  packages/vue/src/search/src/pc.vue
Due: prettier --write, eslint --fix

docs(drawer): enable open event
  examples/sites/demos/apis/drawer.js
  examples/sites/demos/pc/app/drawer/open-event-composition-api.vue
  examples/sites/demos/pc/app/drawer/open-event.spec.ts
  examples/sites/demos/pc/app/drawer/open-event.vue
  examples/sites/demos/pc/app/drawer/webdoc/drawer.js
Due: prettier --write, eslint --fix

fix: dialog-box header height
  packages/theme/src/dialog-box/aurora-theme.js
  packages/theme/src/dialog-box/index.less
  packages/theme/src/dialog-box/vars.less
Due: prettier --write, eslint --fix

fix: dialog-box header height (#1530)
  packages/theme/src/dialog-box/aurora-theme.js
  packages/theme/src/dialog-box/index.less
  packages/theme/src/dialog-box/vars.less
Due: prettier --write, eslint --fix

fix(search): fixed the maxlength attribute bug in search (#1528)
  packages/vue/src/search/src/pc.vue
Due: prettier --write, eslint --fix

fix: update numeric demo style (#1526)
  examples/sites/demos/pc/app/numeric/controls-composition-api.vue
  examples/sites/demos/pc/app/numeric/controls.vue
  examples/sites/demos/pc/app/numeric/precision-composition-api.vue
  examples/sites/demos/pc/app/numeric/precision.vue
  packages/theme/src/numeric/index.less
Due: prettier --write, eslint --fix

perf(drawer): enable open event
  packages/renderless/src/drawer/vue.ts
Due: prettier --write, eslint --fix

fix(docs): fix the issue of the theme switch button not being centered
  examples/sites/src/views/layout/layout.vue
Due: prettier --write, eslint --fix

fix(rich-text-editor): fix right package name
  packages/vue/src/rich-text-editor/src/extensions/image.ts
  packages/vue/src/rich-text-editor/src/image-view.vue
Due: prettier --write, eslint --fix

fix(rich-text-editor): fix right package name (#1535)
  packages/vue/src/rich-text-editor/src/extensions/image.ts
  packages/vue/src/rich-text-editor/src/image-view.vue
Due: prettier --write, eslint --fix

fix(docs): fix the issue of the theme switch button not being centered (#1533)
  examples/sites/src/views/layout/layout.vue
Due: prettier --write, eslint --fix

fix(grid): [grid] fix grid not emit filter-change bug
  examples/sites/playground/App.vue
  packages/vue/src/grid/src/filter/src/methods.ts
Due: prettier --write, eslint --fix

docs: add v3.15.0 changelog
  examples/sites/demos/pc/webdoc/changelog.md
Due: prettier --write

fix(action-menu): [action-menu] fix no divided bug
  examples/sites/demos/apis/action-menu.js
  examples/sites/demos/pc/app/action-menu/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/action-menu/basic-usage.vue
  examples/sites/index.html
  packages/renderless/types/action-menu.type.ts
  packages/vue/src/action-menu/src/pc.vue
Due: prettier --write, eslint --fix

docs: add v3.15.0 changelog (#1537)
  examples/sites/demos/pc/webdoc/changelog.md
Due: prettier --write

fix(action-menu): [action-menu] fix no divided bug
  packages/vue/src/action-menu/package.json
Due: none

fix(grid): [grid] fix grid not emit filter-change bug
  packages/vue/src/grid/package.json
Due: none

fix(sites): change tinyui-design-common script link
  examples/sites/index.html
Due: none

fix(sites): change tinyui-design-common script link (#1539)
  examples/sites/index.html
Due: none

docs: update vue-docs version
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/package.json
Due: prettier --write

fix(grid): fix right fixed table header gutter style
  packages/theme/package.json
  packages/theme/src/grid/table.less
Due: none

fix(grid): fix right fixed table header gutter style (#1542)
  packages/theme/package.json
  packages/theme/src/grid/table.less
Due: none

docs: update vue-docs version (#1541)
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/package.json
Due: prettier --write

fix(grid): [grid] fix grid no emit filter-change bug (#1536)
  examples/sites/playground/App.vue
  packages/vue/src/grid/package.json
  packages/vue/src/grid/src/filter/src/methods.ts
Due: prettier --write, eslint --fix

docs: add v3.15.0 changelog
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/package.json
Due: prettier --write
