Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,vue}": ["prettier --write", "eslint  --fix"],
  "*.md": ["prettier --write"]
}

fix: 修复github-action构建脚本报错
  internals/automate/src/build-svg-to-js/index.ts
Due: prettier --write, eslint --fix

docs: add introduce doc
  examples/sites/demos/pc/webdoc/architecture.png
  examples/sites/demos/pc/webdoc/introduce.md
Due: prettier --write

fix: 修复icon-saas构建问题
  internals/cli/src/commands/build/build-ui.ts
Due: prettier --write, eslint --fix

feat: modify document prompt style
  examples/sites/demos/pc/webdoc/import-components-en.md
  examples/sites/demos/pc/webdoc/import-components.md
  examples/sites/demos/pc/webdoc/installation-en.md
  examples/sites/demos/pc/webdoc/installation.md
  examples/sites/demos/pc/webdoc/theme-en.md
  examples/sites/demos/pc/webdoc/theme.md
Due: prettier --write

fix(vue-renderless/checkbox): [checkbox] fix disabled state style issue
  examples/sites/demos/pc/app/checkbox/checkbox-disabled-composition-api.vue
  examples/sites/demos/pc/app/checkbox/checkbox-disabled.spec.ts
  examples/sites/demos/pc/app/checkbox/checkbox-disabled.vue
  examples/sites/demos/pc/app/checkbox/webdoc/checkbox.js
Due: prettier --write, eslint --fix

feat:下拉表格组件开发
  examples/sites/demos/apis/grid-select.js
  examples/sites/demos/pc/app/grid-select/basic-usage.vue
  examples/sites/demos/pc/app/grid-select/config.spec.ts
  examples/sites/demos/pc/app/grid-select/config.vue
  examples/sites/demos/pc/app/grid-select/extra-query-params-composition-api.vue
  examples/sites/demos/pc/app/grid-select/extra-query-params.spec.ts
  examples/sites/demos/pc/app/grid-select/extra-query-params.vue
  examples/sites/demos/pc/app/grid-select/filter-composition-api.vue
  examples/sites/demos/pc/app/grid-select/filter.vue
  examples/sites/demos/pc/app/grid-select/init-query-composition-api.vue
  examples/sites/demos/pc/app/grid-select/init-query.spec.ts
  examples/sites/demos/pc/app/grid-select/init-query.vue
  examples/sites/demos/pc/app/grid-select/multiple-composition-api.vue
  examples/sites/demos/pc/app/grid-select/multiple.vue
  examples/sites/demos/pc/app/grid-select/radio-bigdata-composition-api.vue
  examples/sites/demos/pc/app/grid-select/radio-bigdata.spec.ts
  examples/sites/demos/pc/app/grid-select/radio-bigdata.vue
  examples/sites/demos/pc/app/grid-select/remote.spec.ts
  examples/sites/demos/pc/app/grid-select/remote.vue
  examples/sites/demos/pc/app/grid-select/webdoc/grid-select.js
  examples/sites/demos/pc/menus.js
  packages/renderless/src/grid-select/index.ts
  packages/renderless/src/grid-select/vue.ts
  packages/vue/src/grid-select/src/pc.vue
Due: prettier --write, eslint --fix

feat(base-select): [base-select] Synchronize the select component code to the base-select component
  packages/renderless/src/base-select/index.ts
  packages/renderless/src/base-select/vue.ts
  packages/vue/src/base-select/src/index.ts
  packages/vue/src/base-select/src/pc.vue
  packages/vue/src/select/src/pc.vue
Due: prettier --write, eslint --fix

fix(auto-tip): add popperClass for AutoTip directive
  examples/sites/demos/pc/app/directives/webdoc/directives-auto-tip.js
  packages/vue-directive/src/auto-tip.ts
Due: prettier --write, eslint --fix

fix(build): remove create-iconsaas commond
  internals/cli/package.json
  internals/cli/src/commands/create/create-icon-saas.ts
  internals/cli/src/commands/create/index.ts
  package.json
Due: prettier --write, eslint --fix

fix(cli): remove create-iconsaas
  internals/cli/src/index.ts
Due: prettier --write, eslint --fix

fix(docs): add version infomation
  examples/sites/demos/pc/app/directives/webdoc/directives-auto-tip.js
Due: prettier --write, eslint --fix

feat: add base-select e2e
  examples/sites/demos/pc/app/base-select/all-text.spec.ts
  examples/sites/demos/pc/app/base-select/basic-usage.spec.ts
  examples/sites/demos/pc/app/base-select/clearable.spec.ts
  examples/sites/demos/pc/app/base-select/input-box-type.spec.ts
  examples/sites/demos/pc/app/base-select/multiple.spec.ts
  examples/sites/demos/pc/app/base-select/searchable.spec.ts
Due: prettier --write, eslint --fix

fix：修复系统时区转换逻辑
  packages/renderless/src/picker/index.ts
  packages/utils/src/date/index.ts
  packages/utils/src/index.ts
Due: prettier --write, eslint --fix

feat: modify image reference path and size
  examples/sites/demos/pc/webdoc/introduce.md
Due: prettier --write

fix:修复tab宽度不实时更新问题
  examples/sites/demos/pc/app/tabs/header-only-composition-api.vue
  examples/vue2/vite.config.ts
  packages/renderless/src/tabs-mf/vue-nav.ts
Due: prettier --write, eslint --fix

feat: 将文件入口从忽略列表中移除，较少开发需要执行的命令
  .gitignore
  package.json
  packages/vue/index.ts
  packages/vue/mobile-first.ts
  packages/vue/pc.ts
Due: prettier --write, eslint --fix

fix(saas-api): hide some props in saas mode
  examples/sites/demos/apis/select.js
  examples/sites/demos/pc/app/select/webdoc/select.js
  examples/sites/demos/saas/menus.js
  packages/vue/src/select/src/index.ts
Due: prettier --write, eslint --fix

fix: optimization and Modification of SaaS Official Website
  examples/sites/demos/mobile-first/app/button/webdoc/button.js
  examples/sites/demos/mobile-first/app/file-upload/show-title.vue
  examples/sites/public/static/css/design-common.css
  examples/sites/saas.html
  examples/sites/saas/App.vue
  examples/sites/saas/main.ts
  examples/sites/saas/style.css
  examples/sites/src/assets/right-panel.less
  examples/sites/src/components/demo.vue
  examples/sites/src/components/header.vue
  examples/sites/src/views/components-doc/cmp-config.js
  examples/sites/src/views/overview.vue
Due: prettier --write, eslint --fix

fix(checkbox): [checkbox] fix disabled state style and improve disabled checked behavior test
  examples/sites/demos/pc/app/checkbox/checkbox-disabled.spec.ts
Due: prettier --write, eslint --fix

chore(time-line): add meta stable version info for new feature
  examples/sites/demos/apis/time-line.js
Due: prettier --write, eslint --fix

feat(tag): [tag] add round prop to support circular border radius
  examples/sites/demos/apis/tag.js
  examples/sites/demos/pc/app/tag/round-composition-api.vue
  examples/sites/demos/pc/app/tag/round.spec.ts
  examples/sites/demos/pc/app/tag/round.vue
  examples/sites/demos/pc/app/tag/webdoc/tag.js
  packages/vue/src/tag/src/index.ts
  packages/vue/src/tag/src/pc.vue
Due: prettier --write, eslint --fix

fix: delete invalid styles
  examples/sites/src/assets/right-panel.less
Due: none

fix: update button component size attribute
  packages/theme-saas/src/button-group/index.less
Due: none

ci: add deploy-obs
  .github/workflows/deploy-obs.yml
Due: none

fix: fix case error IconSubScript => IconSubscript
  .github/workflows/deploy-obs.yml
  packages/vue/src/filter/src/tag-group.vue
Due: prettier --write, eslint --fix

feat:select组件重构
  examples/sites/demos/pc/app/select/automatic-dropdown.spec.ts
  examples/sites/demos/pc/app/select/copy-multi.spec.ts
  examples/sites/demos/pc/app/select/events.spec.ts
  examples/sites/demos/pc/app/select/input-box-type.spec.ts
  examples/sites/demos/pc/app/select/nest-grid-remote.spec.ts
  examples/sites/demos/pc/app/select/nest-grid.spec.ts
  examples/sites/demos/pc/app/select/nest-radio-grid-much-data.spec.ts
  examples/sites/demos/pc/app/select/nest-tree.spec.ts
  examples/sites/demos/pc/app/select/popup-style-position.spec.ts
  examples/sites/demos/pc/app/select/remote-method.spec.ts
  packages/renderless/src/base-select/index.ts
  packages/renderless/src/grid-select/index.ts
  packages/renderless/src/grid-select/vue.ts
  packages/renderless/src/select-wrapper/vue.ts
  packages/renderless/src/tree-select/index.ts
  packages/renderless/src/tree-select/vue.ts
  packages/theme/src/option/index.less
  packages/vue/src/base-select/src/pc.vue
  packages/vue/src/select/src/mobile-first.vue
  packages/vue/src/select/src/pc.vue
Due: prettier --write, eslint --fix

test(checkbox): fix disabled checkbox e2e test by using native click via evaluate
  examples/sites/demos/pc/app/checkbox/checkbox-disabled.spec.ts
Due: prettier --write, eslint --fix

test(tag): fix round attribute e2e test
  examples/sites/demos/pc/app/tag/round.spec.ts
Due: prettier --write, eslint --fix

ci: add deploy-obs-saas
  .github/workflows/deploy-obs-saas.yml
  packages/theme-saas/src/space/index.less
  packages/vue-icon-saas/src/sub-script.ts
  packages/vue-icon-saas/src/subscript.ts
Due: prettier --write, eslint --fix

fix: fix build:saas
  packages/theme-saas/src/space/index.less
  packages/vue-icon-saas/src/sub-script.ts
  packages/vue-icon-saas/src/subscript.ts
Due: prettier --write, eslint --fix

ci: add deploy-obs-saas
  .github/workflows/deploy-obs-saas.yml
Due: none

fix: fix tiny-vue playground error and tiny-vue-saas error after deploy obs
  .github/workflows/deploy-obs-saas.yml
  .github/workflows/deploy-obs.yml
Due: none

feat: add saas.html entry to Vite configuration
  examples/sites/vite.config.ts
Due: prettier --write, eslint --fix

fix(icons): add rewrite icons export ,rename subscript to sub-script
  internals/automate/src/build-svg-to-js/config.ts
  internals/automate/src/build-svg-to-js/index.ts
  packages/theme/src/svgs/sub-script.svg
  packages/vue-icon-saas/index.ts
  packages/vue-icon-saas/src/sub-script.ts
  packages/vue-icon-saas/src/subscript.ts
  packages/vue-icon/index.ts
  packages/vue-icon/src/sub-script.ts
  packages/vue-icon/src/subscript.ts
Due: prettier --write, eslint --fix

fix(grid): fix title is not reactive
  packages/vue/src/grid-toolbar/src/custom-saas.vue
  packages/vue/src/grid-toolbar/src/custom-select.vue
  packages/vue/src/grid-toolbar/src/custom.vue
Due: prettier --write, eslint --fix
