Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(split): add SaaS style
  packages/theme-saas/src/split/index.less
Due: none

fix: modify comments
  packages/theme-saas/src/split/index.less
Due: none

fix(grid): fix insert row can't not getRowById
  packages/vue/src/grid/src/table/src/methods.ts
Due: prettier --write, eslint --fix

feat: automatically trigger updates to the docs document
  .github/workflows/auto-deploy-docs.yml
Due: none

feat: auot build main module docs
  .github/workflows/auto-build-main-module-docs.yml
Due: none

feat: auot build main module docs yml
  .github/workflows/auto-build-main-module-docs.yml
Due: none

feat: add PAT_TOKEN add ssh kye
  .github/workflows/auto-build-main-module-docs.yml
Due: none

feat: edit ssh-private-key keys
  .github/workflows/auto-build-main-module-docs.yml
Due: none

feat: add pull_request_target to yaml
  .github/workflows/auto-build-main-module-docs.yml
Due: none

feat: delete pull_request_target to yml
  .github/workflows/auto-build-main-module-docs.yml
Due: none

feat: add auto-build-main-module-docs yml
  .github/workflows/auto-build-main-module-docs.yml
Due: none

fix: optimize the training ground
  examples/sites/playground/App.vue
  examples/sites/playground/assets/big.png
  examples/sites/playground/assets/small.png
  examples/sites/playground/icons/Github.vue
  examples/sites/playground/icons/Layout.vue
  examples/sites/playground/icons/Reverse.vue
  examples/sites/playground/icons/Set.vue
  examples/sites/playground/icons/Share.vue
  examples/sites/playground/icons/Vertical.vue
  examples/sites/src/views/components-doc/common.vue
  examples/sites/src/views/components-doc/saas.vue
Due: prettier --write, eslint --fix

fix(transfer): fix it works when item data receive empty object
  packages/renderless/src/transfer-panel/index.ts
Due: prettier --write, eslint --fix

fix(dropdown): add aria information to the dropdown component
  packages/renderless/src/dropdown/index.ts
  packages/vue/src/dropdown-item/src/pc.vue
  packages/vue/src/dropdown-menu/src/pc.vue
  packages/vue/src/dropdown/src/pc.vue
Due: prettier --write, eslint --fix

docs: update introduce doc
  examples/sites/demos/pc/webdoc/introduce.md
Due: prettier --write

fix(grid): fix insert rowIndex error
  packages/vue/src/grid/src/edit/src/methods.ts
  packages/vue/src/grid/src/table/src/methods.ts
Due: prettier --write, eslint --fix

feat: delete more than yml code
  .github/workflows/auto-build-main-module-docs.yml
Due: none

feat: delete architecture images for testing purposes
  examples/sites/demos/pc/webdoc/architecture.png
Due: none

feat: add architecture.png
  examples/sites/demos/pc/webdoc/architecture.png
Due: none

feat: add PAT_TOKEN
  .github/workflows/auto-deploy-docs.yml
Due: none

fix:修复初始化tab内容无法加载问题
  packages/renderless/src/tabs-mf/vue.ts
Due: prettier --write, eslint --fix

feat: add triggering conditions
  .github/workflows/auto-build-main-module-docs.yml
  .github/workflows/auto-deploy-docs.yml
Due: none

feat: test whether the modified MD file is effective
  examples/sites/demos/pc/webdoc/changelog-en.md
Due: prettier --write

feat: release testing
  examples/sites/demos/pc/webdoc/changelog-en.md
Due: prettier --write

fix(grid): fix insert rowIndex error
  packages/vue/src/grid/src/composable/useNormalData.ts
  packages/vue/src/grid/src/table/src/methods.ts
  packages/vue/src/grid/src/table/src/table.ts
Due: prettier --write, eslint --fix

fix: optimize table sass css var
  packages/theme-saas/src/grid/table.less
Due: none

test(grid): fix e2e test demo
  examples/sites/demos/pc/app/grid/filter/simple-date-filter.spec.ts
Due: prettier --write, eslint --fix

fix:修复下拉菜单图标背景色
  packages/theme/src/dropdown-item/index.less
Due: none

fix(select): fix the dropdown panel width cannot follow the input width，when the parent container of select has an animation, the dropdown panel width cannot follow the input width
  packages/renderless/src/select-dropdown/vue.ts
Due: prettier --write, eslint --fix

fix(select): add comment
  packages/renderless/src/select-dropdown/vue.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,vue}) or (any of: *.md)
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
