Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: update the width
  packages/theme-saas/src/switch/index.less
Due: none

fix: modify reviews
  packages/theme-saas/src/svgs/loading-shadow.svg
Due: none

feat: add the hideSaas attribute to hide the demo and related properties
  examples/sites/demos/apis/config-provider.js
  examples/sites/demos/pc/app/config-provider/webdoc/config-provider.js
  examples/sites/src/components/anchor.vue
  examples/sites/src/const.ts
  examples/sites/src/views/components-doc/common.vue
Due: prettier --write, eslint --fix

fix(carousel): hidden Saas official website vertical rotation example
  examples/sites/demos/pc/app/carousel/webdoc/carousel.js
Due: prettier --write, eslint --fix

fix(drawer): modify the saas style
  examples/sites/demos/apis/drawer.js
  examples/sites/demos/pc/app/drawer/webdoc/drawer.js
  packages/theme-saas/src/drawer/index.less
Due: prettier --write, eslint --fix

feat(ip-address): modify Saas theme style
  packages/theme-saas/src/ip-address/index.less
Due: none

fix: modify the saas theme style
  packages/theme-saas/src/crop/index.less
Due: none

fix: modify the comments
  examples/sites/src/components/anchor.vue
  examples/sites/src/const.ts
  examples/sites/src/views/components-doc/common.vue
Due: prettier --write, eslint --fix

fix(dialog-select): modify e2e test
  examples/sites/demos/pc/app/dialog-select/nest-tree-single.spec.ts
Due: prettier --write, eslint --fix

fix(query-builder): update TinyButton import in RuleGroup component
  packages/vue/src/query-builder/src/components/RuleGroup.vue
Due: prettier --write, eslint --fix

fix:e2e
  examples/sites/demos/pc/app/input/resize.spec.ts
  examples/sites/demos/pc/app/notify/manual-close-composition-api.vue
  examples/sites/demos/pc/app/notify/manual-close.vue
Due: prettier --write, eslint --fix

feat: 添加github-pages的saas官网构建脚本
  examples/sites/package.json
Due: none

fix: 修复gitActions发布alpha版本发布错误问题
  packages/vue/src/color-select-panel/package.json
Due: none

chore(space): update version to 3.27.0 in package.json
  packages/vue/src/space/package.json
Due: none

feat(menus): add meta information for 'Space' menu item with stable version 3.27.0
  examples/sites/demos/pc/menus.js
Due: prettier --write, eslint --fix

fix(load-list): add space after title in load-list.en.md to fix jekyll build error
  examples/sites/demos/mobile-first/app/load-list/webdoc/load-list.en.md
Due: prettier --write

chore: update build command and environment variable for saas configuration
  examples/sites/env/.env.saaspages
  examples/sites/package.json
  packages/vue/package.json
Due: none

fix(numeric): numeric modelValue type should not include underfined
  packages/vue/src/numeric/src/index.ts
Due: prettier --write, eslint --fix

fix(numeric): [numeric] numeric modelValue type should not include underfined
  examples/sites/demos/pc/app/numeric/allow-empty.spec.ts
Due: prettier --write, eslint --fix

fix(numeric): numeric modelValue type should not include underfined
  examples/sites/demos/pc/app/numeric/allow-empty.spec.ts
  packages/vue/src/numeric/src/index.ts
Due: prettier --write, eslint --fix

docs(chart): correct loading and data-empty prop types to boolean in documentation
  examples/sites/demos/apis/chart-attributes-demo.js
  examples/sites/demos/apis/chart-demo.js
  examples/sites/demos/apis/chart-docs.js
  examples/sites/demos/apis/chart-events.js
  examples/sites/demos/apis/chart-question.js
  examples/sites/demos/apis/chart.js
Due: prettier --write, eslint --fix

fix: 修复icon-saas依赖theme-saas包版本错误问题
  internals/cli/src/commands/build/build-ui.ts
Due: prettier --write, eslint --fix

chore: update changelog
  examples/sites/demos/pc/webdoc/changelog.md
Due: prettier --write

fix(grid): remove last visible row border
  packages/theme-saas/src/grid/table.less
  packages/vue/src/grid/src/body/src/body.tsx
Due: prettier --write, eslint --fix

docs: add ask deepwiki in README
  README.md
  README.zh-CN.md
Due: prettier --write

fix(query-builder): document supplement
  examples/sites/demos/pc/app/query-builder/webdoc/query-builder.js
Due: prettier --write, eslint --fix

fix(space): [space]default spacing for overlay button components
  examples/sites/demos/mobile-first/app/space/space-size.vue
  examples/sites/demos/pc/app/space/space-size.vue
  packages/theme/src/space/index.less
  packages/theme/src/space/vars.less
  packages/theme/src/vars.less
  packages/vue/src/space/index.ts
Due: prettier --write, eslint --fix

fix: import to style root file directory
  packages/theme/src/index.less
Due: none

fix:修复edm上传模式，文件大小限制失效
  packages/renderless/src/file-upload/index.ts
Due: prettier --write, eslint --fix

fix(grid): fix grid error when columns config from null change to empty array
  packages/vue/src/grid/package.json
  packages/vue/src/grid/src/composable/useHeader.ts
Due: prettier --write, eslint --fix

fix(grid): fix grid error when columns config from null change to empty array (#3817)
  packages/vue/src/grid/package.json
  packages/vue/src/grid/src/composable/useHeader.ts
Due: prettier --write, eslint --fix

docs(color-picker): change 'enable alpha selection' to 'support alpha selection' in API description
  examples/sites/demos/apis/color-picker.js
  examples/sites/demos/apis/color-select-panel.js
  examples/sites/demos/pc/app/color-picker/webdoc/color-picker.js
Due: prettier --write, eslint --fix

fix(timeline): add description prop for configuration mode display
  examples/sites/demos/apis/time-line.js
  packages/vue/src/timeline-item/src/pc.vue
Due: prettier --write, eslint --fix

fix: 修复gradient-parser包依赖导致流水线报错问题
  packages/modules.json
  packages/vue/src/color-select-panel/package.json
Due: none

feat: 适配icon-saas打包
  package.json
Due: none

fix(site): site provides examples of both SaaS and non-SaaS filter modes
  examples/sites/demos/pc/app/icon/advance-usage-composition-api.vue
  examples/sites/demos/pc/app/icon/advance-usage.vue
  examples/sites/src/components/anchor.vue
  examples/sites/src/views/components-doc/common.vue
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,vue}) or (any of: *.md)
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
