Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(dropdown): [dropdown] 修改写法
  packages/vue/src/dropdown/src/index.ts
  packages/vue/src/dropdown/src/pc.vue
Due: prettier --write, eslint --fix

fix: add solutions to common problems
  examples/sites/demos/pc/webdoc/faq-en.md
  examples/sites/demos/pc/webdoc/faq.md
Due: prettier --write

feat(mobile): optimize the mobile common package name and import path, and improve xss dependency
  packages/mobile/package.json
Due: none

ci(workflows): support automated patch version tag (#2773)
  .github/workflows/auto-all-publish.yml
Due: none

fix: revise inspection comments
  examples/sites/demos/pc/webdoc/faq-en.md
  examples/sites/demos/pc/webdoc/faq.md
Due: prettier --write

fix: revise inspection comments
  examples/sites/demos/pc/webdoc/faq-en.md
Due: prettier --write

fix: revise inspection comments
  examples/sites/demos/pc/webdoc/faq.md
Due: prettier --write

chore: add script alias test:unit and test:e2e
  package.json
Due: none

docs: fix demo-list children miss width style (#2769)
  examples/sites/demos/pc/webdoc/installation-en.md
  examples/sites/demos/pc/webdoc/installation.md
  examples/sites/src/views/components/demo.vue
Due: prettier --write, eslint --fix

feat: go through the mobile packaging build and release process and fix the bugs found during the build and release
  packages/mobile/components/form/src/mobile.vue
  packages/mobile/components/tab-item/src/mobile.vue
  packages/mobile/components/tag/src/mobile.vue
  packages/mobile/components/toast/src/mobile.vue
  packages/mobile/package.json
  packages/mobile/utils/index.ts
  packages/mobile/utils/runtime.ts
  packages/mobile/vite.config.ts
Due: prettier --write, eslint --fix

fix(mobile): add d.ts export files for mobile build
  packages/mobile/components/action-sheet/src/mobile.vue
  packages/mobile/tsconfig.json
  packages/mobile/vite.config.ts
Due: prettier --write, eslint --fix

fix(mobile): fix
  packages/mobile/vite.config.ts
Due: prettier --write, eslint --fix

feat(pager): [pager] add change-compat to control whether trigger change event when value change
  examples/sites/demos/apis/pager.js
  examples/sites/demos/pc/app/pager/pager-event-composition-api.vue
  examples/sites/demos/pc/app/pager/pager-event.spec.ts
  examples/sites/demos/pc/app/pager/pager-event.vue
  examples/sites/demos/pc/app/pager/webdoc/pager.js
  packages/renderless/src/pager/index.ts
  packages/renderless/src/pager/vue.ts
  packages/vue/src/pager/src/index.ts
  packages/vue/src/pager/src/mobile-first.vue
  packages/vue/src/pager/src/pc.vue
Due: prettier --write, eslint --fix

fix(pager): fix internalPageSize error
  packages/renderless/src/pager/index.ts
  packages/renderless/src/pager/vue.ts
Due: prettier --write, eslint --fix

docs: add change-compat faq docs
  examples/sites/demos/pc/webdoc/faq-en.md
  examples/sites/demos/pc/webdoc/faq.md
Due: prettier --write

fix(grid): [grid] fix style error when dynamic group header is set fixed
  packages/vue/src/grid/package.json
  packages/vue/src/grid/src/table/src/utils/autoCellWidth.ts
Due: prettier --write, eslint --fix

ci(workflows): add script for full release of alpha test package
  .github/workflows/dispatch-all-publish-alpha.yml
  internals/cli/package.json
  internals/cli/src/commands/release/releaseAlpha.ts
  internals/cli/src/index.ts
  package.json
Due: prettier --write, eslint --fix

fix(grid): [grid] fix repeated trigger cell active when boardConfig.isEdit is set true (#2770)
  packages/vue/src/grid/src/table/src/events.ts
  packages/vue/src/grid/src/table/src/utils/handleGlobalKeydownEvent.ts
Due: prettier --write, eslint --fix

fix(theme-tool): add theme-tool.d.ts for tinyOldTheme vars
  packages/theme/src/theme-tool.d.ts
Due: prettier --write, eslint --fix

fix: 修复检视意见
  .github/workflows/dispatch-all-publish-alpha.yml
Due: none

feat(dropdown): [dropdown] 据检视意见修复
  examples/sites/demos/pc/app/dropdown/visible-composition-api.vue
  examples/sites/demos/pc/app/dropdown/visible.spec.ts
  examples/sites/demos/pc/app/dropdown/visible.vue
  packages/renderless/src/dropdown/index.ts
  packages/renderless/src/dropdown/vue.ts
Due: prettier --write, eslint --fix

docs(sites): update changelog md doc and remove rich-text-editor examples
  examples/sites/demos/pc/app/rich-text-editor/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/rich-text-editor/basic-usage.vue
  examples/sites/demos/pc/app/rich-text-editor/collaboration-usage-composition-api.vue
  examples/sites/demos/pc/app/rich-text-editor/collaboration-usage.vue
  examples/sites/demos/pc/app/rich-text-editor/custom-bar-usage-composition-api.vue
  examples/sites/demos/pc/app/rich-text-editor/custom-bar-usage.vue
  examples/sites/demos/pc/app/rich-text-editor/event-usage-composition-api.vue
  examples/sites/demos/pc/app/rich-text-editor/event-usage.vue
  examples/sites/demos/pc/app/rich-text-editor/options-usage-composition-api.vue
  examples/sites/demos/pc/app/rich-text-editor/options-usage.vue
  examples/sites/demos/pc/app/rich-text-editor/placeholder-usage-composition-api.vue
  examples/sites/demos/pc/app/rich-text-editor/placeholder-usage.vue
  examples/sites/demos/pc/app/rich-text-editor/webdoc/rich-text-editor.cn.md
  examples/sites/demos/pc/app/rich-text-editor/webdoc/rich-text-editor.en.md
  examples/sites/demos/pc/app/rich-text-editor/webdoc/rich-text-editor.js
  examples/sites/demos/pc/webdoc/changelog.md
Due: prettier --write, eslint --fix

feat(dropdown): [dropdown] 据检视意见修复
  examples/sites/demos/pc/app/dropdown/visible-composition-api.vue
  examples/sites/demos/pc/app/dropdown/visible.spec.ts
  examples/sites/demos/pc/app/dropdown/visible.vue
  packages/vue/src/dropdown/src/pc.vue
Due: prettier --write, eslint --fix

fix(grid): [grid] fix enter board event do not work
  packages/vue/src/grid/src/table/src/events.ts
Due: prettier --write, eslint --fix

ci: change ubuntu-latest to ubuntu-22.04 when run e2e test
  .github/workflows/test-e2e-all.yml
  .github/workflows/test-e2e-dispatch.yml
  .github/workflows/test-e2e-pr-comment.yml
  .github/workflows/test-e2e-pr.yml
  .github/workflows/test-unit-pr.yml
Due: none

test: update @playwright/test to 1.49.x
  examples/docs/package.json
  examples/sites/package.json
  examples/vue2.7/package.json
  examples/vue2/package.json
  examples/vue3/package.json
  internals/playwright-config/package.json
  package.json
  pnpm-workspace.yaml
Due: none

fix(grid): [grid] fix enter board event do not work (#2788)
  packages/vue/src/grid/src/table/src/events.ts
Due: prettier --write, eslint --fix

fix(grid): [grid] fix style error when dynamic group header is set fixed (#2789)
  packages/vue/src/grid/package.json
  packages/vue/src/grid/src/table/src/utils/autoCellWidth.ts
Due: prettier --write, eslint --fix

docs(sites): update changelog md doc and remove rich-text-editor examples (#2787)
  examples/sites/demos/pc/app/rich-text-editor/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/rich-text-editor/basic-usage.vue
  examples/sites/demos/pc/app/rich-text-editor/collaboration-usage-composition-api.vue
  examples/sites/demos/pc/app/rich-text-editor/collaboration-usage.vue
  examples/sites/demos/pc/app/rich-text-editor/custom-bar-usage-composition-api.vue
  examples/sites/demos/pc/app/rich-text-editor/custom-bar-usage.vue
  examples/sites/demos/pc/app/rich-text-editor/event-usage-composition-api.vue
  examples/sites/demos/pc/app/rich-text-editor/event-usage.vue
  examples/sites/demos/pc/app/rich-text-editor/options-usage-composition-api.vue
  examples/sites/demos/pc/app/rich-text-editor/options-usage.vue
  examples/sites/demos/pc/app/rich-text-editor/placeholder-usage-composition-api.vue
  examples/sites/demos/pc/app/rich-text-editor/placeholder-usage.vue
  examples/sites/demos/pc/app/rich-text-editor/webdoc/rich-text-editor.cn.md
  examples/sites/demos/pc/app/rich-text-editor/webdoc/rich-text-editor.en.md
  examples/sites/demos/pc/app/rich-text-editor/webdoc/rich-text-editor.js
  examples/sites/demos/pc/webdoc/changelog.md
Due: prettier --write, eslint --fix

test(grid): fix grid e2e test case
  examples/sites/demos/pc/app/grid/edit/custom-editing.spec.js
  examples/sites/demos/pc/app/grid/edit/editing.spec.js
  examples/sites/demos/pc/app/grid/edit/has-row-change.spec.js
  examples/sites/demos/pc/app/grid/edit/revert-data.spec.js
  examples/sites/demos/pc/app/grid/edit/status-of-editing.spec.js
  examples/sites/demos/pc/app/grid/edit/trigger-mode-for-editing.spec.js
  examples/sites/demos/pc/app/grid/edit/trigger-mode-hm-editing.spec.js
  examples/sites/demos/pc/app/grid/validation/before-submit-validation.spec.js
  examples/sites/demos/pc/app/grid/validation/custcomp.spec.js
  examples/sites/demos/pc/app/grid/validation/editing-isvalidalways-validation.spec.js
  examples/sites/demos/pc/app/grid/validation/editing-validation.spec.js
  examples/sites/demos/pc/app/grid/validation/row-data-valid.spec.js
  examples/sites/demos/pc/app/grid/validation/select-validation.spec.js
  examples/sites/demos/pc/app/grid/validation/tipconfig.spec.js
  examples/sites/demos/pc/app/grid/validation/validation-scroll-to-col.spec.js
Due: prettier --write, eslint --fix

fix(theme): update version
  packages/theme/package.json
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,vue}) or (any of: *.md)
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
