Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(button): set svg size when button is only icon
  packages/theme/src/button/index.less
  packages/theme/src/button/vars.less
Due: none

fix(milestone): [milestone] 修复检视问题
  examples/sites/demos/pc/app/milestone/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/milestone/basic-usage.spec.ts
  examples/sites/demos/pc/app/milestone/basic-usage.vue
  packages/theme/src/milestone/index.less
Due: prettier --write, eslint --fix

fix(wizard): [wizard] Fix review issues (#2373)
  examples/sites/demos/pc/app/wizard/base-usage.spec.ts
  packages/theme/src/wizard/index.less
  packages/theme/src/wizard/vars.less
Due: prettier --write, eslint --fix

fix(milestone): [milestone] 修复测试用例报错的问题
  examples/sites/demos/pc/app/milestone/flag-before.spec.ts
  examples/sites/demos/pc/app/milestone/show-number.spec.ts
  examples/sites/demos/pc/app/milestone/solid-style.spec.ts
Due: prettier --write, eslint --fix

fix(pop-upload): 统一变量替换tiny前缀类名
  packages/theme/src/pop-upload/index.less
Due: none

fix(milestone): [milestone] Fix review issues (#2381)
  examples/sites/demos/pc/app/milestone/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/milestone/basic-usage.spec.ts
  examples/sites/demos/pc/app/milestone/basic-usage.vue
  examples/sites/demos/pc/app/milestone/flag-before.spec.ts
  examples/sites/demos/pc/app/milestone/show-number.spec.ts
  examples/sites/demos/pc/app/milestone/solid-style.spec.ts
  packages/theme/src/milestone/index.less
Due: prettier --write, eslint --fix

fix(button): set svg size when button is only icon (#2380)
  packages/theme/src/button/index.less
  packages/theme/src/button/vars.less
Due: none

fix(drawer): [drawer] modify the problem that the before-close method is triggered upon page loading is solved (#2364)
  examples/sites/demos/pc/app/drawer/before-close.spec.ts
  packages/renderless/src/drawer/index.ts
Due: prettier --write, eslint --fix

fix(popupload): [pop-upload]Fixed popupload review issues. (#2368)
  examples/sites/demos/pc/app/pop-upload/upload-tip-composition-api.vue
  examples/sites/demos/pc/app/pop-upload/upload-tip.vue
  packages/theme/src/pop-upload/index.less
Due: prettier --write, eslint --fix

fix(chart): modify chart package (#2365)
  internals/cli/src/commands/build/build-chart-theme.ts
Due: prettier --write, eslint --fix

fix(dialog-box): [dialog-box] modify dialog-box of design
  examples/sites/demos/pc/app/dialog-box/hidden-header-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/hidden-header.vue
  examples/sites/demos/pc/app/dialog-box/lock-scroll-composition-api.vue
Due: prettier --write, eslint --fix

docs(tree):Updating the demo content of the Tree component
  examples/sites/demos/pc/app/tree/virtual-drag-node-composition-api.vue
  examples/sites/demos/pc/app/tree/virtual-drag-node.vue
  examples/sites/demos/pc/app/tree/virtual-filter-composition-api.vue
  examples/sites/demos/pc/app/tree/virtual-filter.vue
  examples/sites/demos/pc/app/tree/virtual-node-op-composition-api.vue
  examples/sites/demos/pc/app/tree/virtual-node-op.vue
  examples/sites/demos/pc/app/tree/virtual-tree-composition-api.vue
  examples/sites/demos/pc/app/tree/virtual-tree.vue
  examples/sites/demos/pc/app/tree/webdoc/tree.js
Due: prettier --write, eslint --fix

fix: modify demo
  examples/sites/demos/pc/app/dialog-box/lock-scroll.vue
Due: prettier --write, eslint --fix

docs(tree):Remove extraneous comments
  packages/renderless/src/tree/vue.ts
Due: prettier --write, eslint --fix

fix: modify review code
  examples/sites/demos/pc/app/dialog-box/lock-scroll.vue
Due: prettier --write, eslint --fix

feat(autocomplete): update autocomplete demos
  examples/sites/demos/pc/app/autocomplete/size-composition-api.vue
  examples/sites/demos/pc/app/autocomplete/size.spec.ts
  examples/sites/demos/pc/app/autocomplete/size.vue
  examples/sites/demos/pc/app/autocomplete/webdoc/autocomplete.js
Due: prettier --write, eslint --fix

feat(autocomplete): update autocomplete demos
  examples/sites/demos/pc/app/autocomplete/webdoc/autocomplete.js
Due: prettier --write, eslint --fix

fix(dialog-box): [dialog-box] modify dialog-box of demo design bug (#2382)
  examples/sites/demos/pc/app/dialog-box/hidden-header-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/hidden-header.vue
  examples/sites/demos/pc/app/dialog-box/lock-scroll-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/lock-scroll.vue
Due: prettier --write, eslint --fix

refactor(theme-tool): Reimplementing the theme-tool method (#2369)
  .eslintrc.js
  .gitignore
  packages/theme/build/gulp-dist.js
  packages/theme/build/release.js
  packages/theme/package.json
  packages/theme/src/button/old-theme.less
  packages/theme/src/old-theme-index.js
  packages/theme/src/old-theme.less
  packages/theme/src/theme-tool.d.ts
  packages/theme/src/theme-tool.js
Due: prettier --write, eslint --fix

feat(docs): the official website adds API anchor function (#2366)
  examples/sites/src/views/components/components.vue
Due: prettier --write, eslint --fix

fix(input): [input] fix input remembers the input history and does not record blank characters (#2372)
  examples/sites/demos/pc/app/input/display-only-popup-more-composition-api.vue
  packages/renderless/src/tall-storage/index.ts
Due: prettier --write, eslint --fix

fix(split): [split] fix split error apis (#2377)
  examples/sites/demos/apis/split.js
  packages/theme/src/split/index.less
Due: prettier --write, eslint --fix

feat(autocomplete): [autocomplete] update autocomplete demos (#2384)
  examples/sites/demos/pc/app/autocomplete/size-composition-api.vue
  examples/sites/demos/pc/app/autocomplete/size.spec.ts
  examples/sites/demos/pc/app/autocomplete/size.vue
  examples/sites/demos/pc/app/autocomplete/webdoc/autocomplete.js
Due: prettier --write, eslint --fix

refactor(time-spinner): [date-picker] roll back some styles for time-spinner (#2383)
  packages/theme/src/time-panel/index.less
  packages/theme/src/time-panel/vars.less
  packages/theme/src/time-spinner/index.less
  packages/theme/src/time-spinner/vars.less
Due: none

Delete packages/renderless/src/common/deps/tree-model/tree-store.ts
  packages/renderless/src/common/deps/tree-model/tree-store.ts
Due: prettier --write, eslint --fix

Delete packages/renderless/src/tree/index.ts
  packages/renderless/src/tree/index.ts
Due: prettier --write, eslint --fix

Delete packages/renderless/src/tree/vue.ts
  packages/renderless/src/tree/vue.ts
Due: prettier --write, eslint --fix

fix(drawer): [drawer] modify drawer demo of design
  examples/sites/demos/pc/app/drawer/confirm-event.vue
  examples/sites/demos/pc/app/drawer/dragable-composition-api.vue
  examples/sites/demos/pc/app/drawer/dragable.vue
  examples/sites/demos/pc/app/drawer/events-composition-api.vue
  examples/sites/demos/pc/app/drawer/events.vue
  examples/sites/demos/pc/app/drawer/header-right-slot-composition-api.vue
  examples/sites/demos/pc/app/drawer/header-right-slot.vue
  examples/sites/demos/pc/app/drawer/header-slot-composition-api.vue
  examples/sites/demos/pc/app/drawer/header-slot.vue
  examples/sites/demos/pc/app/drawer/mask-closable-composition-api.vue
  examples/sites/demos/pc/app/drawer/mask-closable.vue
  examples/sites/demos/pc/app/drawer/mask-composition-api.vue
  examples/sites/demos/pc/app/drawer/mask.vue
  examples/sites/demos/pc/app/drawer/placement-composition-api.vue
  examples/sites/demos/pc/app/drawer/placement.vue
  examples/sites/demos/pc/app/drawer/show-close-composition-api.vue
  examples/sites/demos/pc/app/drawer/show-close.vue
  examples/sites/demos/pc/app/drawer/show-header-composition-api.vue
  examples/sites/demos/pc/app/drawer/show-header.vue
  examples/sites/demos/pc/app/drawer/use-through-method-composition-api.vue
  examples/sites/demos/pc/app/drawer/use-through-method.vue
  examples/sites/demos/pc/app/drawer/width-composition-api.vue
  examples/sites/demos/pc/app/drawer/width.vue
  examples/sites/demos/pc/app/drawer/z-index-composition-api.vue
  examples/sites/demos/pc/app/drawer/z-index.vue
Due: prettier --write, eslint --fix

ci(tree-virtual-scroll):Delete unnecessary logs
  packages/renderless/src/common/deps/tree-model/tree-store.ts
  packages/renderless/src/tree-node/index.ts
  packages/renderless/src/tree/index.ts
  packages/renderless/src/tree/vue.ts
  packages/vue/src/virtual-scroll/src/pc.vue
Due: prettier --write, eslint --fix

feat(date-picker): [date-picker]Optimize case display and fix style issues
  examples/sites/demos/pc/app/date-picker/align-composition-api.vue
  examples/sites/demos/pc/app/date-picker/align.vue
  examples/sites/demos/pc/app/date-picker/date-range-composition-api.vue
  examples/sites/demos/pc/app/date-picker/date-range.vue
  examples/sites/demos/pc/app/date-picker/events-composition-api.vue
  examples/sites/demos/pc/app/date-picker/events.vue
  examples/sites/demos/pc/app/date-picker/now-composition-api.vue
  examples/sites/demos/pc/app/date-picker/now.vue
  examples/sites/demos/pc/app/date-picker/timezone-composition-api.vue
  packages/theme/src/date-table/index.less
Due: prettier --write, eslint --fix

ci(tree-virtual-scroll):Delete unnecessary logs
  packages/renderless/src/virtual-scroll/vue.ts
  packages/vue/src/tree/src/pc.vue
Due: prettier --write, eslint --fix

feat(date-picker): [date-picker]Optimize case display and fix style issues
  packages/theme/src/date-table/index.less
Due: none

doc: 修复网站中引入组件部分示例代码错误问题
  examples/sites/demos/pc/webdoc/import-components.md
Due: prettier --write

feat(anchor): [anchor] add top-offset props
  packages/renderless/src/anchor/index.ts
  packages/vue/src/anchor/src/index.ts
  packages/vue/src/anchor/src/pc.vue
Due: prettier --write, eslint --fix

fix(modal): [modal] modify design style
  packages/theme/src/modal/vars.less
Due: none

refactor(time-spinner): [date-picker] roll back some styles for time-spinner
  packages/theme/src/time-panel/index.less
  packages/theme/src/time-panel/vars.less
  packages/theme/src/time-spinner/index.less
  packages/theme/src/time-spinner/vars.less
Due: none

feat(time-spinner): [date-picker] adapt to xdesign theme
  packages/theme/src/time-panel/index.less
  packages/theme/src/time-panel/vars.less
  packages/theme/src/time-spinner/index.less
Due: none

refactor(time-panel): [date-picker,time-select] fallback style
  packages/theme/src/time-panel/vars.less
Due: none

fix(drawer): [drawer] modify drawer demo of design (#2385)
  examples/sites/demos/pc/app/drawer/confirm-event.vue
  examples/sites/demos/pc/app/drawer/dragable-composition-api.vue
  examples/sites/demos/pc/app/drawer/dragable.vue
  examples/sites/demos/pc/app/drawer/events-composition-api.vue
  examples/sites/demos/pc/app/drawer/events.vue
  examples/sites/demos/pc/app/drawer/header-right-slot-composition-api.vue
  examples/sites/demos/pc/app/drawer/header-right-slot.vue
  examples/sites/demos/pc/app/drawer/header-slot-composition-api.vue
  examples/sites/demos/pc/app/drawer/header-slot.vue
  examples/sites/demos/pc/app/drawer/mask-closable-composition-api.vue
  examples/sites/demos/pc/app/drawer/mask-closable.vue
  examples/sites/demos/pc/app/drawer/mask-composition-api.vue
  examples/sites/demos/pc/app/drawer/mask.vue
  examples/sites/demos/pc/app/drawer/placement-composition-api.vue
  examples/sites/demos/pc/app/drawer/placement.vue
  examples/sites/demos/pc/app/drawer/show-close-composition-api.vue
  examples/sites/demos/pc/app/drawer/show-close.vue
  examples/sites/demos/pc/app/drawer/show-header-composition-api.vue
  examples/sites/demos/pc/app/drawer/show-header.vue
  examples/sites/demos/pc/app/drawer/use-through-method-composition-api.vue
  examples/sites/demos/pc/app/drawer/use-through-method.vue
  examples/sites/demos/pc/app/drawer/width-composition-api.vue
  examples/sites/demos/pc/app/drawer/width.vue
  examples/sites/demos/pc/app/drawer/z-index-composition-api.vue
  examples/sites/demos/pc/app/drawer/z-index.vue
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,vue}) or (any of: *.md)
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
