Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs: optimize features of action-menu/alert/anchor and so on
  examples/sites/demos/pc/app/action-menu/webdoc/action-menu.js
  examples/sites/demos/pc/app/alert/webdoc/alert.js
  examples/sites/demos/pc/app/anchor/webdoc/anchor.js
  examples/sites/demos/pc/app/autocomplete/webdoc/autocomplete.js
  examples/sites/demos/pc/app/breadcrumb/webdoc/breadcrumb.js
  examples/sites/demos/pc/app/bulletin-board/webdoc/bulletin-board.js
  examples/sites/demos/pc/app/button-group/webdoc/button-group.js
  examples/sites/demos/pc/app/calendar-view/webdoc/calendar-view.js
  examples/sites/demos/pc/app/calendar/webdoc/calendar.js
  examples/sites/demos/pc/app/card/webdoc/card.js
Due: prettier --write, eslint --fix

docs: add features of carousel/cascader/checkout and so on
  examples/sites/demos/pc/app/carousel/webdoc/carousel.js
  examples/sites/demos/pc/app/cascader-panel/webdoc/cascader-panel.js
  examples/sites/demos/pc/app/cascader/webdoc/cascader.js
  examples/sites/demos/pc/app/checkbox/webdoc/checkbox.js
  examples/sites/demos/pc/app/collapse/webdoc/collapse.js
  examples/sites/demos/pc/app/color-picker/webdoc/color-picker.js
  examples/sites/demos/pc/app/color-select-panel/webdoc/color-select-panel.js
  examples/sites/demos/pc/app/config-provider/webdoc/config-provider.js
  examples/sites/demos/pc/app/container/webdoc/container.js
  examples/sites/demos/pc/app/crop/webdoc/crop.js
Due: prettier --write, eslint --fix

docs: optimize features of dialog-select/divider/drawer and so on
  examples/sites/demos/pc/app/dialog-select/webdoc/dialog-select.js
  examples/sites/demos/pc/app/divider/webdoc/divider.js
  examples/sites/demos/pc/app/drawer/webdoc/drawer.js
  examples/sites/demos/pc/app/drop-times/webdoc/drop-times.js
  examples/sites/demos/pc/app/filter-panel/webdoc/filter-panel.js
  examples/sites/demos/pc/app/floatbar/webdoc/floatbar.js
  examples/sites/demos/pc/app/flowchart/webdoc/flowchart.js
  examples/sites/demos/pc/app/fluent-editor/webdoc/fluent-editor.js
  examples/sites/demos/pc/app/form/webdoc/form.js
  examples/sites/demos/pc/app/fullscreen/webdoc/fullscreen.js
Due: prettier --write, eslint --fix

docs: optimize features of guide/image/link and so on
  examples/sites/demos/pc/app/guide/webdoc/guide.js
  examples/sites/demos/pc/app/icon/webdoc/icon.js
  examples/sites/demos/pc/app/image/webdoc/image.js
  examples/sites/demos/pc/app/infinite-scroll/webdoc/infinite-scroll.js
  examples/sites/demos/pc/app/input/webdoc/input.js
  examples/sites/demos/pc/app/ip-address/webdoc/ip-address.js
  examples/sites/demos/pc/app/layout/webdoc/layout.js
  examples/sites/demos/pc/app/link/webdoc/link.js
  examples/sites/demos/pc/app/milestone/webdoc/milestone.js
  examples/sites/demos/pc/app/mind-map/webdoc/mind-map.js
  examples/sites/demos/pc/app/modal/webdoc/modal.js
  examples/sites/demos/pc/app/notify/webdoc/notify.js
  examples/sites/demos/pc/app/numeric/webdoc/numeric.js
  examples/sites/demos/pc/app/pager/webdoc/pager.js
  examples/sites/demos/pc/app/pop-upload/webdoc/pop-upload.js
  examples/sites/demos/pc/app/popover/webdoc/popover.js
  examples/sites/demos/pc/app/progress/webdoc/progress.js
  examples/sites/demos/pc/app/qr-code/webdoc/qr-code.js
Due: prettier --write, eslint --fix

docs: add XSS whitelist configuration FAQ
  examples/sites/demos/pc/webdoc/faq.md
Due: prettier --write

feat(cascader): [cascader,transfer,tree] dark theme adaptation
  examples/sites/demos/pc/app/transfer/custom-render-composition-api.vue
  examples/sites/demos/pc/app/transfer/custom-render.vue
  packages/theme/src/cascader-node/index.less
  packages/theme/src/cascader-node/vars.less
  packages/theme/src/tree/index.less
Due: prettier --write, eslint --fix

docs: 优化img白名单别表
  examples/sites/demos/pc/webdoc/faq.md
Due: prettier --write

fix: change theme
  examples/sites/demos/pc/app/carousel/autoplay-composition-api.vue
  examples/sites/demos/pc/app/carousel/autoplay.vue
  examples/sites/demos/pc/app/carousel/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/carousel/basic-usage.vue
  examples/sites/demos/pc/app/carousel/card-mode-composition-api.vue
  examples/sites/demos/pc/app/carousel/card-mode.vue
  examples/sites/demos/pc/app/carousel/card-show-composition-api.vue
  examples/sites/demos/pc/app/carousel/card-show.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-always-composition-api.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-always.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-hover-composition-api.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-hover.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-never-composition-api.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-never.vue
  examples/sites/demos/pc/app/carousel/carousel-events-composition-api.vue
  examples/sites/demos/pc/app/carousel/carousel-events.vue
  examples/sites/demos/pc/app/carousel/close-loop-composition-api.vue
  examples/sites/demos/pc/app/carousel/close-loop.vue
  examples/sites/demos/pc/app/carousel/custom-height-composition-api.vue
  examples/sites/demos/pc/app/carousel/custom-height.vue
  examples/sites/demos/pc/app/carousel/dialog-show-composition-api.vue
  examples/sites/demos/pc/app/carousel/dialog-show.vue
  examples/sites/demos/pc/app/carousel/indicator-trigger-composition-api.vue
  examples/sites/demos/pc/app/carousel/indicator-trigger.vue
  examples/sites/demos/pc/app/carousel/initial-index-composition-api.vue
  examples/sites/demos/pc/app/carousel/initial-index.vue
  examples/sites/demos/pc/app/carousel/manual-play-composition-api.vue
  examples/sites/demos/pc/app/carousel/manual-play.vue
  examples/sites/demos/pc/app/carousel/play-interval-composition-api.vue
  examples/sites/demos/pc/app/carousel/play-interval.vue
  examples/sites/demos/pc/app/carousel/show-title-composition-api.vue
  examples/sites/demos/pc/app/carousel/show-title.vue
  examples/sites/demos/pc/app/carousel/swipeable-composition-api.vue
  examples/sites/demos/pc/app/carousel/swipeable.vue
  examples/sites/demos/pc/app/carousel/up-down-carousel-composition-api.vue
  examples/sites/demos/pc/app/carousel/up-down-carousel.vue
  packages/theme/src/carousel-item/vars.less
Due: prettier --write, eslint --fix

docs: optimize features of popconfirm/popeditor/rate and so on
  examples/sites/demos/pc/app/popconfirm/webdoc/popconfirm.js
  examples/sites/demos/pc/app/popeditor/webdoc/popeditor.js
  examples/sites/demos/pc/app/radio/webdoc/radio.js
  examples/sites/demos/pc/app/rate/webdoc/rate.js
  examples/sites/demos/pc/app/scroll-text/webdoc/scroll-text.js
  examples/sites/demos/pc/app/search/webdoc/search.js
  examples/sites/demos/pc/app/select/webdoc/select.js
  examples/sites/demos/pc/app/skeleton/webdoc/skeleton.js
  examples/sites/demos/pc/app/slider/webdoc/slider.js
  examples/sites/demos/pc/app/split/webdoc/split.js
  examples/sites/demos/pc/app/statistic/webdoc/statistic.js
  examples/sites/demos/pc/app/steps/webdoc/steps.js
  examples/sites/demos/pc/app/sticky/webdoc/sticky.js
  examples/sites/demos/pc/app/switch/webdoc/switch.js
  examples/sites/demos/pc/app/tabs/webdoc/tabs.js
  examples/sites/demos/pc/app/tag-group/webdoc/tag-group.js
  examples/sites/demos/pc/app/tag/webdoc/tag.js
  examples/sites/demos/pc/app/text-popup/webdoc/text-popup.js
  examples/sites/demos/pc/app/time-line/webdoc/time-line.js
  examples/sites/demos/pc/app/time-picker/webdoc/time-picker.js
  examples/sites/demos/pc/app/time-select/webdoc/time-select.js
  examples/sites/demos/pc/app/tooltip/webdoc/tooltip.js
  examples/sites/demos/pc/app/transfer/webdoc/transfer.js
  examples/sites/demos/pc/app/tree-menu/webdoc/tree-menu.js
  examples/sites/demos/pc/app/user-contact/webdoc/user-contact.js
  examples/sites/demos/pc/app/user-head/webdoc/user-head.js
  examples/sites/demos/pc/app/virtual-scroll-box/webdoc/virtual-scroll-box.js
  examples/sites/demos/pc/app/virtual-tree/webdoc/virtual-tree.js
  examples/sites/demos/pc/app/watermark/webdoc/watermark.js
  examples/sites/demos/pc/app/wizard/webdoc/wizard.js
Due: prettier --write, eslint --fix

docs: optimize features of date-picker/dialog-box/dropdown and so on
  examples/sites/demos/pc/app/base-select/webdoc/base-select.js
  examples/sites/demos/pc/app/date-picker/webdoc/date-picker.js
  examples/sites/demos/pc/app/dialog-box/webdoc/dialog-box.js
  examples/sites/demos/pc/app/dropdown/webdoc/dropdown.js
  examples/sites/demos/pc/app/file-upload/webdoc/file-upload.js
  examples/sites/demos/pc/app/grid/webdoc/grid.js
  examples/sites/demos/pc/app/loading/webdoc/loading.js
  examples/sites/demos/pc/app/nav-menu/webdoc/nav-menu.js
  examples/sites/demos/pc/app/tree-select/webdoc/tree-select.js
  examples/sites/demos/pc/app/tree/webdoc/tree.js
  examples/sites/src/views/features.vue
Due: prettier --write, eslint --fix

feat(cascader): [cascader,transfer,tree] dark theme adaptation
  examples/sites/demos/pc/app/cascader/filterable-composition-api.vue
  examples/sites/demos/pc/app/cascader/filterable.vue
  packages/theme/src/cascader-menu/index.less
Due: prettier --write, eslint --fix

docs: add cloudValue to filter component
  examples/sites/src/views/features.vue
Due: prettier --write, eslint --fix

fix(dark): [card,collapse] update dark theme
  examples/sites/demos/pc/app/card/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/card/basic-usage.vue
  examples/sites/demos/pc/app/card/card-disabled-composition-api.vue
  examples/sites/demos/pc/app/card/card-disabled.vue
  examples/sites/demos/pc/app/card/card-events-composition-api.vue
  examples/sites/demos/pc/app/card/card-events.vue
  examples/sites/demos/pc/app/card/card-group-composition-api.vue
  examples/sites/demos/pc/app/card/card-group.vue
  examples/sites/demos/pc/app/card/card-select-composition-api.vue
  examples/sites/demos/pc/app/card/card-select.vue
  examples/sites/demos/pc/app/card/card-size-composition-api.vue
  examples/sites/demos/pc/app/card/card-size.vue
  examples/sites/demos/pc/app/card/card-status-composition-api.vue
  examples/sites/demos/pc/app/card/card-status.vue
  examples/sites/demos/pc/app/card/card-type-composition-api.vue
  examples/sites/demos/pc/app/card/card-type.vue
  examples/sites/demos/pc/app/card/check-mode-composition-api.vue
  examples/sites/demos/pc/app/card/check-mode.vue
  examples/sites/demos/pc/app/card/check-type-checkbox-composition-api.vue
  examples/sites/demos/pc/app/card/check-type-checkbox.vue
  examples/sites/demos/pc/app/card/check-type-radio-composition-api.vue
  examples/sites/demos/pc/app/card/check-type-radio.vue
  examples/sites/demos/pc/app/card/operate-bar-composition-api.vue
  examples/sites/demos/pc/app/card/operate-bar.vue
  examples/sites/demos/pc/app/card/slot-composition-api.vue
  examples/sites/demos/pc/app/card/slot.vue
  packages/theme/src/card/vars.less
  packages/theme/src/collapse-item/vars.less
  packages/theme/src/grid/table.less
Due: prettier --write, eslint --fix

feat: optimize the dark mode switching method, reduce the size of non-dark theme user packages, and add dark theme switching documents
  examples/sites/demos/pc/menus.js
  examples/sites/demos/pc/webdoc/theme-dark-en.md
  examples/sites/demos/pc/webdoc/theme-dark.md
  examples/sites/src/main.js
  internals/cli/src/config/vite.ts
  packages/theme/src/base/index.less
Due: prettier --write, eslint --fix

fix(nav-menu): [nav-menu] update dark theme
  packages/theme/src/nav-menu/index.less
  packages/theme/src/nav-menu/vars.less
Due: none

chore: 优化文字描述
  examples/sites/demos/pc/webdoc/theme-dark.md
Due: prettier --write

fix(select): [select,base-select] modify test cases
  examples/sites/demos/pc/app/base-select/popup-style-position.spec.ts
  examples/sites/demos/pc/app/icon/list-composition-api.vue
  examples/sites/demos/pc/app/icon/list.vue
  examples/sites/demos/pc/app/select/popup-style-position.spec.ts
Due: prettier --write, eslint --fix

fix:走查修改以及用例修复
  examples/sites/demos/pc/app/date-picker/custom-suffix-icon-composition-api.vue
  examples/sites/demos/pc/app/date-picker/custom-suffix-icon.vue
  examples/sites/demos/pc/app/milestone/custom-flag-composition-api.vue
  examples/sites/demos/pc/app/milestone/custom-flag.vue
  examples/sites/demos/pc/app/milestone/data-field-mapping-composition-api.vue
  examples/sites/demos/pc/app/milestone/data-field-mapping.vue
  examples/sites/demos/pc/app/milestone/flag-before-composition-api.vue
  examples/sites/demos/pc/app/milestone/flag-before.spec.ts
  examples/sites/demos/pc/app/milestone/flag-before.vue
  examples/sites/demos/pc/app/milestone/milestone-events-composition-api.vue
  examples/sites/demos/pc/app/milestone/milestone-events.vue
  examples/sites/demos/pc/app/milestone/show-number.spec.ts
  examples/sites/demos/pc/app/milestone/solid-style.spec.ts
  examples/sites/demos/pc/app/mind-map/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/mind-map/basic-usage.vue
  examples/sites/demos/pc/app/mind-map/event-composition-api.vue
  examples/sites/demos/pc/app/mind-map/event.vue
  examples/sites/demos/pc/app/mind-map/export-data-composition-api.vue
  examples/sites/demos/pc/app/mind-map/export-data.vue
  examples/sites/demos/pc/app/wizard/base-usage.spec.ts
  examples/sites/demos/pc/app/wizard/vertical.spec.ts
  packages/renderless/src/picker/index.ts
  packages/renderless/src/picker/vue.ts
  packages/theme/src/date-table/vars.less
  packages/theme/src/steps/index.less
  packages/theme/src/steps/vars.less
  packages/theme/src/tabs/index.less
  packages/theme/src/tabs/vars.less
  packages/theme/src/upload-list/index.less
  packages/theme/src/upload-list/vars.less
  packages/theme/src/upload/index.less
  packages/theme/src/wizard/index.less
Due: prettier --write, eslint --fix

feat: base var adapt shadow-root
  packages/theme-saas/src/theme-tool.js
  packages/theme/src/aurora-theme-index.js
  packages/theme/src/base/aurora-theme.less
  packages/theme/src/base/dark-theme.less
  packages/theme/src/base/old-theme.less
  packages/theme/src/base/vars.less
  packages/theme/src/dark-theme-index.js
  packages/theme/src/old-theme-index.js
  packages/theme/src/theme-tool.js
Due: prettier --write, eslint --fix

fix(checkbox-group): sync theme-saas
  packages/theme-saas/src/checkbox-group/index.less
Due: none

chore: 更新暗黑模式文档，调整样式文件引入方式，优化主题切换方法
  examples/sites/demos/pc/webdoc/theme-dark.md
  examples/sites/src/main.js
  internals/cli/src/config/vite.ts
  packages/theme/build/release.js
Due: prettier --write, eslint --fix

fix(tag): tag add maxWidth prop, and select add maxTagWidth prop
  packages/vue/src/select/src/index.ts
  packages/vue/src/select/src/mobile-first.vue
  packages/vue/src/select/src/pc.vue
  packages/vue/src/tag/src/index.ts
  packages/vue/src/tag/src/mobile-first.vue
  packages/vue/src/tag/src/pc.vue
Due: prettier --write, eslint --fix

fix(tree-menu): [tree-menu] update dark theme
  packages/theme/src/tree-menu/index.less
  packages/theme/src/tree-menu/vars.less
Due: none

docs: 更新img白名单，移除重复的style属性
  examples/sites/demos/pc/webdoc/faq.md
Due: prettier --write

fix(tag): add documents for new props-- maxWidth
  examples/sites/demos/apis/select.js
  examples/sites/demos/apis/tag.js
  examples/sites/demos/pc/app/tag/max-width-composition-api.vue
  examples/sites/demos/pc/app/tag/max-width.spec.ts
  examples/sites/demos/pc/app/tag/max-width.vue
  examples/sites/demos/pc/app/tag/webdoc/tag.js
  packages/theme/src/tag/index.less
  packages/vue/src/tag/src/mobile-first.vue
  packages/vue/src/tag/src/pc.vue
Due: prettier --write, eslint --fix

fix(theme-saas): add ellipsis to tag
  packages/theme-saas/src/tag/index.less
Due: none

chore: 更新文档中的“暗黑模式”为“深色模式”，统一术语并优化相关描述
  examples/sites/demos/pc/webdoc/theme-dark.md
Due: prettier --write

fix(text-popup): [text-popup] update dark theme
  examples/sites/demos/pc/app/text-popup/clear-value-composition-api.vue
  examples/sites/demos/pc/app/text-popup/clear-value.vue
  packages/theme/src/text-popup/index.less
  packages/theme/src/text-popup/vars.less
Due: prettier --write, eslint --fix

fix: fix features page style
  examples/sites/src/views/features.vue
  examples/sites/tiny-uno/rules/size.js
Due: prettier --write, eslint --fix

fix: 更新组件导入路径和渲染方法参数结构
  packages/vue/src/grid/src/body/index.ts
  packages/vue/src/grid/src/body/src/body.vue
  packages/vue/src/grid/src/cell/src/cell.ts
Due: prettier --write, eslint --fix

feat(button): [button] Adapt to dark themes
  examples/sites/demos/pc/app/button/ghost-composition-api.vue
  examples/sites/demos/pc/app/button/ghost.vue
Due: prettier --write, eslint --fix

refactor: 更新类名映射，简化样式绑定逻辑
  packages/vue/src/grid/src/body/src/body.vue
Due: prettier --write, eslint --fix

feat(grid): 增加行序列和索引的计算逻辑，添加多个新属性以支持滚动加载和虚拟行功能
  packages/vue/src/grid/src/body/src/body.vue
Due: prettier --write, eslint --fix

feat(grid): 更新表格实例类型，添加行列索引计算方法及相关属性以支持更灵活的表格操作
  packages/vue/src/grid/src/body/src/body.vue
Due: prettier --write, eslint --fix

feat(theme): [select] modify the scrollbar and popper to unify the style
  packages/theme/src/base/dark-theme.less
  packages/theme/src/base/reset.less
Due: none

fix(grid): [grid] update dark theme
  packages/theme/src/grid/body.less
  packages/theme/src/grid/header.less
  packages/theme/src/grid/table.less
  packages/theme/src/grid/vars.less
Due: none

feat(grid): 优化行索引计算逻辑，使用表格实例方法简化行序列和索引的获取
  packages/vue/src/grid/src/body/src/body.vue
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,vue}) or (any of: *.md)
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
