Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(tabs): [tabs] 优化页签文档demo
  examples/sites/demos/pc/app/tabs/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/tabs/basic-usage.vue
  packages/theme/src/tabs/index.less
  packages/theme/src/tabs/vars.less
Due: prettier --write, eslint --fix

fix(tabs): [tabs] 修复测试用例
  examples/sites/demos/pc/app/anchor/change.spec.ts
Due: prettier --write, eslint --fix

docs(grid): [grid] optimize grid demos
  examples/sites/demos/pc/app/grid/editor/popeditor-in-grid-remote-search-composition-api.vue
  examples/sites/demos/pc/app/grid/editor/popeditor-in-grid-remote-search.vue
  examples/sites/demos/pc/app/grid/empty/empty-data-tip-composition-api.vue
  examples/sites/demos/pc/app/grid/empty/empty-data-tip.vue
  examples/sites/demos/pc/app/grid/operation-column/selection-config-composition-api.vue
  examples/sites/demos/pc/app/grid/webdoc/grid-editor.js
  packages/theme/src/grid/table.less
Due: prettier --write, eslint --fix

docs(form): [form] optimize form demos
  examples/sites/demos/pc/app/form/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/form/basic-usage.spec.ts
  examples/sites/demos/pc/app/form/basic-usage.vue
  examples/sites/demos/pc/app/form/custom-validation-rule-composition-api.vue
  examples/sites/demos/pc/app/form/custom-validation-rule.vue
  examples/sites/demos/pc/app/form/display-only-composition-api.vue
  examples/sites/demos/pc/app/form/display-only.spec.ts
  examples/sites/demos/pc/app/form/display-only.vue
  examples/sites/demos/pc/app/form/form-disabled-composition-api.vue
  examples/sites/demos/pc/app/form/form-disabled.spec.js
  examples/sites/demos/pc/app/form/form-disabled.vue
  examples/sites/demos/pc/app/form/form-validate-field-composition-api.vue
  examples/sites/demos/pc/app/form/form-validate-field.vue
  examples/sites/demos/pc/app/form/form-validation-composition-api.vue
  examples/sites/demos/pc/app/form/form-validation.spec.ts
  examples/sites/demos/pc/app/form/form-validation.vue
  examples/sites/demos/pc/app/form/size-composition-api.vue
  examples/sites/demos/pc/app/form/size.vue
  examples/sites/demos/pc/app/form/validate-debounce-composition-api.vue
  examples/sites/demos/pc/app/form/validate-debounce.vue
  packages/theme/src/form-item/index.less
Due: prettier --write, eslint --fix

fix(docs): [anchor] 修复测试用例报错
  examples/sites/demos/pc/app/anchor/change.spec.ts
Due: prettier --write, eslint --fix

fix(tree-select): fix tree-select can't load data dynamically close #2287
  packages/renderless/src/tree-select/vue.ts
Due: prettier --write, eslint --fix

fix(tree): [tree] fix parent node toggle when click child node margin close #2491
  packages/renderless/src/tree-node/index.ts
  packages/vue/src/tree/package.json
  packages/vue/src/tree/src/tree-node.vue
Due: prettier --write, eslint --fix

fix(site): fix Popper layers separate when scrolling through document
  examples/sites/src/views/components/components.vue
  examples/sites/src/views/layout/layout.vue
Due: prettier --write, eslint --fix

fix(input): [input] fix input container 1px higher than input close #2490
  packages/theme/src/input/index.less
Due: none

fix(popper): fix tiny-popper's style
  packages/theme/src/base/reset.less
Due: none

feat(button): [button] add old vars for button
  packages/theme/src/button/old-theme.less
Due: none

fix(site): fix scroll bugs
  examples/sites/src/views/components/components.vue
  examples/sites/src/views/layout/layout.vue
Due: prettier --write, eslint --fix

fix(site): fix site api table style
  examples/sites/package.json
  examples/sites/src/views/components/components.vue
Due: prettier --write, eslint --fix

feat(grid-select): add single/multiple select
  examples/sites/demos/apis/grid-select.js
  examples/sites/demos/pc/app/grid-select/basic-usage.spec.ts
  examples/sites/demos/pc/app/grid-select/multiple-composition-api.vue
  examples/sites/demos/pc/app/grid-select/multiple.vue
  examples/sites/demos/pc/app/grid-select/webdoc/grid-select.js
  packages/renderless/src/grid-select/index.ts
  packages/renderless/src/grid-select/vue.ts
  packages/vue/src/grid-select/src/pc.vue
Due: prettier --write, eslint --fix

fix(docs): fix the wrong filename
  examples/sites/demos/pc/webdoc/import-components-en.md
  examples/sites/demos/pc/webdoc/import-components.md
Due: prettier --write

docs(fluent-editor): add formula demo
  examples/sites/demos/pc/app/fluent-editor/options-formula-composition-api.vue
  examples/sites/demos/pc/app/fluent-editor/options-formula.vue
  examples/sites/demos/pc/app/fluent-editor/webdoc/fluent-editor.js
  examples/sites/package.json
  packages/vue/src/fluent-editor/package.json
Due: prettier --write, eslint --fix

fix(renderless): fix
  packages/renderless/package.json
Due: none

fix(transfer): fix drag 2 item to right when set filterable=true
  packages/renderless/src/transfer/index.ts
  packages/renderless/src/transfer/vue.ts
Due: prettier --write, eslint --fix

fix(renderlese): update version
  packages/renderless/package.json
Due: none

docs(grid-select): optimize demo/api
  examples/sites/demos/apis/grid-select.js
  packages/vue/src/grid-select/src/pc.vue
Due: prettier --write, eslint --fix

docs(grid-select): add radio-config/select-config demo/api docs
  examples/sites/demos/apis/grid-select.js
  examples/sites/demos/pc/app/grid-select/config-composition-api.vue
  examples/sites/demos/pc/app/grid-select/config.vue
  examples/sites/demos/pc/app/grid-select/webdoc/grid-select.js
  packages/renderless/src/grid-select/index.ts
  packages/renderless/src/grid-select/vue.ts
  packages/vue/src/grid-select/src/pc.vue
Due: prettier --write, eslint --fix

fix(input): [input] fixed the error when using v-if to switch back and forth after configuring the displayOnly attribute
  commitlint.config.js
  packages/renderless/src/input/index.ts
Due: prettier --write, eslint --fix

fix(calendar-view): [calendar-view] Fix bug with invalid calendar height value
  examples/sites/demos/apis/calendar-view.js
  packages/theme/src/calendar-view/index.less
  packages/vue/src/calendar-view/src/index.ts
  packages/vue/src/calendar-view/src/pc.vue
Due: prettier --write, eslint --fix

feat(grid-select): add filter and optimize demo/api docs
  examples/sites/demos/apis/grid-select.js
  examples/sites/demos/pc/app/grid-select/config-composition-api.vue
  examples/sites/demos/pc/app/grid-select/config.vue
  examples/sites/demos/pc/app/grid-select/filter-composition-api.vue
  examples/sites/demos/pc/app/grid-select/filter.vue
  examples/sites/demos/pc/app/grid-select/webdoc/grid-select.js
  packages/renderless/src/grid-select/index.ts
  packages/renderless/src/grid-select/vue.ts
  packages/vue/src/grid-select/src/pc.vue
Due: prettier --write, eslint --fix

refactor(base-select): remove tree/grid code from base-select
  examples/sites/demos/pc/app/base-select/size.spec.ts
  packages/renderless/src/base-select/index.ts
  packages/renderless/src/base-select/vue.ts
Due: prettier --write, eslint --fix

fix(tabs): [tabs] 适配旧主题样式风格
  packages/theme/src/tabs/index.less
  packages/theme/src/tabs/vars.less
Due: none

feat: adapt input date-picker to the old theme style
  examples/sites/demos/apis/input.js
  packages/theme/src/base/index.less
  packages/theme/src/base/old-theme.less
  packages/theme/src/input/index.less
  packages/theme/src/input/vars.less
  packages/theme/src/picker/index.less
  packages/theme/src/transition/icon.less
  packages/vue/src/picker/src/pc.vue
Due: prettier --write, eslint --fix

fix(calendar-view): [calendar-view] Fix bug
  examples/sites/demos/pc/app/calendar-view/calendar-disabled-day.spec.ts
Due: prettier --write, eslint --fix

feat(time-select): [time-select] Adapt to old components
  packages/theme/src/time-select/index.less
  packages/theme/src/time-select/old-theme.less
  packages/theme/src/time-select/vars.less
Due: none

feat: adapt input date-picker to the old theme style
  packages/theme-saas/src/picker/index.less
  packages/theme/src/picker/index.less
  packages/vue/src/picker/src/pc.vue
Due: prettier --write, eslint --fix

ci(commmitlint): modify the commitlint tool submission limit
  commitlint.config.js
Due: prettier --write, eslint --fix

fix(input): [input] fixed the error when using v-if to switch back and forth after configuring the displayOnly attribute
  packages/renderless/src/input/index.ts
Due: prettier --write, eslint --fix

feat(grid-select): add remote feature
  examples/sites/demos/pc/app/grid-select/config-composition-api.vue
  examples/sites/demos/pc/app/grid-select/filter.vue
  examples/sites/demos/pc/app/grid-select/multiple-composition-api.vue
  examples/sites/demos/pc/app/grid-select/multiple.vue
  examples/sites/demos/pc/app/grid-select/remote-composition-api.vue
  examples/sites/demos/pc/app/grid-select/remote.vue
  examples/sites/demos/pc/app/grid-select/webdoc/grid-select.js
  examples/sites/demos/pc/menus.js
  packages/renderless/src/grid-select/index.ts
  packages/renderless/src/grid-select/vue.ts
Due: prettier --write, eslint --fix

feat(pager): [pager] adapt to pager old theme
  packages/theme/src/base/old-theme.less
  packages/theme/src/base/vars.less
  packages/theme/src/button/vars.less
  packages/theme/src/pager/index.less
  packages/theme/src/pager/vars.less
Due: none

fix(base-select): [base-select] fix data init error when set options and multiple
  examples/sites/demos/pc/app/base-select/size-composition-api.vue
  examples/sites/demos/pc/app/base-select/size.vue
  packages/renderless/src/base-select/index.ts
  packages/renderless/src/grid-select/index.ts
  packages/renderless/src/tree-select/index.ts
Due: prettier --write, eslint --fix

fix(base-select): fix data display error when set disabled and hover-expand
  packages/renderless/src/base-select/index.ts
  packages/renderless/src/base-select/vue.ts
  packages/vue/src/base-select/src/index.ts
  packages/vue/src/base-select/src/pc.vue
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,vue}) or (any of: *.md)
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
