Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,vue}": ["prettier --write", "eslint  --fix"],
  "*.md": ["prettier --write"]
}

docs: add auto import docs
  examples/sites/demos/pc/webdoc/import-components-en.md
  examples/sites/demos/pc/webdoc/import-components.md
Due: prettier --write

docs: add v3.14.0 changelog
  examples/sites/demos/pc/webdoc/changelog.md
Due: prettier --write

chore: update @opentiny/unplugin-tiny-vue version
  internals/unplugin-tiny-vue/package.json
Due: none

fix(site): anchor offset
  examples/sites/src/views/components/components.vue
Due: prettier --write, eslint --fix

style: delete class
  examples/sites/src/views/components/components.vue
Due: prettier --write, eslint --fix

docs: add docs unplugin and changelog (#1476)
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/demos/pc/webdoc/import-components-en.md
  examples/sites/demos/pc/webdoc/import-components.md
  internals/unplugin-tiny-vue/package.json
Due: prettier --write

fix(site): anchor offset (#1477)
  examples/sites/src/views/components/components.vue
Due: prettier --write, eslint --fix

feat(sites): add theme route
  examples/sites/src/App.vue
  examples/sites/src/const.ts
  examples/sites/src/router.js
  examples/sites/src/tools/useTheme.js
  examples/sites/src/views/components/components.vue
  examples/sites/src/views/components/demo.vue
  examples/sites/src/views/layout/layout.vue
  examples/sites/src/views/overview.vue
Due: prettier --write, eslint --fix

feat(sites): add theme route (#1478)
  examples/sites/src/App.vue
  examples/sites/src/const.ts
  examples/sites/src/router.js
  examples/sites/src/tools/useTheme.js
  examples/sites/src/views/components/components.vue
  examples/sites/src/views/components/demo.vue
  examples/sites/src/views/layout/layout.vue
  examples/sites/src/views/overview.vue
Due: prettier --write, eslint --fix

feat(sites): add theme route
  examples/sites/src/views/layout/layout.vue
Due: prettier --write, eslint --fix

Cgm/add theme route (#1479)
  examples/sites/src/views/layout/layout.vue
Due: prettier --write, eslint --fix

docs(grid): update grid apis
  examples/sites/demos/pc/app/grid/webdoc/grid-custom-style.js
  examples/sites/demos/pc/app/grid/webdoc/grid-editor.js
  examples/sites/demos/pc/app/grid/webdoc/grid-toolbar.js
Due: prettier --write, eslint --fix

feat(publish): init publish code
  .github/workflows/auto-publish.yml
  .vscode/settings.json
Due: none

feat(publish): init publish code
  .github/workflows/auto-publish.yml
Due: none

fix: 用户反馈问题:直接切换路由跳转页面，Modal关闭时错误触发close事件
  examples/sites/demos/apis/modal.js
  packages/vue/src/modal/index.ts
Due: prettier --write, eslint --fix

fix(vue): add new dependencies
  packages/vue/src/card-group/package.json
  packages/vue/src/card/package.json
  packages/vue/src/date-panel/package.json
  packages/vue/src/exception/package.json
  packages/vue/src/float-button/package.json
  packages/vue/src/rich-text-editor/package.json
  packages/vue/src/select/package.json
Due: none

fix(vue): add new dependencies
  internals/automate/src/add-dependencies.ts
Due: prettier --write, eslint --fix

fix(vue): add new dependencies (#1482)
  internals/automate/src/add-dependencies.ts
  packages/vue/src/card-group/package.json
  packages/vue/src/card/package.json
  packages/vue/src/date-panel/package.json
  packages/vue/src/exception/package.json
  packages/vue/src/float-button/package.json
  packages/vue/src/rich-text-editor/package.json
  packages/vue/src/select/package.json
Due: prettier --write, eslint --fix

docs(grid): update grid apis (#1480)
  examples/sites/demos/pc/app/grid/webdoc/grid-custom-style.js
  examples/sites/demos/pc/app/grid/webdoc/grid-editor.js
  examples/sites/demos/pc/app/grid/webdoc/grid-toolbar.js
Due: prettier --write, eslint --fix

feat: sync release3.14.0 (#1483)
  examples/sites/demos/pc/app/grid/webdoc/grid-custom-style.js
  examples/sites/demos/pc/app/grid/webdoc/grid-editor.js
  examples/sites/demos/pc/app/grid/webdoc/grid-toolbar.js
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/demos/pc/webdoc/import-components-en.md
  examples/sites/demos/pc/webdoc/import-components.md
  internals/automate/src/add-dependencies.ts
  internals/unplugin-tiny-vue/package.json
  packages/theme/src/index.less
  packages/vue/src/card-group/package.json
  packages/vue/src/card/package.json
  packages/vue/src/date-panel/package.json
  packages/vue/src/exception/package.json
  packages/vue/src/float-button/package.json
  packages/vue/src/rich-text-editor/package.json
  packages/vue/src/select/package.json
Due: prettier --write, eslint --fix

feat: add statistic theme
  examples/sites/demos/pc/app/statistic/webdoc/statistic.cn.md
  examples/sites/demos/pc/app/statistic/webdoc/statistic.en.md
  examples/sites/demos/pc/app/statistic/webdoc/statistic.js
  packages/theme/src/statistic/index.less
  packages/theme/src/statistic/smb-theme.js
  packages/theme/src/statistic/vars.less
  packages/vue/src/statistic/src/pc.vue
Due: prettier --write, eslint --fix

add serch
  examples/react-docs/src/views/layout/layout.jsx
  packages/renderless/src/anchor/index.ts
Due: prettier --write, eslint --fix

docs: add project name to issue/pr template
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Due: none

docs(select): optimized remote search demos
  examples/sites/demos/pc/app/select/nest-grid-remote-composition-api.vue
  examples/sites/demos/pc/app/select/nest-grid-remote-multi-composition-api.vue
  examples/sites/demos/pc/app/select/nest-grid-remote-multi.spec.ts
  examples/sites/demos/pc/app/select/nest-grid-remote-multi.vue
  examples/sites/demos/pc/app/select/nest-grid-remote-single-composition-api.vue
  examples/sites/demos/pc/app/select/nest-grid-remote-single.spec.ts
  examples/sites/demos/pc/app/select/nest-grid-remote-single.vue
  examples/sites/demos/pc/app/select/nest-grid-remote.spec.ts
  examples/sites/demos/pc/app/select/nest-grid-remote.vue
  examples/sites/demos/pc/app/select/webdoc/select.js
Due: prettier --write, eslint --fix

feat(tag): refresh ui
  examples/sites/demos/mobile/app/tag/style.vue
  examples/sites/demos/mobile/app/tag/webdoc/tag.js
  packages/renderless/src/tag/vue.ts
  packages/renderless/types/tag.type.ts
  packages/theme-mobile/src/tag/index.less
  packages/vue/src/tag/src/index.ts
  packages/vue/src/tag/src/mobile.vue
Due: prettier --write, eslint --fix

add tooltip
  examples/react-docs/demos/apis/tooltip.js
  examples/react-docs/demos/pc/app/tooltip/base.css
  examples/react-docs/demos/pc/app/tooltip/base.tsx
  examples/react-docs/demos/pc/app/tooltip/webdoc/tooltip.cn.md
  examples/react-docs/demos/pc/app/tooltip/webdoc/tooltip.en.md
  examples/react-docs/demos/pc/app/tooltip/webdoc/tooltip.js
  examples/react-docs/demos/pc/menus.js
  examples/react-docs/src/views/components/lazyComponent.jsx
  examples/react-docs/src/views/layout/layout.jsx
  packages/react/src/common/src/index.ts
  packages/react/src/common/src/utils.ts
  packages/react/src/tooltip/src/pc.jsx
  packages/react/src/tooltip/src/tooltip.jsx
  packages/renderless/src/tooltip/index.ts
Due: prettier --write, eslint --fix

docs: add project name to issue/pr template (#1486)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Due: none

feat: add statistic component
  examples/sites/demos/apis/statistic.js
  examples/sites/demos/pc/app/statistic/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/statistic/basic-usage.spec.ts
  examples/sites/demos/pc/app/statistic/basic-usage.vue
  examples/sites/demos/pc/app/statistic/statistic-slot-composition-api.vue
  examples/sites/demos/pc/app/statistic/statistic-slot.spec.ts
  examples/sites/demos/pc/app/statistic/statistic-slot.vue
  examples/sites/demos/pc/app/statistic/statistic-style-composition-api.vue
  examples/sites/demos/pc/app/statistic/statistic-style.spec.ts
  examples/sites/demos/pc/app/statistic/statistic-style.vue
  examples/sites/demos/pc/app/statistic/webdoc/statistic.js
  packages/renderless/src/statistic/index.ts
  packages/theme/src/statistic/index.less
  packages/theme/src/statistic/smb-theme.js
  packages/theme/src/statistic/vars.less
  packages/vue/src/statistic/src/pc.vue
Due: prettier --write, eslint --fix

添加darwer 说明文档
  examples/react-docs/demos/apis/drawer.js
  examples/react-docs/demos/pc/app/drawer/base.jsx
  examples/react-docs/demos/pc/app/drawer/webdoc/drawer.cn.md
  examples/react-docs/demos/pc/app/drawer/webdoc/drawer.en.md
  examples/react-docs/demos/pc/app/drawer/webdoc/drawer.js
  examples/react-docs/demos/pc/menus.js
  examples/react-docs/src/views/components/components.less
  packages/react/mobile-first.ts
  packages/react/modules.json
  packages/react/package.json
  packages/react/src/action-sheet/index.ts
  packages/react/src/action-sheet/package.json
  packages/react/src/action-sheet/src/index.ts
  packages/react/src/action-sheet/src/mobile-first.jsx
  packages/react/src/action-sheet/src/mobile.jsx
  packages/react/src/action-sheet/src/option.jsx
  packages/react/src/alert/src/pc.jsx
  packages/react/src/common/src/index.ts
  packages/react/src/common/src/virtual-comp.jsx
  packages/react/src/drawer/index.ts
  packages/react/src/drawer/package.json
  packages/react/src/drawer/src/index.ts
  packages/react/src/drawer/src/mobile-first.jsx
  packages/react/src/drawer/src/pc.jsx
  packages/react/src/icon/index.ts
  packages/react/src/icon/src/help-circle/index.ts
  packages/react/src/input/index.ts
  packages/react/src/input/package.json
  packages/react/src/input/src/index.ts
  packages/react/src/input/src/mobile-first.vue
  packages/react/src/input/src/mobile.vue
  packages/react/src/input/src/pc.jsx
  packages/react/src/input/src/tall-storage.jsx
  说明文档.md
Due: prettier --write, eslint --fix

fix: switch browser address, error triggered close event issue when Modal is closed
  packages/renderless/src/modal/index.ts
Due: prettier --write, eslint --fix

feat: switch browser address, error triggered close event issue when Modal is closed
  packages/renderless/src/modal/index.ts
Due: prettier --write, eslint --fix

fix(docs): fix MindMap's menu text
  examples/sites/demos/pc/menus.js
Due: prettier --write, eslint --fix

fix(docs): update new components menu
  examples/sites/demos/pc/menus.js
Due: prettier --write, eslint --fix
