Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,vue}": ["prettier --write", "eslint  --fix"],
  "*.md": ["prettier --write"]
}

docs: add algolia search
  examples/sites/demos/pc/webdoc/develop-demo-en.md
  examples/sites/demos/pc/webdoc/develop-demo.md
  examples/sites/demos/pc/webdoc/envpreparation-open-en.md
  examples/sites/demos/pc/webdoc/envpreparation-open.md
  examples/sites/demos/pc/webdoc/faq-en.md
  examples/sites/demos/pc/webdoc/faq.md
  examples/sites/demos/pc/webdoc/form-valid-en.md
  examples/sites/demos/pc/webdoc/form-valid.md
  examples/sites/demos/pc/webdoc/i18n-en.md
  examples/sites/demos/pc/webdoc/i18n.md
  examples/sites/demos/pc/webdoc/import-components-en.md
  examples/sites/demos/pc/webdoc/import-components.md
  examples/sites/demos/pc/webdoc/installation-en.md
  examples/sites/demos/pc/webdoc/installation.md
  examples/sites/demos/pc/webdoc/theme-en.md
  examples/sites/demos/pc/webdoc/theme.md
  examples/sites/index.html
  examples/sites/src/App.vue
  examples/sites/src/style.css
  examples/sites/src/views/components/components.vue
  examples/sites/src/views/components/demo.vue
  examples/sites/src/views/layout/layout.vue
Due: prettier --write, eslint --fix

feat(theme): [button] submit the initial version of aurora-theme-vars
  packages/theme/src/base/aurora-theme.less
Due: none

fix(theme): [select] fix multiple components not using the correct scene common variable
  packages/theme/src/base/index.less
  packages/theme/src/base/old-theme.less
  packages/theme/src/base/vars.less
  packages/theme/src/breadcrumb/index.less
  packages/theme/src/button/vars.less
  packages/theme/src/calendar/vars.less
  packages/theme/src/option/index.less
  packages/theme/src/option/vars.less
  packages/theme/src/pager/vars.less
  packages/theme/src/popeditor/vars.less
  packages/theme/src/selected-box/vars.less
Due: none

feat(theme): [button]submit the initial version of aurora-theme-vars
  packages/theme/src/base/aurora-theme.less
Due: none

fix(transfer): [transfer] fix uncorrect vars for transfer
  packages/theme/src/base/aurora-theme.less
  packages/theme/src/transfer/index.less
  packages/theme/src/transfer/vars.less
Due: none

fix(site): fix
  examples/sites/demos/pc/webdoc/theme.md
Due: prettier --write

fix(theme): add aurora theme of build scripts
  examples/sites/demos/pc/webdoc/theme.md
  packages/theme/build/gulp-dist.js
  packages/theme/build/release.js
  packages/theme/src/aurora-theme-index.js
  packages/theme/src/aurora-theme-index.less
Due: prettier --write, eslint --fix

fix(site): add aurora-theme's route
  examples/sites/src/tools/useTheme.js
  packages/theme/src/theme-tool.js
Due: prettier --write, eslint --fix

fix(tooltip): fix
  packages/theme/src/tooltip/vars.less
Due: none

docs: optimize algolia search style
  examples/sites/src/style.css
Due: none

build(dts): fix dts error when build vue2 components
  examples/openinula-docs/package.json
  examples/react-docs/package.json
  examples/sites/package.json
  examples/vue2.7/package.json
  examples/vue2/package.json
  examples/vue3/package.json
  internals/cli/package.json
  internals/unplugin-tiny-vue/package.json
  internals/unplugin-virtual-template/package.json
  internals/vue-vite-import/example/ts/package.json
  internals/vue-vite-import/package.json
  package.json
  pnpm-workspace.yaml
Due: none

docs: hide the search input on the left menu at open source sites
  examples/sites/src/views/layout/layout.vue
Due: prettier --write, eslint --fix

feat: add mobile dependence
  examples/sites/package.json
Due: none

fix: fix problems found during verification
  packages/renderless/package.json
  packages/renderless/src/color-select-panel/vue.ts
  packages/vue-common/package.json
  packages/vue-common/src/index.ts
Due: prettier --write, eslint --fix

fix: fix problems found during verification (#2610)
  packages/renderless/package.json
  packages/renderless/src/color-select-panel/vue.ts
  packages/vue-common/package.json
  packages/vue-common/src/index.ts
Due: prettier --write, eslint --fix

feat(dropdown): [dropdown] add right side expansion function for dropdown
  examples/sites/demos/apis/dropdown.js
  examples/sites/demos/pc/app/dropdown/placement-composition-api.vue
  examples/sites/demos/pc/app/dropdown/placement.vue
  examples/sites/demos/pc/app/dropdown/webdoc/dropdown.js
  packages/theme/src/dropdown-item/index.less
  packages/theme/src/dropdown-item/vars.less
Due: prettier --write, eslint --fix

feat: update changelog and playground
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/playground/App.vue
  examples/sites/src/menus.jsx
Due: prettier --write, eslint --fix

feat: update changelog and playground (#2612)
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/playground/App.vue
  examples/sites/src/menus.jsx
Due: prettier --write, eslint --fix

feat: change default router link
  examples/sites/src/router.js
Due: prettier --write, eslint --fix

feat: change default router link (#2613)
  examples/sites/src/router.js
Due: prettier --write, eslint --fix

fix(input): fix input's autofocus not work
  packages/renderless/src/input/vue.ts
  packages/vue/src/tree/src/tree-node.vue
Due: prettier --write, eslint --fix

ci: execute pnpm i
  .github/workflows/auto-deploy-site.yml
  examples/sites/env/.env.pages
  examples/sites/package.json
Due: none

ci: fix auto deploy site failed
  .github/workflows/auto-deploy-site.yml
  examples/sites/env/.env.pages
  examples/sites/package.json
Due: none

fix(anchor): [anchor] fixed the bug that querySelect cannot select special id
  packages/renderless/src/anchor/index.ts
Due: prettier --write, eslint --fix

fix(anchor): [anchor] fixed the bug that querySelect cannot select special id
  packages/renderless/package.json
Due: none

fix(anchor): [anchor] fixed the bug that querySelect cannot select sp… (#2619)
  packages/renderless/package.json
  packages/renderless/src/anchor/index.ts
Due: prettier --write, eslint --fix

fix(anchor): [anchor] fixed the bug that querySelect cannot select special id
  packages/renderless/package.json
  packages/renderless/src/anchor/index.ts
Due: prettier --write, eslint --fix

fix(anchor): [anchor] fixed the bug that querySelect cannot select special id (#2620)
  packages/renderless/package.json
  packages/renderless/src/anchor/index.ts
Due: prettier --write, eslint --fix

ci: fix design-common.css and x.md file 404
  .github/workflows/auto-deploy-site.yml
  examples/sites/cp-component-md.sh
  examples/sites/package.json
Due: none

feat: update dcos version
  examples/sites/package.json
Due: none

docs: hide the search input on the left menu at open source sites (#2607)
  examples/sites/src/views/layout/layout.vue
Due: prettier --write, eslint --fix

fix: fixed the problem of global search js resource access failure
  examples/sites/index.html
  examples/sites/package.json
  examples/sites/src/App.vue
  examples/sites/src/main.js
  examples/sites/src/style.css
Due: prettier --write, eslint --fix

feat: update docs version
  examples/sites/package.json
Due: none

feat: optimize the example display style of the official website
  examples/sites/src/views/components/demo.vue
Due: prettier --write, eslint --fix

fix: fix slider compilation error in vue2
  packages/vue/src/slider/src/pc.vue
Due: prettier --write, eslint --fix

fix(site): add overflow for datepicker's demo on small screen
  examples/sites/src/views/components/demo.vue
Due: prettier --write, eslint --fix

fix(site): add overflow for datepicker's demo on small screen (#2626)
  examples/sites/src/views/components/demo.vue
Due: prettier --write, eslint --fix

feat: optimize the example display style of the official website (#2624)
  examples/sites/src/views/components/demo.vue
Due: prettier --write, eslint --fix
