Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(package.json): pnpm version error caused install dependencied failed
  package.json
Due: none

fix: fix tsconfig for not Vue projects
  tsconfig.json
  tsconfig.react.json
  tsconfig.vue2.7.json
  tsconfig.vue2.json
  tsconfig.vue3.json
Due: none

docs(site/notify): specification document (#1337)
  examples/sites/demos/pc/app/notify/duration-composition-api.vue
  examples/sites/demos/pc/app/notify/duration.vue
  examples/sites/demos/pc/app/notify/notify-events-composition-api.vue
  examples/sites/demos/pc/app/notify/notify-events.vue
  examples/sites/demos/pc/app/notify/position-composition-api.vue
  examples/sites/demos/pc/app/notify/position.spec.ts
  examples/sites/demos/pc/app/notify/position.vue
  examples/sites/demos/pc/app/notify/type-composition-api.vue
  examples/sites/demos/pc/app/notify/type.spec.ts
  examples/sites/demos/pc/app/notify/type.vue
  examples/sites/demos/pc/app/notify/webdoc/notify.js
Due: prettier --write, eslint --fix

docs(site/input): specification document (#1336)
  examples/sites/demos/pc/app/input/event-composition-api.vue
  examples/sites/demos/pc/app/input/event.vue
  examples/sites/demos/pc/app/input/webdoc/input.js
Due: prettier --write, eslint --fix

docs(site/loading): [loading] specification document (#1338)
  examples/sites/demos/pc/app/loading/custom-class-composition-api.vue
  examples/sites/demos/pc/app/loading/custom-class.vue
  examples/sites/demos/pc/app/loading/fullscreen-composition-api.vue
  examples/sites/demos/pc/app/loading/fullscreen.spec.ts
  examples/sites/demos/pc/app/loading/fullscreen.vue
  examples/sites/demos/pc/app/loading/spinner-composition-api.vue
  examples/sites/demos/pc/app/loading/spinner.spec.ts
  examples/sites/demos/pc/app/loading/spinner.vue
  examples/sites/demos/pc/app/loading/webdoc/loading.js
Due: prettier --write, eslint --fix

fix(package.json): pnpm version error caused install dependencied failed (#1340)
  package.json
Due: none

fix(site): async-highlight lost reactivity
  examples/sites/src/views/components/async-highlight.vue
  examples/sites/src/views/components/demo.vue
Due: prettier --write, eslint --fix

style: remove comment
  examples/sites/src/views/components/demo.vue
Due: prettier --write, eslint --fix

docs(anchor):[anchor]Fixed mode on and off with text reversed (#1304)
  examples/sites/demos/pc/app/anchor/is-affix-composition-api.vue
  examples/sites/demos/pc/app/anchor/is-affix.vue
Due: prettier --write, eslint --fix

fix(renderless): fix popper fixed offset in transform parent (#1332)
  packages/renderless/src/common/deps/popper.ts
Due: prettier --write, eslint --fix

fix(vue): [cascader] fix search mode in wujie (#1319)
  packages/renderless/src/cascader/index.ts
  packages/vue/src/cascader/src/pc.vue
Due: prettier --write, eslint --fix

fix: fix tsconfig for not Vue projects (#1342)
  tsconfig.json
  tsconfig.react.json
  tsconfig.vue2.7.json
  tsconfig.vue2.json
  tsconfig.vue3.json
Due: none

fix(cli): package.json missing dependency when create ui (#1339)
  internals/cli/public/template/component/package.json
Due: none

fix(site): async-highlight lost reactivity (#1344)
  examples/sites/src/views/components/async-highlight.vue
  examples/sites/src/views/components/demo.vue
Due: prettier --write, eslint --fix

styles(async-flowchart): [async-flowchart] add async-flowchart types (#1312)
  packages/renderless/src/async-flowchart/index.ts
  packages/renderless/src/async-flowchart/vue.ts
  packages/renderless/types/async-flowchart.type.ts
  packages/renderless/types/index.ts
  packages/vue/src/async-flowchart/src/index.ts
Due: prettier --write, eslint --fix

styles(area): [area] add area types (#1311)
  packages/renderless/src/area/vue.ts
  packages/renderless/types/area.type.ts
  packages/vue/src/area/src/index.ts
Due: prettier --write, eslint --fix

Sync to dev 0127 (#1352)
  packages/renderless/src/cascader/index.ts
  packages/renderless/src/common/deps/popper.ts
  packages/vue/src/calendar-view/src/mobile-first.vue
  packages/vue/src/calendar-view/src/pc.vue
  packages/vue/src/cascader/src/pc.vue
Due: prettier --write, eslint --fix

feat(ci): add pr preview action
  .github/workflows/preview-build.yml
  .github/workflows/preview-deploy.yml
  package.json
Due: none

fix(ci): pr preview error
  .github/workflows/preview-build.yml
  .github/workflows/preview-deploy.yml
  .gitignore
  examples/sites/package.json
  package.json
  packages/theme/src/theme/aurora-theme/component.js
  packages/theme/src/theme/smb-theme/component.js
Due: prettier --write, eslint --fix

fix(skeleton): skeleton css style
  examples/sites/demos/pc/app/skeleton/webdoc/skeleton.js
  packages/theme/src/skeleton-item/index.less
  packages/theme/src/skeleton-item/vars.less
  packages/theme/src/skeleton/index.less
  packages/theme/src/skeleton/vars.less
  packages/vue/src/skeleton/package.json
Due: prettier --write, eslint --fix

fix(site/loading): rectify loading size prop description
  examples/sites/demos/pc/app/loading/webdoc/loading.js
Due: prettier --write, eslint --fix

fix(ci): pr preview permission fix
  .github/workflows/preview-build.yml
  .gitignore
  package.json
  packages/theme/src/theme/aurora-theme/component.js
  packages/theme/src/theme/smb-theme/component.js
Due: prettier --write, eslint --fix

Update pc.vue
  packages/vue/src/dropdown/src/pc.vue
Due: prettier --write, eslint --fix

fix(theme): [grid] fix xDesign grid toolbar button style
  packages/theme/src/grid/smb-theme.js
  packages/theme/src/grid/toolbar.less
  packages/theme/src/grid/vars.less
Due: prettier --write, eslint --fix

fix(grid): [gird] fix the abnornal blank block when quantity from 500 to 10 (#1321)
  packages/vue/src/grid/src/table/src/methods.ts
Due: prettier --write, eslint --fix

fix(chart):[chart] Fix the bug where if tooltip is written in extend, the tooltipFormatter will become invalid
  packages/renderless/src/chart-core/index.ts
Due: prettier --write, eslint --fix

docs: supplement the pr title description document
  CONTRIBUTING.md
  CONTRIBUTING.zh-CN.md
Due: prettier --write

fix: add drag-outside-window of dialog-box
  examples/sites/demos/pc/app/dialog-box/draggable-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/webdoc/dialog-box.js
Due: prettier --write, eslint --fix

fix(tree-menu): [tree-menu] Fix the issue of asynchronous loading of tree-menu component
  examples/sites/demos/pc/app/tree-menu/webdoc/tree-menu.js
  packages/renderless/src/tree-menu/index.ts
Due: prettier --write, eslint --fix

fix(pull-refresh): fix pull up (#1235)
  packages/renderless/src/pull-refresh/index.ts
  packages/renderless/src/pull-refresh/vue.ts
Due: prettier --write, eslint --fix

feat(dialog-box): [dialog-box] make the dialogBox drag outside the window (#1268)
  examples/sites/demos/pc/app/dialog-box/webdoc/dialog-box.js
  packages/renderless/src/dialog-box/index.ts
  packages/theme/src/dialog-box/index.less
  packages/vue/src/dialog-box/src/index.ts
  packages/vue/src/dialog-box/src/pc.vue
Due: prettier --write, eslint --fix

fix(col): [layout] Fix Vue warning with configuration span of 24 (#1272)
  packages/vue/src/col/src/index.ts
Due: prettier --write, eslint --fix

fix(numeric): [numeric] Fix Bug caused by initial value greater than maximum (#1284)
  examples/sites/demos/pc/app/numeric/max-min.vue
  packages/renderless/src/numeric/index.ts
  packages/vue/src/numeric/__tests__/numeric.test.tsx
Due: prettier --write, eslint --fix

fix(timeline): [time-line] fix console error about `event click undefined` (#1297)
  packages/vue/src/time-line/src/pc.vue
Due: prettier --write, eslint --fix

feat(ci): add pr preview action (#1351)
  .github/workflows/preview-build.yml
  .github/workflows/preview-deploy.yml
  examples/sites/package.json
  package.json
Due: none

fix(site/loading): rectify loading size prop description (#1353)
  examples/sites/demos/pc/app/loading/webdoc/loading.js
Due: prettier --write, eslint --fix

Update pc.vue (#1356)
  packages/vue/src/dropdown/src/pc.vue
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,vue}) or (any of: *.md)
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
