Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(theme-tool): add theme-tool.d.ts for tinyOldTheme vars (#2795)
  packages/theme/package.json
  packages/theme/src/theme-tool.d.ts
Due: prettier --write, eslint --fix

fix(theme-tool): add theme-tool.d.ts for tinyOldTheme vars (#2786)
  packages/theme/package.json
  packages/theme/src/theme-tool.d.ts
Due: prettier --write, eslint --fix

test(grid): fix grid e2e test case
  examples/sites/demos/pc/app/grid/custom/column-fixed.spec.js
  examples/sites/demos/pc/app/grid/custom/column-sort.spec.js
  examples/sites/demos/pc/app/grid/custom/column-visible-hidden.spec.js
  examples/sites/demos/pc/app/grid/custom/multiple-column-sort.spec.js
  examples/sites/demos/pc/app/grid/custom/ordercolumn-local.spec.js
  examples/sites/demos/pc/app/grid/custom/reset-resizable.spec.js
  examples/sites/demos/pc/app/grid/editor/inner-editor.spec.js
  examples/sites/demos/pc/app/grid/event/valid-error-event.spec.js
  examples/sites/demos/pc/app/grid/faq/grid-in-dialog-box.spec.js
  examples/sites/demos/pc/app/grid/pager/show-save-msg.spec.js
  examples/sites/demos/pc/app/grid/toolbar/save-data.spec.js
  examples/sites/demos/pc/app/grid/tree-table/tree-grid-insert-delete-update.spec.js
  examples/sites/demos/pc/app/time-picker/format.spec.ts
  package.json
Due: prettier --write, eslint --fix

test: update @playwright/test to 1.49.x and fix e2e case (#2792)
  examples/docs/package.json
  examples/sites/demos/pc/app/grid/custom/column-fixed.spec.js
  examples/sites/demos/pc/app/grid/custom/column-sort.spec.js
  examples/sites/demos/pc/app/grid/custom/column-visible-hidden.spec.js
  examples/sites/demos/pc/app/grid/custom/multiple-column-sort.spec.js
  examples/sites/demos/pc/app/grid/custom/ordercolumn-local.spec.js
  examples/sites/demos/pc/app/grid/custom/reset-resizable.spec.js
  examples/sites/demos/pc/app/grid/edit/custom-editing.spec.js
  examples/sites/demos/pc/app/grid/edit/editing.spec.js
  examples/sites/demos/pc/app/grid/edit/has-row-change.spec.js
  examples/sites/demos/pc/app/grid/edit/revert-data.spec.js
  examples/sites/demos/pc/app/grid/edit/status-of-editing.spec.js
  examples/sites/demos/pc/app/grid/edit/trigger-mode-for-editing.spec.js
  examples/sites/demos/pc/app/grid/edit/trigger-mode-hm-editing.spec.js
  examples/sites/demos/pc/app/grid/editor/inner-editor.spec.js
  examples/sites/demos/pc/app/grid/event/valid-error-event.spec.js
  examples/sites/demos/pc/app/grid/faq/grid-in-dialog-box.spec.js
  examples/sites/demos/pc/app/grid/pager/show-save-msg.spec.js
  examples/sites/demos/pc/app/grid/toolbar/save-data.spec.js
  examples/sites/demos/pc/app/grid/tree-table/tree-grid-insert-delete-update.spec.js
  examples/sites/demos/pc/app/grid/validation/before-submit-validation.spec.js
  examples/sites/demos/pc/app/grid/validation/custcomp.spec.js
  examples/sites/demos/pc/app/grid/validation/editing-isvalidalways-validation.spec.js
  examples/sites/demos/pc/app/grid/validation/editing-validation.spec.js
  examples/sites/demos/pc/app/grid/validation/row-data-valid.spec.js
  examples/sites/demos/pc/app/grid/validation/select-validation.spec.js
  examples/sites/demos/pc/app/grid/validation/tipconfig.spec.js
  examples/sites/demos/pc/app/grid/validation/validation-scroll-to-col.spec.js
  examples/sites/demos/pc/app/time-picker/format.spec.ts
  examples/sites/package.json
  examples/vue2.7/package.json
  examples/vue2/package.json
  examples/vue3/package.json
  internals/playwright-config/package.json
  package.json
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

fix(grid): [grid] fix repeated trigger cell active when boardConfig.isEdit is set true (#2770)
  packages/vue/src/grid/src/table/src/events.ts
  packages/vue/src/grid/src/table/src/utils/handleGlobalKeydownEvent.ts
Due: prettier --write, eslint --fix

chore(internals): remove the rich-text-editor component from the main entry (#2768)
  internals/cli/src/shared/config.ts
  internals/cli/src/shared/module-utils.ts
  packages/modules.json
  packages/vue/package.json
  packages/vue/src/rich-text-editor/package.json
Due: prettier --write, eslint --fix

ci(git-action): fix error when publish all components
  package.json
Due: none

fix(grid): [grid] fix enter board event do not work (#2788)
  packages/vue/src/grid/src/table/src/events.ts
Due: prettier --write, eslint --fix

docs: fix demo-list children miss width style (#2769)
  examples/sites/demos/pc/webdoc/installation-en.md
  examples/sites/demos/pc/webdoc/installation.md
  examples/sites/src/views/components/demo.vue
Due: prettier --write, eslint --fix

ci(workflows): support automated patch version tag (#2773)
  .github/workflows/auto-all-publish.yml
Due: none

fix(grid): [grid] fix style error when dynamic group header is set fixed (#2789)
  packages/vue/src/grid/package.json
  packages/vue/src/grid/src/table/src/utils/autoCellWidth.ts
Due: prettier --write, eslint --fix

docs(sites): update changelog md doc and remove rich-text-editor examples (#2787)
  examples/sites/demos/pc/app/rich-text-editor/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/rich-text-editor/basic-usage.vue
  examples/sites/demos/pc/app/rich-text-editor/collaboration-usage-composition-api.vue
  examples/sites/demos/pc/app/rich-text-editor/collaboration-usage.vue
  examples/sites/demos/pc/app/rich-text-editor/custom-bar-usage-composition-api.vue
  examples/sites/demos/pc/app/rich-text-editor/custom-bar-usage.vue
  examples/sites/demos/pc/app/rich-text-editor/event-usage-composition-api.vue
  examples/sites/demos/pc/app/rich-text-editor/event-usage.vue
  examples/sites/demos/pc/app/rich-text-editor/options-usage-composition-api.vue
  examples/sites/demos/pc/app/rich-text-editor/options-usage.vue
  examples/sites/demos/pc/app/rich-text-editor/placeholder-usage-composition-api.vue
  examples/sites/demos/pc/app/rich-text-editor/placeholder-usage.vue
  examples/sites/demos/pc/app/rich-text-editor/webdoc/rich-text-editor.cn.md
  examples/sites/demos/pc/app/rich-text-editor/webdoc/rich-text-editor.en.md
  examples/sites/demos/pc/app/rich-text-editor/webdoc/rich-text-editor.js
  examples/sites/demos/pc/webdoc/changelog.md
Due: prettier --write, eslint --fix

test: update @playwright/test to 1.49.x and fix e2e case (#2792)
  examples/docs/package.json
  examples/sites/demos/pc/app/grid/custom/column-fixed.spec.js
  examples/sites/demos/pc/app/grid/custom/column-sort.spec.js
  examples/sites/demos/pc/app/grid/custom/column-visible-hidden.spec.js
  examples/sites/demos/pc/app/grid/custom/multiple-column-sort.spec.js
  examples/sites/demos/pc/app/grid/custom/ordercolumn-local.spec.js
  examples/sites/demos/pc/app/grid/custom/reset-resizable.spec.js
  examples/sites/demos/pc/app/grid/edit/custom-editing.spec.js
  examples/sites/demos/pc/app/grid/edit/editing.spec.js
  examples/sites/demos/pc/app/grid/edit/has-row-change.spec.js
  examples/sites/demos/pc/app/grid/edit/revert-data.spec.js
  examples/sites/demos/pc/app/grid/edit/status-of-editing.spec.js
  examples/sites/demos/pc/app/grid/edit/trigger-mode-for-editing.spec.js
  examples/sites/demos/pc/app/grid/edit/trigger-mode-hm-editing.spec.js
  examples/sites/demos/pc/app/grid/editor/inner-editor.spec.js
  examples/sites/demos/pc/app/grid/event/valid-error-event.spec.js
  examples/sites/demos/pc/app/grid/faq/grid-in-dialog-box.spec.js
  examples/sites/demos/pc/app/grid/pager/show-save-msg.spec.js
  examples/sites/demos/pc/app/grid/toolbar/save-data.spec.js
  examples/sites/demos/pc/app/grid/tree-table/tree-grid-insert-delete-update.spec.js
  examples/sites/demos/pc/app/grid/validation/before-submit-validation.spec.js
  examples/sites/demos/pc/app/grid/validation/custcomp.spec.js
  examples/sites/demos/pc/app/grid/validation/editing-isvalidalways-validation.spec.js
  examples/sites/demos/pc/app/grid/validation/editing-validation.spec.js
  examples/sites/demos/pc/app/grid/validation/row-data-valid.spec.js
  examples/sites/demos/pc/app/grid/validation/select-validation.spec.js
  examples/sites/demos/pc/app/grid/validation/tipconfig.spec.js
  examples/sites/demos/pc/app/grid/validation/validation-scroll-to-col.spec.js
  examples/sites/demos/pc/app/time-picker/format.spec.ts
  examples/sites/package.json
  examples/vue2/package.json
  examples/vue3/package.json
  internals/playwright-config/package.json
  package.json
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

fix: fix all publish action run error
  .github/workflows/auto-all-publish.yml
Due: none

fix: fix all publish action run error (#2798)
  .github/workflows/auto-all-publish.yml
Due: none

fix: fix all publish alpha packages action error
  .github/workflows/dispatch-all-publish-alpha.yml
Due: none

feat: add ui and renderless alpha pubish action
  .github/workflows/dispatch-renderless-theme-publish-alpha.yml
  .github/workflows/dispatch-ui-publish-alpha.yml
Due: none

ci(workflows): optimize git-action task name
  .github/workflows/dispatch-all-publish-alpha.yml
  .github/workflows/dispatch-renderless-theme-publish-alpha.yml
  .github/workflows/dispatch-ui-publish-alpha.yml
Due: none

fix: fix alpha publish error
  .github/workflows/dispatch-renderless-theme-publish-alpha.yml
Due: none

fix(pager): [pager] fix pager type error
  packages/renderless/types/pager.type.ts
Due: prettier --write, eslint --fix

docs: 修改文档
  examples/sites/demos/pc/webdoc/import-components-en.md
  examples/sites/demos/pc/webdoc/import-components.md
Due: prettier --write

feat: add license to mobile components
  packages/mobile/LICENSE
  packages/mobile/package.json
Due: none

feat: add license to mobile components
  packages/mobile/package.json
Due: none

feat(tree-menu): [tree-menu] Add static data and unused topic variables for rectification
  examples/sites/demos/apis/menu.js
  examples/sites/demos/pc/app/tree-menu/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/tree-menu/basic-usage.spec.ts
  examples/sites/demos/pc/app/tree-menu/basic-usage.vue
  examples/sites/demos/pc/app/tree-menu/data-resource-composition-api.vue
  examples/sites/demos/pc/app/tree-menu/data-resource.spec.ts
  examples/sites/demos/pc/app/tree-menu/data-resource.vue
  examples/sites/demos/pc/app/tree-menu/webdoc/tree-menu.js
  packages/theme/src/tree-menu/index.less
  packages/theme/src/tree-menu/vars.less
Due: prettier --write, eslint --fix

ci(workflows): added automatic upgrade function for external test packages
  .github/workflows/dispatch-renderless-theme-publish-alpha.yml
  .github/workflows/dispatch-ui-publish-alpha.yml
  internals/cli/src/commands/release/releaseAlpha.ts
  internals/cli/src/index.ts
Due: prettier --write, eslint --fix

ci(workflows): added automatic upgrade function for external test packages
  internals/cli/src/commands/release/releaseAlpha.ts
Due: prettier --write, eslint --fix

fix: the issue of modifying the layout and click examples of mobile devices and API browser address anchor undefined
  examples/sites/demos/mobile/overviewimage/container.svg
  examples/sites/demos/mobile/overviewimage/dev.svg
  examples/sites/demos/mobile/overviewimage/dialog-box.svg
  examples/sites/demos/mobile/overviewimage/popover.svg
  examples/sites/demos/mobile/overviewimage/tag.svg
  examples/sites/demos/mobile/overviewimage/user-head.svg
  examples/sites/src/views/components/components.vue
  examples/sites/src/views/components/demo.vue
  examples/sites/src/views/components/float-settings.vue
Due: prettier --write, eslint --fix

fix: revise inspection comments
  examples/sites/src/views/components/demo.vue
Due: prettier --write, eslint --fix

feat: add mobile demo preview
  examples/sites/env/.env.mobile
  examples/sites/env/.env.mobilealpha
  examples/sites/env/.env.mobileprod
  examples/sites/mobile.html
  examples/sites/mobile/App.vue
  examples/sites/mobile/main.ts
  examples/sites/vite.config.ts
Due: prettier --write, eslint --fix

fix: init mobile site refactor
  examples/sites/demos/mobile/app/button/base.vue
  examples/sites/demos/mobile/app/button/disabled.vue
  examples/sites/demos/mobile/app/button/event.vue
  examples/sites/demos/mobile/app/button/loading.vue
  examples/sites/demos/mobile/app/button/reset-time.vue
  examples/sites/demos/mobile/app/button/size.vue
  examples/sites/demos/mobile/app/input/textarea-scalable.vue
  examples/sites/demos/mobile/app/input/type.vue
  examples/sites/demos/mobile/app/list/imformation-list.vue
  examples/sites/demos/mobile/app/radio/base.vue
  examples/sites/demos/mobile/app/radio/disabled.vue
  examples/sites/demos/mobile/app/radio/event.vue
  examples/sites/demos/mobile/app/radio/label.vue
  examples/sites/src/views/components/components.vue
Due: prettier --write, eslint --fix

feat(tree-menu): [tree-menu] Add static data and unused topic variables for rectification
  packages/theme/src/tree-menu/index.less
  packages/theme/src/tree-menu/vars.less
Due: none

test(utils): add vitest for utils package
  packages/mobile/components/file-upload/src/renderless/index.ts
  packages/renderless/src/common/index.ts
  packages/renderless/src/tree/index.ts
  packages/utils/README.md
  packages/utils/package.json
  packages/utils/src/crypt/__test__/__snapshots__/crypt.test.ts.snap
  packages/utils/src/crypt/__test__/crypt.test.ts
  packages/utils/src/crypt/core.ts
  packages/utils/src/crypt/index.ts
  packages/utils/src/crypt/sha256.ts
  packages/utils/src/index.ts
  packages/utils/src/log/index.ts
  packages/utils/src/logger/README.md
  packages/utils/src/logger/index.ts
  packages/utils/src/nanoid/README.md
  packages/utils/src/nanoid/index.ts
  packages/utils/src/nanoid/nanoid.ts
  packages/utils/src/xss/__test__/xss.test.ts
Due: prettier --write, eslint --fix

ci(workflows): the full test case pipeline adds the ability to configure URL addresses
  .github/workflows/test-e2e-all.yml
  examples/vue3/playwright.config.js
  internals/cli/package.json
  internals/cli/src/commands/release/releaseE2EConfig.ts
  internals/cli/src/index.ts
  package.json
Due: prettier --write, eslint --fix

fix(log): fix
  packages/vue/src/grid/src/tools/logger.ts
Due: prettier --write, eslint --fix

fix(e2e): fix all e2e test error
  internals/cli/src/commands/release/releaseE2EConfig.ts
  internals/playwright-config/src/index.js
Due: prettier --write, eslint --fix

fix(e2e): fix all e2e test error
  .github/workflows/test-e2e-all.yml
Due: none

fix(e2e): fix all e2e test error
  internals/playwright-config/src/index.js
Due: prettier --write, eslint --fix

chore: 优化注释内容
  examples/vue3/playwright.config.js
Due: prettier --write, eslint --fix

fix(xss): fix
  packages/utils/src/xss/__test__/xss.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,vue}) or (any of: *.md)
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
