Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: changing the resolution
  packages/theme/src/button-group/adaptation.less
  packages/theme/src/button/adaptation.less
Due: none

fix: 修复input只读状态多行 在safari浏览器中有大段空白的问题
  packages/vue/src/input/src/mobile-first.vue
Due: prettier --write, eslint --fix

docs(grid): optimize grid filter docs and demos
  examples/sites/demos/pc/app/grid/filter/default-filter.spec.ts
Due: prettier --write, eslint --fix

fix(web-doc): 优化一些英文文档的描述
  examples/sites/demos/pc/webdoc/develop-demo-en.md
  examples/sites/demos/pc/webdoc/import-components.md
  examples/sites/demos/pc/webdoc/skills-en.md
  examples/sites/demos/pc/webdoc/skills.md
  examples/sites/demos/pc/webdoc/theme-en.md
Due: prettier --write

fix(api): 优化dialogBox，modal的英文api描述
  examples/sites/demos/apis/dialog-box.js
  examples/sites/demos/apis/modal.js
Due: prettier --write, eslint --fix

fix: update alert,fullscreen api
  examples/sites/demos/apis/alert.js
  examples/sites/demos/apis/fullscreen.js
  examples/sites/demos/apis/notify.js
Due: prettier --write, eslint --fix

fix: 移除一些无用的id
  packages/theme-saas/src/svgs/main-freight-to-be-settled-filled.svg
  packages/theme-saas/src/svgs/meh.svg
  packages/theme-saas/src/svgs/menu-close.svg
  packages/theme-saas/src/svgs/mic-filled.svg
  packages/theme-saas/src/svgs/mic.svg
Due: none

fix(dropdown): adapt dropdown components
  packages/theme/src/adaptation-index.less
  packages/theme/src/dropdown/responsive.less
Due: none

fix: add placement attribute
  examples/sites/demos/apis/action-menu.js
  packages/theme/src/action-menu/adaptation.less
  packages/theme/src/adaptation-index.less
  packages/vue/src/action-menu/src/index.ts
  packages/vue/src/action-menu/src/pc.vue
Due: prettier --write, eslint --fix

fix: delete code
  packages/theme/src/action-menu/vars.less
Due: none

fix: modify problem
  examples/sites/demos/pc/app/dropdown/show-icon-composition-api.vue
  examples/sites/demos/pc/app/dropdown/show-icon.vue
  packages/theme/src/dropdown/responsive.less
  packages/theme/src/dropdown/vars.less
Due: prettier --write, eslint --fix

fix: modify name
  packages/theme/src/adaptation-index.less
  packages/theme/src/button-group/responsive.less
  packages/theme/src/button/responsive.less
Due: none

fix: modify name
  packages/theme/src/adaptation-index.less
  packages/theme/src/breadcrumb/responsive.less
Due: none

fix: modify name
  packages/theme/src/adaptation-index.less
  packages/theme/src/link/responsive.less
Due: none

fix(tabs): optimize demo
  examples/sites/demos/pc/app/tabs/tabs-events-close-composition-api.vue
  examples/sites/demos/pc/app/tabs/tabs-events-close.vue
Due: prettier --write, eslint --fix

feat(drawer): drawer添加appendToBody
  examples/sites/demos/apis/drawer.js
  packages/renderless/src/drawer/index.ts
  packages/renderless/src/drawer/vue.ts
  packages/vue/src/drawer/src/index.ts
  packages/vue/src/drawer/src/mobile-first.vue
  packages/vue/src/drawer/src/pc.vue
Due: prettier --write, eslint --fix

docs: update drawer append-to-body prop
  examples/sites/demos/apis/drawer.js
  packages/renderless/src/drawer/vue.ts
Due: prettier --write, eslint --fix

fix:修复上传图片二进制内容丢失问题
  packages/renderless/src/fluent-editor/index.ts
Due: prettier --write, eslint --fix

fix(base-select): adaptation of Base-Select Components
  packages/theme/src/adaptation-index.less
  packages/theme/src/base-select/responsive.less
  packages/theme/src/base-select/vars.less
  packages/theme/src/option/responsive.less
  packages/theme/src/option/vars.less
Due: none

fix: modify location
  packages/theme/src/adaptation-index.less
Due: none

fix: modify spacing
  packages/vue/src/numeric/src/token.ts
Due: prettier --write, eslint --fix

fix: adapt to Cascader Components
  packages/theme/src/adaptation-index.less
  packages/theme/src/cascader-node/responsive.less
  packages/theme/src/cascader-node/vars.less
Due: none

fix(checkbox): adapt to checkbox component
  packages/theme/src/adaptation-index.less
  packages/theme/src/checkbox/responsive.less
  packages/theme/src/checkbox/vars.less
Due: none

fix(checkbox): optimized checkbox
  packages/theme/src/checkbox/responsive.less
Due: none

fix(checkbox): optimized checkbox
  examples/sites/demos/pc/app/checkbox/checked-composition-api.vue
  examples/sites/demos/pc/app/checkbox/checked.vue
  packages/theme/src/checkbox/responsive.less
  packages/theme/src/checkbox/vars.less
Due: prettier --write, eslint --fix

fix(grid): fix cell not update at row change
  packages/vue/src/grid/src/cell/src/cell.ts
Due: prettier --write, eslint --fix

fix(grid): enhance filter layout processing by trimming and filtering empty items
  packages/vue/src/grid/src/filter/src/panel.tsx
Due: prettier --write, eslint --fix

fix(grid): ensure safe deletion of defaultRowId in record object
  packages/vue/src/grid/src/edit/src/methods.ts
Due: prettier --write, eslint --fix

fix(tag): add a span tag to the tag and insert a CSS rule for long ellipsis
  packages/theme-saas/src/tag/index.less
  packages/theme/src/tag/index.less
  packages/vue/src/tag/src/pc.vue
Due: prettier --write, eslint --fix

fix(numeric): adapt to Numeric Components
  packages/theme/src/adaptation-index.less
  packages/theme/src/numeric/responsive.less
  packages/theme/src/numeric/vars.less
Due: none

fix(radio): adapt to Radio Components
  packages/theme/src/adaptation-index.less
  packages/theme/src/radio-group/index.less
  packages/theme/src/radio/responsive.less
Due: none

feat(color-picker): 添加了一个颜色选择的位置选项
  examples/sites/demos/pc/app/color-picker/size copy.vue
  packages/renderless/src/color-picker/vue.ts
  packages/vue/src/color-picker/src/index.ts
  packages/vue/src/color-picker/src/pc.vue
Due: prettier --write, eslint --fix

feat(color-picker): 增加了文档
  examples/sites/demos/apis/color-picker.js
  examples/sites/demos/pc/app/color-picker/placement.spec.ts
  examples/sites/demos/pc/app/color-picker/placement.vue
  examples/sites/demos/pc/app/color-picker/size copy.vue
  examples/sites/demos/pc/app/color-picker/webdoc/color-picker.js
Due: prettier --write, eslint --fix

feat(color-picker): 修改样式位置
  packages/theme/src/color-picker/index.less
  packages/vue/src/color-picker/src/pc.vue
Due: prettier --write, eslint --fix

fix(alert): adapt to Alert Components
  packages/theme/src/adaptation-index.less
  packages/theme/src/alert/responsive.less
  packages/theme/src/alert/vars.less
Due: none

docs: add "Build with AI" content to README.md
  README.md
  README.zh-CN.md
  tiny-vue-skill.png
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,vue}) or (any of: *.md)
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
