Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,vue}": ["prettier --write", "eslint  --fix"],
  "*.md": ["prettier --write"]
}

fix(cascader): fix cascader's background color when hover
  packages/theme/src/cascader-node/vars.less
Due: none

feat(site): switch theme styles through routing
  examples/sites/src/tools/useTheme.js
  packages/theme/src/old-theme-index.js
Due: prettier --write, eslint --fix

feat(date-picker): [date-picker] Adapting to the old-theme
  packages/theme/src/base/old-theme.less
  packages/theme/src/date-table/index.less
  packages/theme/src/month-table/index.less
Due: none

feat(breadcrumb): [breadcrumb] modify delimiter
  examples/sites/demos/pc/app/breadcrumb/separator.spec.ts
Due: prettier --write, eslint --fix

feat: reduce common package size
  internals/cli/src/config/vite.ts
  packages/vue-common/package.json
  packages/vue-common/src/index-dev.ts
  packages/vue-common/src/index.ts
  packages/vue-saas-common/package.json
  packages/vue-saas-common/src/index.ts
Due: prettier --write, eslint --fix

feat: [config-provider] optimize global configuration component documentation
  examples/sites/demos/pc/app/config-provider/base-composition-api.vue
  examples/sites/demos/pc/app/config-provider/base.vue
  examples/sites/demos/pc/app/config-provider/basic.spec.ts
  examples/sites/demos/pc/app/config-provider/form-composition-api.vue
  examples/sites/demos/pc/app/config-provider/form.spec.ts
  examples/sites/demos/pc/app/config-provider/form.vue
  examples/sites/demos/pc/app/config-provider/webdoc/config-provider.js
  examples/sites/demos/pc/menus.js
  packages/renderless/src/button/index.ts
  packages/renderless/src/button/vue.ts
  packages/renderless/src/form/index.ts
Due: prettier --write, eslint --fix

feat(collapse): [collapse] fix style issues in the old theme
  packages/theme/src/collapse-item/vars.less
Due: none

feat: add round global config
  examples/sites/demos/pc/app/config-provider/base-composition-api.vue
  examples/sites/demos/pc/app/config-provider/base.vue
  examples/sites/demos/pc/app/config-provider/webdoc/config-provider.js
  packages/renderless/src/button/vue.ts
  packages/renderless/types/button.type.ts
  packages/vue/src/button/src/index.ts
  packages/vue/src/button/src/mobile-first.vue
  packages/vue/src/button/src/pc.vue
Due: prettier --write, eslint --fix

feat: optimize basic variables and switch the overall rounded corner style of the component library
  packages/theme/src/base/old-theme.less
  packages/theme/src/base/vars.less
  packages/theme/src/date-table/vars.less
  packages/theme/src/dropdown/vars.less
  packages/theme/src/guide/vars.less
  packages/theme/src/month-table/vars.less
  packages/theme/src/pager/vars.less
  packages/theme/src/time-spinner/vars.less
Due: none

fix: fix e2e test error
  examples/sites/demos/pc/app/config-provider/base-composition-api.vue
  examples/sites/demos/pc/app/config-provider/base.vue
Due: prettier --write, eslint --fix

feat: add space var to adapt to old theme
  packages/theme/src/anchor/vars.less
  packages/theme/src/base/old-theme.less
  packages/theme/src/base/vars.less
  packages/theme/src/calendar-view/index.less
  packages/theme/src/calendar-view/vars.less
  packages/theme/src/dialog-box/index.less
  packages/theme/src/dialog-box/vars.less
  packages/theme/src/drawer/index.less
  packages/theme/src/drawer/vars.less
  packages/theme/src/form-item/index.less
  packages/theme/src/form-item/vars.less
  packages/theme/src/image-viewer/vars.less
  packages/theme/src/link-menu/index.less
  packages/theme/src/modal/vars.less
  packages/theme/src/steps/vars.less
  packages/theme/src/tabs/vars.less
  packages/theme/src/wizard/vars.less
Due: none

ci: add auto deploy site
  .github/workflows/auto-deploy-site.yml
Due: none

fix: fix color-select-panel error when publish
  packages/vue/src/color-select-panel/package.json
Due: none

feat(numeric): [numeric] add step strategy of props
  examples/sites/demos/apis/numeric.js
  examples/sites/demos/pc/app/numeric/about-step-composition-api.vue
  examples/sites/demos/pc/app/numeric/about-step.spec.ts
  examples/sites/demos/pc/app/numeric/about-step.vue
  examples/sites/demos/pc/app/numeric/webdoc/numeric.js
  packages/renderless/src/numeric/index.ts
  packages/vue/src/numeric/src/index.ts
Due: prettier --write, eslint --fix

fix(numeric): [numeric] modify condition
  packages/renderless/src/numeric/index.ts
Due: prettier --write, eslint --fix

fix(numeric): [numeric] modify description
  examples/sites/demos/apis/numeric.js
Due: prettier --write, eslint --fix

test(e2e): fix input、link、popeditor error e2e test
  examples/sites/demos/pc/app/input/resize-composition-api.vue
  examples/sites/demos/pc/app/input/resize.spec.ts
  examples/sites/demos/pc/app/input/resize.vue
  examples/sites/demos/pc/app/link/basic-usage.spec.ts
  examples/sites/demos/pc/app/popeditor/condition-form.spec.ts
Due: prettier --write, eslint --fix

fix: remove mathlive demo to fixed site build error
  examples/sites/demos/pc/app/fluent-editor/options-formula-composition-api.vue
  examples/sites/demos/pc/app/fluent-editor/options-formula.vue
  examples/sites/demos/pc/app/fluent-editor/webdoc/fluent-editor.js
  examples/sites/package.json
Due: prettier --write, eslint --fix

fix(numeric): [numeric] modify review
  packages/renderless/src/numeric/index.ts
Due: prettier --write, eslint --fix

fix: fix grid、flowchart、grid、treemenu bugs
  examples/sites/package.json
  packages/modules.json
  packages/renderless/src/flowchart/index.ts
  packages/renderless/types/tree-menu.type.ts
  packages/theme-saas/src/cascader-menu/index.less
  packages/theme-saas/src/date-range/index.less
  packages/theme-saas/src/grid/mixins/table.less
  packages/theme-saas/src/grid/table.less
  packages/theme-saas/src/picker/index.less
  packages/theme/src/old-theme-index.js
  packages/theme/src/svgs/ellipsis.svg
  packages/vue/src/file-upload/src/mobile-first.vue
  packages/vue/src/grid/package.json
  packages/vue/src/grid/src/radio/src/radio.ts
  packages/vue/src/grid/src/table/src/utils/handleGlobalMousedownEvent.ts
  packages/vue/src/tree-menu/index.ts
  packages/vue/src/tree-menu/src/pc.vue
  packages/vue/src/tree-menu/src/props.ts
Due: prettier --write, eslint --fix

fix: [button-group] fixed the bug that multiple clicks on the same button would trigger multiple events
  packages/renderless/src/button-group/index.ts
Due: prettier --write, eslint --fix

feat: add design smb packages
  internals/cli/src/commands/create/commonMapping.json
  packages/design/smb/index.ts
  packages/design/smb/package.json
Due: prettier --write, eslint --fix

feat: add design smb packages
  packages/modules.json
Due: none

fix(site): fix catalog flashing
  examples/sites/src/views/components/components.vue
Due: prettier --write, eslint --fix

fix(date-picker): [date-picker] Fix the issue of icons not being centered under mini size
  packages/theme/src/picker/index.less
Due: none

fix: fix the error when starting the saas official website
  packages/theme-saas/src/old-theme-index.js
  packages/theme-saas/src/theme-tool.js
  packages/theme-saas/src/theme/aurora-theme/index.js
  packages/theme-saas/src/theme/deep-theme/index.js
  packages/theme-saas/src/theme/galaxy-theme/index.js
  packages/theme-saas/src/theme/impression-theme/index.js
  packages/theme-saas/src/theme/index.js
  packages/theme-saas/src/theme/infinity-theme/index.js
  packages/theme-saas/src/theme/smb-theme/index.js
  packages/theme-saas/src/theme/utils.js
Due: prettier --write, eslint --fix

docs: add algolia search
  examples/sites/index.html
  examples/sites/src/style.css
  examples/sites/src/views/layout/layout.vue
Due: prettier --write, eslint --fix

feat(locale): use Object.assign for better tree shaking
  packages/vue-locale/src/index.ts
Due: prettier --write, eslint --fix

docs: optimize user experience
  examples/sites/index.html
  examples/sites/src/App.vue
  examples/sites/src/style.css
Due: prettier --write, eslint --fix

test(e2e): fix action-menu error e2e test
  examples/sites/demos/pc/app/action-menu/card-mode.spec.ts
Due: prettier --write, eslint --fix

fix(site): add smb design-config support
  examples/sites/package.json
  examples/sites/src/tools/useTheme.js
  packages/vue-common/src/index.ts
  packages/vue/src/config-provider/src/index.vue
Due: prettier --write, eslint --fix

feat(bulletin-board): [bulletin-board] Add click events
  examples/sites/demos/apis/bulletin-board.js
  examples/sites/demos/pc/app/bulletin-board/events-composition-api.vue
  examples/sites/demos/pc/app/bulletin-board/events.spec.ts
  examples/sites/demos/pc/app/bulletin-board/events.vue
  examples/sites/demos/pc/app/bulletin-board/webdoc/bulletin-board.js
  packages/renderless/src/bulletin-board/index.ts
  packages/renderless/src/bulletin-board/vue.ts
  packages/theme/src/bulletin-board/index.less
  packages/vue/src/bulletin-board/src/pc.vue
Due: prettier --write, eslint --fix

feat(bulletin-board): [bulletin-board] Add click events
  examples/sites/demos/apis/bulletin-board.js
  packages/vue/src/bulletin-board/src/pc.vue
Due: prettier --write, eslint --fix

feat(bulletin-board): [bulletin-board] Add click events
  examples/sites/demos/apis/bulletin-board.js
  examples/sites/demos/pc/app/bulletin-board/events-composition-api.vue
  examples/sites/demos/pc/app/bulletin-board/events.vue
  examples/sites/demos/pc/app/bulletin-board/webdoc/bulletin-board.js
  packages/renderless/src/bulletin-board/index.ts
Due: prettier --write, eslint --fix

fix: fix build all components error
  internals/cli/src/commands/build/build-ui.ts
  packages/design/smb/package.json
  packages/theme/src/old-theme-index.js
Due: prettier --write, eslint --fix

docs: optimize header markdown
  examples/sites/demos/pc/webdoc/develop-demo-en.md
  examples/sites/demos/pc/webdoc/develop-demo.md
  examples/sites/demos/pc/webdoc/envpreparation-open-en.md
  examples/sites/demos/pc/webdoc/envpreparation-open.md
  examples/sites/demos/pc/webdoc/faq-en.md
  examples/sites/demos/pc/webdoc/faq.md
  examples/sites/demos/pc/webdoc/form-valid-en.md
  examples/sites/demos/pc/webdoc/form-valid.md
  examples/sites/demos/pc/webdoc/i18n-en.md
  examples/sites/demos/pc/webdoc/i18n.md
  examples/sites/demos/pc/webdoc/import-components-en.md
  examples/sites/demos/pc/webdoc/import-components.md
  examples/sites/demos/pc/webdoc/installation-en.md
  examples/sites/demos/pc/webdoc/installation.md
  examples/sites/demos/pc/webdoc/theme-en.md
  examples/sites/demos/pc/webdoc/theme.md
Due: prettier --write

docs: optimize demo/api header
  examples/sites/src/views/components/components.vue
  examples/sites/src/views/components/demo.vue
Due: prettier --write, eslint --fix
