Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(date-picker): fix date-picker e2e test error
  examples/sites/demos/pc/app/date-picker/clear.spec.ts
Due: prettier --write, eslint --fix

feat(alert): [alert] display title when size is large
  examples/sites/demos/pc/app/alert/title.spec.ts
Due: prettier --write, eslint --fix

fix(popeditor): theme-saas增加popeditor中label的默认宽度
  packages/theme-saas/src/popeditor/index.less
Due: none

fix: the issue of ineffective style modification
  packages/theme/src/modal/vars.less
Due: none

fix: modify the vertical arrow display issue of the carousel component
  packages/theme/src/carousel/index.less
Due: none

docs(grid): [grid] add updateFooter demo
  examples/sites/demos/apis/grid.js
  examples/sites/demos/pc/app/grid/footer/update-footer-composition-api.vue
  examples/sites/demos/pc/app/grid/footer/update-footer.spec.ts
  examples/sites/demos/pc/app/grid/footer/update-footer.vue
  examples/sites/demos/pc/app/grid/webdoc/grid-footer.js
Due: prettier --write, eslint --fix

test(grid): fix unit test error
  packages/vue/src/grid/src/grid/grid.ts
Due: prettier --write, eslint --fix

fix(grid): [grid] fix can not select first option when value is empty
  packages/vue/src/grid/src/adapter/src/renderer.ts
Due: prettier --write, eslint --fix

test(grid): fix grid unit test
  packages/vue/src/grid/__tests__/grid.test.tsx
Due: prettier --write, eslint --fix

fix(dialog-box): [dialog-box] modify style
  packages/theme/src/dialog-box/index.less
  packages/theme/src/dialog-box/vars.less
Due: none

fix(loading): v-loading's lifecycle name replace by inserted
  packages/vue-common/src/adapter/vue2/index.ts
  packages/vue-common/src/adapter/vue3/index.ts
  packages/vue/src/loading/src/directive.ts
Due: prettier --write, eslint --fix

fix: fix huichart build error
  packages/vue/src/huicharts/src/index.ts
Due: prettier --write, eslint --fix

fix(renderless): fix renderless package publish error
  packages/renderless/scripts/postbuild.ts
Due: prettier --write, eslint --fix

feat: update playground versions
  examples/sites/package.json
  examples/sites/playground/App.vue
Due: prettier --write, eslint --fix

fix(grid): [grid] fix checkbox border become smaller when config show-overflow
  packages/theme/src/grid/checkbox.less
Due: none

fix(grid): [grid] fix repeated trigger cell active when boardConfig.isEdit is set true
  packages/vue/src/grid/src/table/src/utils/handleGlobalKeydownEvent.ts
Due: prettier --write, eslint --fix

ci(workflows): add runtime publish git-action
  .github/workflows/auto-all-publish.yml
  .github/workflows/dispatch-renderless-theme-publish.yml
  package.json
Due: none

feat(alert): [alert] display title when size is large in mobile-first
  examples/sites/demos/apis/alert.js
  examples/sites/demos/mobile-first/app/alert/title.vue
  examples/sites/demos/mobile-first/app/alert/webdoc/alert.js
  examples/sites/demos/pc/app/alert/webdoc/alert.js
  packages/vue/src/alert/src/mobile-first.vue
Due: prettier --write, eslint --fix

fix: modify e2e test cases for the divider component
  examples/sites/demos/pc/app/divider/basic-usage.spec.ts
  examples/sites/demos/pc/app/divider/content-position.spec.ts
  examples/sites/demos/pc/app/divider/custom-style.spec.ts
  examples/sites/demos/pc/app/divider/direction.spec.ts
  examples/sites/demos/pc/app/divider/divider-type.spec.ts
  examples/sites/demos/pc/app/divider/status.spec.ts
Due: prettier --write, eslint --fix

fix: modify e2e test cases for the divider component
  examples/sites/demos/pc/app/divider/content-position.spec.ts
  examples/sites/demos/pc/app/divider/custom-style.spec.ts
  examples/sites/demos/pc/app/divider/divider-type.spec.ts
  examples/sites/demos/pc/app/divider/status.spec.ts
Due: prettier --write, eslint --fix

ci(git-action): fix error when publish all components
  package.json
Due: none

docs: change docs content
  examples/sites/demos/pc/webdoc/installation-en.md
  examples/sites/demos/pc/webdoc/installation.md
Due: prettier --write

docs: fix demo-list children miss width style
  examples/sites/src/views/components/demo.vue
Due: prettier --write, eslint --fix

chore(internals): remove the rich-text-editor component from the main entry
  internals/cli/src/shared/config.ts
  internals/cli/src/shared/module-utils.ts
  packages/modules.json
  packages/vue/package.json
  packages/vue/src/rich-text-editor/package.json
Due: prettier --write, eslint --fix

chore(internals): remove the rich-text-editor component from the main entry (#2768)
  internals/cli/src/shared/config.ts
  internals/cli/src/shared/module-utils.ts
  packages/modules.json
  packages/vue/package.json
  packages/vue/src/rich-text-editor/package.json
Due: prettier --write, eslint --fix

fix(grid): [grid] fix value to be set null when keyboard enter edit
  packages/vue/src/grid/src/table/src/events.ts
Due: prettier --write, eslint --fix

fix(select): remove tooltip when state.isShowTagText is true
  packages/vue/src/select/src/pc.vue
Due: prettier --write, eslint --fix

fix(select): set tiny-input's prop of showTooltip=false
  packages/vue/src/select/src/pc.vue
Due: prettier --write, eslint --fix

ci(workflows): support automated patch version tag
  .github/workflows/auto-all-publish.yml
Due: none

feat(dropdown): [dropdown] 增加visible属性，支持用户自定义面板显隐
  examples/sites/demos/apis/dropdown.js
  examples/sites/demos/pc/app/dropdown/visible-composition-api.vue
  examples/sites/demos/pc/app/dropdown/visible.spec.ts
  examples/sites/demos/pc/app/dropdown/visible.vue
  examples/sites/demos/pc/app/dropdown/webdoc/dropdown.js
  packages/renderless/src/dropdown/index.ts
  packages/renderless/src/dropdown/vue.ts
  packages/renderless/types/dropdown.type.ts
  packages/vue/src/dropdown/src/index.ts
  packages/vue/src/dropdown/src/pc.vue
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,vue}) or (any of: *.md)
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
