Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,vue}": ["prettier --write", "eslint  --fix"],
  "*.md": ["prettier --write"]
}

feat(date-picker): [date-picker]Optimize case display and fix style i… (#2386)
  examples/sites/demos/pc/app/date-picker/align-composition-api.vue
  examples/sites/demos/pc/app/date-picker/align.vue
  examples/sites/demos/pc/app/date-picker/date-range-composition-api.vue
  examples/sites/demos/pc/app/date-picker/date-range.vue
  examples/sites/demos/pc/app/date-picker/events-composition-api.vue
  examples/sites/demos/pc/app/date-picker/events.vue
  examples/sites/demos/pc/app/date-picker/now-composition-api.vue
  examples/sites/demos/pc/app/date-picker/now.vue
  examples/sites/demos/pc/app/date-picker/timezone-composition-api.vue
  packages/theme/src/date-table/index.less
Due: prettier --write, eslint --fix

feat(anchor): [anchor] add top-offset props (#2388)
  packages/renderless/src/anchor/index.ts
  packages/vue/src/anchor/src/index.ts
  packages/vue/src/anchor/src/pc.vue
Due: prettier --write, eslint --fix

fix(modal): [modal] modify design style (#2389)
  packages/theme/src/modal/vars.less
Due: none

fix: 修改表文档样式
  examples/sites/src/assets/markdown.less
  examples/sites/src/assets/md-preview.less
Due: none

fix: 删除地图测试用例
  examples/sites/demos/pc/app/chart/bmap/bmap.spec.ts
  examples/sites/demos/pc/app/chart/bmap/bmap.spec.ts-snapshots/base-chromium-win32.png
Due: prettier --write, eslint --fix

fix(icon): added the content of the show-title example and improved several comments
  examples/sites/demos/pc/app/icon/show-title-composition-api.vue
  examples/sites/demos/pc/app/icon/show-title.spec.ts
  examples/sites/demos/pc/app/icon/show-title.vue
  examples/sites/demos/pc/app/icon/webdoc/icon.js
  packages/theme/build/release.js
  packages/theme/src/button/vars.less
Due: prettier --write, eslint --fix

fix(icon): fix
  examples/sites/demos/pc/app/icon/show-title-composition-api.vue
  examples/sites/demos/pc/app/icon/show-title.spec.ts
  examples/sites/demos/pc/app/icon/show-title.vue
Due: prettier --write, eslint --fix

fix: reverse delete docs router
  examples/sites/demos/pc/webdoc/import-components-en.md
  examples/sites/demos/pc/webdoc/import-components.md
  examples/sites/src/menus.jsx
  examples/sites/src/router.js
Due: prettier --write, eslint --fix

docs: fix demo position not correct when load page
  examples/sites/src/views/components/components.vue
  examples/sites/src/views/components/demo.vue
Due: prettier --write, eslint --fix

docs: anchor props rename
  examples/sites/src/views/components/components.vue
Due: prettier --write, eslint --fix

feat(date-picker): [date-picker] Fix style issues
  packages/theme/src/month-table/index.less
  packages/theme/src/month-table/vars.less
Due: none

fix(notify): add manual close demo for notify
  examples/sites/demos/pc/app/alert/webdoc/alert.js
  examples/sites/demos/pc/app/notify/manual-close-composition-api.vue
  examples/sites/demos/pc/app/notify/manual-close.spec.ts
  examples/sites/demos/pc/app/notify/manual-close.vue
  examples/sites/demos/pc/app/notify/webdoc/notify.js
Due: prettier --write, eslint --fix

fix(notify): fix
  examples/sites/demos/pc/app/notify/manual-close-composition-api.vue
  examples/sites/demos/pc/app/notify/manual-close.vue
  examples/sites/demos/pc/app/notify/webdoc/notify.js
Due: prettier --write, eslint --fix

refactor(transfer): refactor transfer by checkbox
  packages/theme/src/transfer/index.less
  packages/vue/src/transfer-panel/src/pc.vue
Due: prettier --write, eslint --fix

refactor: rename topOffset and reverse judge condition
  packages/renderless/src/anchor/index.ts
  packages/renderless/src/anchor/vue.ts
  packages/renderless/types/anchor.type.ts
  packages/vue/src/anchor/src/index.ts
  packages/vue/src/anchor/src/pc.vue
Due: prettier --write, eslint --fix

fix(theme): 修复主题使用别名切换主题时部分全局样式失效的问题
  packages/theme/build/edit‐dir‐theme.js
  packages/theme/package.json
Due: prettier --write, eslint --fix

fix(transfer): fix
  examples/sites/demos/pc/app/transfer/custom-titles-composition-api.vue
  examples/sites/demos/pc/app/transfer/custom-titles.spec.ts
  examples/sites/demos/pc/app/transfer/custom-titles.vue
  packages/vue/src/transfer-panel/src/pc.vue
Due: prettier --write, eslint --fix

fix(checkbox): [checkbox] fixed change event bubbling caused it to be triggered twice
  packages/vue/src/checkbox/src/mobile-first.vue
  packages/vue/src/checkbox/src/mobile.vue
  packages/vue/src/checkbox/src/pc.vue
Due: prettier --write, eslint --fix

fix(build): fix build theme error
  packages/theme/src/top-box/index.less
Due: none

feat(date-picker): [date-picker] Modify console for a large number of alarms
  packages/renderless/src/date-panel/vue.ts
Due: prettier --write, eslint --fix

docs(form): [form] optimize demo and docs
  examples/sites/demos/pc/app/form/form-validation-composition-api.vue
  examples/sites/demos/pc/app/form/form-validation.vue
  examples/sites/demos/pc/app/form/label-position-composition-api.vue
  examples/sites/demos/pc/app/form/label-position.vue
  examples/sites/demos/pc/app/form/popper-options-composition-api.vue
  examples/sites/demos/pc/app/form/popper-options.vue
  examples/sites/demos/pc/app/form/slot-label-composition-api.vue
  examples/sites/demos/pc/app/form/slot-label.vue
  examples/sites/demos/pc/app/form/smb-required-composition-api.vue
  examples/sites/demos/pc/app/form/smb-required.vue
  examples/sites/demos/pc/app/form/webdoc/form.js
Due: prettier --write, eslint --fix

refactor(theme-doc): add ThemeTools docs
  examples/sites/demos/pc/webdoc/theme.md
  examples/sites/src/assets/custom-block.less
  packages/theme/src/theme-tool.d.ts
Due: prettier --write, eslint --fix

refactor(base-select): [base-select] refactor vars for base-select
  packages/theme/src/base-select/index.less
  packages/theme/src/base-select/vars.less
  packages/vue/src/base-select/src/pc.vue
Due: prettier --write, eslint --fix

fix(theme-tool): add Theme tool's english docs
  examples/sites/demos/pc/webdoc/theme-en.md
  examples/sites/demos/pc/webdoc/theme.md
  packages/theme/src/theme-tool.d.ts
Due: prettier --write, eslint --fix

fix(fix): fix
  examples/sites/demos/pc/webdoc/theme.md
Due: prettier --write

fix(theme): fix docs
  examples/sites/demos/pc/webdoc/theme.md
Due: prettier --write

fix(cascader): add designConfig for tag's type
  packages/design/saas/index.ts
  packages/design/saas/src/cascader/index.ts
  packages/renderless/src/cascader/vue.ts
  packages/vue/src/cascader/src/pc.vue
Due: prettier --write, eslint --fix

fix(theme): fix
  examples/sites/demos/pc/webdoc/theme.md
  examples/sites/src/assets/custom-block.less
Due: prettier --write

fix(theme): fix
  examples/sites/demos/pc/webdoc/theme.md
  packages/theme/src/theme-tool.js
Due: prettier --write, eslint --fix

fix(user-contact): fix background-color of user-contact's header
  packages/theme/src/user-contact/vars.less
Due: none

fix(auto-tip): add auto-tip demo and description
  examples/sites/demos/pc/app/directives/auto-tip/always-show-composition-api.vue
  examples/sites/demos/pc/app/directives/auto-tip/always-show.spec.js
  examples/sites/demos/pc/app/directives/auto-tip/always-show.vue
  examples/sites/demos/pc/app/directives/webdoc/directives-auto-tip.js
Due: prettier --write, eslint --fix

docs(highlightQuery): update highlightQuery's docs
  examples/sites/demos/pc/app/directives/highlight-query/avoid-composition-api.vue
  examples/sites/demos/pc/app/directives/highlight-query/avoid.vue
  examples/sites/demos/pc/app/directives/webdoc/directives-highlight-query.js
Due: prettier --write, eslint --fix

fix(highlightQuery): fix e2e test
  examples/sites/demos/pc/app/directives/highlight-query/avoid.spec.js
Due: prettier --write, eslint --fix

fix(e2e): [time-line] 修复测试用例
  examples/sites/demos/pc/app/time-line/status.spec.ts
Due: prettier --write, eslint --fix

docs(virtual-scroll): Update demo documentation
  examples/sites/demos/pc/app/virtual-scroll/webdoc/virtual-scroll.js
Due: prettier --write, eslint --fix

test(e2e): fix e2e test error
  examples/sites/demos/pc/app/base-select/copy-multi.spec.ts
  examples/sites/demos/pc/app/base-select/input-box-type.spec.ts
  examples/sites/demos/pc/app/base-select/popup-style-position.spec.ts
  examples/sites/demos/pc/app/base-select/size.spec.ts
  examples/sites/demos/pc/app/icon/show-title.spec.ts
  examples/sites/demos/pc/app/select/size.spec.ts
  examples/sites/demos/pc/app/slider/shortcut-operation.spec.ts
  examples/sites/demos/pc/app/tabs/tab-style-bordercard.spec.ts
  examples/sites/demos/pc/app/tag/size.spec.ts
  examples/sites/demos/pc/app/time-picker/event-composition-api.vue
  examples/sites/demos/pc/app/time-picker/event.spec.ts
  examples/sites/demos/pc/app/time-picker/event.vue
Due: prettier --write, eslint --fix

fix(cascader): fix e2e
  examples/sites/demos/pc/app/cascader/slot.spec.ts
Due: prettier --write, eslint --fix

feat(tree-menu,skeleton): [tree-menu,skeleton] modify testing issues
  examples/sites/demos/pc/app/fullscreen/webdoc/fullscreen.js
  packages/theme/src/skeleton-item/index.less
  packages/theme/src/tree-menu/index.less
Due: prettier --write, eslint --fix
