Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(fluent-editor): fix fluent-editor style.css
  packages/vue/src/fluent-editor/src/mobile-first.vue
  packages/vue/src/fluent-editor/src/pc.vue
Due: prettier --write, eslint --fix

fix(fluent-editor): fix fluent-editor style.css (#2362)
  packages/vue/src/fluent-editor/src/mobile-first.vue
  packages/vue/src/fluent-editor/src/pc.vue
Due: prettier --write, eslint --fix

fix(autocomplete): [autocomplete] fix form validate error when select suggestion option (#2296)
  packages/renderless/package.json
  packages/renderless/src/autocomplete/index.ts
  packages/renderless/src/autocomplete/vue.ts
  packages/vue/src/autocomplete/package.json
  packages/vue/src/autocomplete/src/pc.vue
Due: prettier --write, eslint --fix

fix: update @opentiny/fluent-editor version and export defaultToolbar
  packages/vue/src/fluent-editor/package.json
Due: none

chore(renderless): release v3.18.6
  packages/renderless/package.json
Due: none

build(runtime): fix runtime build error and remove useless svg-icon c… (#2357)
  internals/cli/package.json
  internals/cli/src/commands/build/build-entry-app.ts
  packages/modules.json
  packages/theme/src/index.less
  packages/vue-runtime/package.json
  packages/vue/package.json
  packages/vue/src/svg-icon/index.ts
  packages/vue/src/svg-icon/package.json
  packages/vue/src/svg-icon/src/pc.vue
Due: prettier --write, eslint --fix

fix: modify bug
  packages/renderless/src/drawer/index.ts
Due: prettier --write, eslint --fix

Sync 3.18.0 to dev (#2363)
  packages/renderless/package.json
  packages/renderless/src/autocomplete/index.ts
  packages/renderless/src/autocomplete/vue.ts
  packages/vue/src/autocomplete/package.json
  packages/vue/src/autocomplete/src/pc.vue
  packages/vue/src/fluent-editor/package.json
Due: prettier --write, eslint --fix

fix(cascader): fix active-node 's color and font-weight (#2361)
  packages/theme/src/cascader-node/vars.less
Due: none

fix: 图表打包指令修改
  internals/cli/src/commands/build/build-chart-theme.ts
Due: prettier --write, eslint --fix

fix: modify e2e-test
  examples/sites/demos/pc/app/drawer/before-close.spec.ts
Due: prettier --write, eslint --fix

feat(docs): the official website adds API anchor function
  examples/sites/src/views/components/components.vue
Due: prettier --write, eslint --fix

refactor(theme-tool): refactor theme-tool Class, adopt style by adoptedStyleSheets
  packages/theme/build/release.js
  packages/theme/old-theme-index.js
  packages/theme/src/theme-tool.js
  packages/theme/theme-tool.d.ts
  packages/theme/theme-tool.js
Due: prettier --write, eslint --fix

fix(theme): fix
  .eslintrc.js
Due: prettier --write, eslint --fix

fix(anchor): [anchor] 适配锚点圆点新规范
  packages/theme/src/anchor/index.less
Due: none

fix(anchor): [anchor] 修复单个一级锚点没有线条的bug
  packages/theme/src/anchor/index.less
Due: none

refactor(theme-tool): refactor theme-tool done
  examples/sites/src/tools/useTheme.js
  packages/theme/build/release.js
  packages/theme/old-theme-index.js
  packages/theme/src/button/old-theme.less
  packages/theme/src/old-theme-index.js
  packages/theme/src/theme-tool.d.ts
  packages/theme/src/theme-tool.js
  packages/theme/theme-tool.js
Due: prettier --write, eslint --fix

fix(theme): fix
  examples/sites/src/tools/useTheme.js
Due: prettier --write, eslint --fix

fix(fluent-editor): fix export defaultToolbar error
  packages/vue/src/fluent-editor/index.ts
  packages/vue/src/fluent-editor/package.json
  packages/vue/src/fluent-editor/src/index.ts
Due: prettier --write, eslint --fix

fix(fluent-editor): fix export defaultToolbar error (#2370)
  packages/vue/src/fluent-editor/index.ts
  packages/vue/src/fluent-editor/package.json
  packages/vue/src/fluent-editor/src/index.ts
Due: prettier --write, eslint --fix

feat(README): [README] Improve the README document
  examples/nuxt/README.md
Due: prettier --write

fix(anchor): [anchor] Adapting to the new specifications of the anchor point dot mode (#2367)
  packages/theme/src/anchor/index.less
Due: none

fix(search): [search] 根据规范取消search下拉框边框
  packages/theme/src/search/index.less
  packages/theme/src/search/vars.less
Due: none

fix(theme-tool): support multi target
  packages/theme/src/theme-tool.d.ts
  packages/theme/src/theme-tool.js
Due: prettier --write, eslint --fix

fix(input): [input] fix input remembers the input history and does not record blank characters
  examples/sites/demos/pc/app/input/display-only-popup-more-composition-api.vue
  packages/renderless/src/tall-storage/index.ts
Due: prettier --write, eslint --fix

fix(wizard): [wizard] 修复检视问题
  packages/theme/src/wizard/index.less
  packages/theme/src/wizard/vars.less
Due: none

fix(user-contact): [user-contact] modify demo
  examples/sites/demos/pc/app/user-contact/contact-espace-composition-api.vue
Due: prettier --write, eslint --fix

fix(wizard): [wizard] 修复测试用例
  examples/sites/demos/pc/app/wizard/base-usage.spec.ts
Due: prettier --write, eslint --fix

fix(carousel): [carousel] modify carousel style
  packages/theme/src/carousel/index.less
Due: none

fix(split): [split] fix split error apis
  examples/sites/demos/apis/split.js
  packages/theme/src/split/index.less
Due: prettier --write, eslint --fix

docs(icon): add icon's docs
  examples/sites/demos/pc/app/button/webdoc/button.js
  examples/sites/demos/pc/app/icon/webdoc/icon.js
Due: prettier --write, eslint --fix

docs: 修改chart案例文档
  examples/sites/demos/apis/chart-autonavi-map.js
  examples/sites/demos/apis/chart-baidu-map.js
  examples/sites/demos/apis/chart-bar.js
  examples/sites/demos/apis/chart-boxplot.js
  examples/sites/demos/apis/chart-candle.js
  examples/sites/demos/apis/chart-funnel.js
  examples/sites/demos/apis/chart-gauge.js
  examples/sites/demos/apis/chart-graph.js
  examples/sites/demos/apis/chart-heatmap.js
  examples/sites/demos/apis/chart-histogram.js
  examples/sites/demos/apis/chart-line.js
  examples/sites/demos/apis/chart-liquidfill.js
  examples/sites/demos/apis/chart-map.js
  examples/sites/demos/apis/chart-pie.js
  examples/sites/demos/apis/chart-process.js
  examples/sites/demos/apis/chart-radar.js
  examples/sites/demos/apis/chart-ring.js
  examples/sites/demos/apis/chart-sankey.js
  examples/sites/demos/apis/chart-scatter.js
  examples/sites/demos/apis/chart-sunburst.js
  examples/sites/demos/apis/chart-tree.js
  examples/sites/demos/apis/chart-waterfall.js
  examples/sites/demos/apis/chart-wordcloud.js
  examples/sites/src/assets/markdown.less
  examples/sites/src/assets/md-preview.less
  examples/sites/src/main.js
  examples/sites/src/views/components/async-highlight.vue
  examples/sites/src/views/components/components.vue
  packages/vue/src/huicharts/src/index.ts
Due: prettier --write, eslint --fix

fix(icon): restore title demo
  examples/sites/demos/pc/app/icon/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/icon/basic-usage.spec.js
  examples/sites/demos/pc/app/icon/basic-usage.vue
  examples/sites/demos/pc/app/icon/show-title-composition-api.vue
  examples/sites/demos/pc/app/icon/show-title.spec.ts
  examples/sites/demos/pc/app/icon/show-title.vue
  examples/sites/demos/pc/app/icon/webdoc/icon.js
Due: prettier --write, eslint --fix

fix(icon): fix
  examples/sites/demos/pc/app/icon/webdoc/icon.js
Due: prettier --write, eslint --fix

fix(carousel): [carousel] modify carousel style (#2376)
  packages/theme/src/carousel/index.less
Due: none

fix(icon): [icon] restore title demo (#2379)
  examples/sites/demos/pc/app/button/webdoc/button.js
  examples/sites/demos/pc/app/icon/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/icon/basic-usage.spec.js
  examples/sites/demos/pc/app/icon/basic-usage.vue
  examples/sites/demos/pc/app/icon/show-title-composition-api.vue
  examples/sites/demos/pc/app/icon/show-title.spec.ts
  examples/sites/demos/pc/app/icon/show-title.vue
  examples/sites/demos/pc/app/icon/webdoc/icon.js
Due: prettier --write, eslint --fix

fix(search): [search] 根据规范取消search下拉框边框 (#2371)
  packages/theme/src/search/index.less
  packages/theme/src/search/vars.less
Due: none

fix(user-contact): [user-contact] modify demo (#2375)
  examples/sites/demos/pc/app/user-contact/contact-espace-composition-api.vue
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,vue}) or (any of: *.md)
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
