Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,vue}": ["prettier --write", "eslint  --fix"],
  "*.md": ["prettier --write"]
}

fix(grid): [grid] change custom components to tinyvue components to a… (#1724)
  packages/theme/package.json
  packages/theme/src/grid/custom.less
  packages/vue/src/grid-toolbar/package.json
  packages/vue/src/grid-toolbar/src/custom.vue
Due: prettier --write, eslint --fix

chore(fluent-editor): update package.json (#1721)
  packages/fluent-editor/package.json
Due: none

docs(tree-select): optimize demo/api docs
  examples/sites/demos/apis/tree-select.js
  examples/sites/demos/pc/app/tree-select/collapse-tags-composition-api.vue
  examples/sites/demos/pc/app/tree-select/collapse-tags.spec.ts
  examples/sites/demos/pc/app/tree-select/collapse-tags.vue
  examples/sites/demos/pc/app/tree-select/copy-composition-api.vue
  examples/sites/demos/pc/app/tree-select/copy.spec.ts
  examples/sites/demos/pc/app/tree-select/copy.vue
  examples/sites/demos/pc/app/tree-select/disabled-composition-api.vue
  examples/sites/demos/pc/app/tree-select/disabled.spec.ts
  examples/sites/demos/pc/app/tree-select/disabled.vue
  examples/sites/demos/pc/app/tree-select/map-field-composition-api.vue
  examples/sites/demos/pc/app/tree-select/map-field.spec.ts
  examples/sites/demos/pc/app/tree-select/map-field.vue
  examples/sites/demos/pc/app/tree-select/multiple-composition-api.vue
  examples/sites/demos/pc/app/tree-select/multiple.spec.ts
  examples/sites/demos/pc/app/tree-select/multiple.vue
  examples/sites/demos/pc/app/tree-select/native-properties-composition-api.vue
  examples/sites/demos/pc/app/tree-select/native-properties.spec.ts
  examples/sites/demos/pc/app/tree-select/native-properties.vue
  examples/sites/demos/pc/app/tree-select/panel-style-composition-api.vue
  examples/sites/demos/pc/app/tree-select/panel-style.spec.ts
  examples/sites/demos/pc/app/tree-select/panel-style.vue
  examples/sites/demos/pc/app/tree-select/reference-style-composition-api.vue
  examples/sites/demos/pc/app/tree-select/reference-style.spec.ts
  examples/sites/demos/pc/app/tree-select/reference-style.vue
  examples/sites/demos/pc/app/tree-select/size-composition-api.vue
  examples/sites/demos/pc/app/tree-select/size.spec.ts
  examples/sites/demos/pc/app/tree-select/size.vue
  examples/sites/demos/pc/app/tree-select/webdoc/tree-select.js
  packages/renderless/src/tree-select/index.ts
  packages/renderless/src/tree-select/vue.ts
Due: prettier --write, eslint --fix

fix(renderless/src/common/deps): dealing with ResizeObserver compatibility issues
  packages/renderless/src/common/deps/popper.ts
Due: prettier --write, eslint --fix

fix(renderless): fix judge logic
  packages/renderless/src/grid/utils/common.ts
Due: prettier --write, eslint --fix

refactor(vue-grid/grid): refactor the basic feature of TinyGrid Component
  packages/renderless/src/grid/grid/index.ts
  packages/renderless/src/grid/grid/vue.ts
  packages/renderless/types/grid/grid.type.ts
  packages/renderless/types/index.ts
  packages/vue/src/grid/src/grid/index.ts
  packages/vue/src/grid/src/grid/src/index.ts
  packages/vue/src/grid/src/grid/src/pc.vue
  packages/vue/src/grid/src/index.ts
Due: prettier --write, eslint --fix

test(grid): add basic unit test of grid
  packages/vue-common/src/breakpoint.ts
  packages/vue/src/grid/__tests__/grid.test.tsx
Due: prettier --write, eslint --fix

feat: add virtual-scroll component
  examples/sites/demos/pc/app/tree/basic-usage.vue
  internals/cli/src/commands/build/build-ui-solid.ts
  packages/modules.json
  packages/renderless/src/virtual-scroll/index.ts
  packages/renderless/src/virtual-scroll/vue.ts
  packages/vue/package.json
  packages/vue/src/virtual-scroll/index.ts
  packages/vue/src/virtual-scroll/package.json
  packages/vue/src/virtual-scroll/src/index.ts
  packages/vue/src/virtual-scroll/src/pc.vue
Due: prettier --write, eslint --fix

docs(dialog-box): update docs
  examples/sites/demos/pc/app/dialog-box/webdoc/dialog-box.js
Due: prettier --write, eslint --fix

fix(drawer): fix the issue content can not display when using v-if
  packages/vue/src/drawer/package.json
  packages/vue/src/drawer/src/pc.vue
Due: prettier --write, eslint --fix

fix(drawer): fix the issue content can not display when using v-if (#1733)
  packages/vue/src/drawer/package.json
  packages/vue/src/drawer/src/pc.vue
Due: prettier --write, eslint --fix

fix(dropdown-item): remove tooltip in dropdown-item
  packages/vue/src/dropdown-item/package.json
  packages/vue/src/dropdown-item/src/pc.vue
Due: prettier --write, eslint --fix

fix(dropdown-item): remove tooltip in dropdown-item (#1735)
  packages/vue/src/dropdown-item/package.json
  packages/vue/src/dropdown-item/src/pc.vue
Due: prettier --write, eslint --fix

fix(tree-menu): [tree-menu] resolve the issue of disabled treemenu components not taking effect
  packages/theme/src/tree-menu/index.less
  packages/theme/src/tree-menu/vars.less
Due: none

feat: update version
  packages/vue/src/dropdown-item/package.json
Due: none

test(grid): add grid header related unit test
  packages/vue/src/grid/__tests__/grid.test.tsx
Due: prettier --write, eslint --fix

docs(tree-select): optimize demo/api docs
  examples/sites/demos/apis/tree-select.js
  examples/sites/demos/pc/app/tree-select/collapse-tags-composition-api.vue
  examples/sites/demos/pc/app/tree-select/collapse-tags.vue
  examples/sites/demos/pc/app/tree-select/copy-composition-api.vue
  examples/sites/demos/pc/app/tree-select/copy.vue
  examples/sites/demos/pc/app/tree-select/disabled-composition-api.vue
  examples/sites/demos/pc/app/tree-select/disabled.vue
  examples/sites/demos/pc/app/tree-select/map-field-composition-api.vue
  examples/sites/demos/pc/app/tree-select/map-field.vue
  examples/sites/demos/pc/app/tree-select/multiple-composition-api.vue
  examples/sites/demos/pc/app/tree-select/multiple.vue
  examples/sites/demos/pc/app/tree-select/native-properties-composition-api.vue
  examples/sites/demos/pc/app/tree-select/native-properties.vue
  examples/sites/demos/pc/app/tree-select/panel-style-composition-api.vue
  examples/sites/demos/pc/app/tree-select/panel-style.vue
  examples/sites/demos/pc/app/tree-select/reference-style-composition-api.vue
  examples/sites/demos/pc/app/tree-select/reference-style.vue
  examples/sites/demos/pc/app/tree-select/size-composition-api.vue
  examples/sites/demos/pc/app/tree-select/size.vue
  examples/sites/demos/pc/app/tree-select/webdoc/tree-select.js
  packages/renderless/src/tree-select/index.ts
  packages/renderless/src/tree-select/vue.ts
Due: prettier --write, eslint --fix

fix(dropdown): fix dropdown in virtual scrolling grid (#1717)
  packages/renderless/src/dropdown-menu/index.ts
Due: prettier --write, eslint --fix

feat: update renderless version
  packages/renderless/package.json
Due: none

fix(select): the input parameter of the computedDisabledTooltipcontent does not contain props
  packages/renderless/src/select/vue.ts
Due: prettier --write, eslint --fix

fix(select): update version
  packages/renderless/package.json
Due: none

fix: 修复箱型图data为空数组时的报错问题
  packages/vue/src/chart/chart-core/common/extend.ts
Due: prettier --write, eslint --fix

fix: 添加图标属性逻辑的深拷贝
  packages/vue/src/chart/chart-core/src/chart-core.ts
Due: prettier --write, eslint --fix

fix: 删除注释文件
  packages/vue/src/chart/chart-core/common/extend.ts
Due: prettier --write, eslint --fix

fix(chart): fix Boxplot chart bug (#1741)
  packages/vue/src/chart/chart-core/common/extend.ts
  packages/vue/src/chart/chart-core/src/chart-core.ts
Due: prettier --write, eslint --fix

fix(select): the input parameter of the computedDisabledTooltipcontent lost props (#1740)
  packages/renderless/package.json
  packages/renderless/src/select/vue.ts
Due: prettier --write, eslint --fix

chore: update workflow node-version to 20
  .github/workflows/test-e2e-all.yml
  .github/workflows/test-e2e-dispatch.yml
  .github/workflows/test-e2e-pr.yml
Due: none

chore: update workflow node-version to 20 (#1742)
  .github/workflows/test-e2e-all.yml
  .github/workflows/test-e2e-dispatch.yml
  .github/workflows/test-e2e-pr.yml
Due: none

refactor(grid-header): modify the grid-header render files
  packages/vue/src/grid/src/header/index.ts
  packages/vue/src/grid/src/header/src/index.ts
  packages/vue/src/grid/src/header/src/pc.vue
Due: prettier --write, eslint --fix

feat(grid-header): add grid-header renderless logic
  packages/renderless/src/grid/header/index.ts
  packages/renderless/src/grid/header/vue.ts
  packages/renderless/types/grid/header.type.ts
Due: prettier --write, eslint --fix

feat(grid-header): add computeDragLeft function
  packages/renderless/src/grid/utils/common.ts
Due: prettier --write, eslint --fix

refactor(grid-header): delete grid-header's header.ts
  packages/vue/src/grid/src/header/src/header.ts
Due: prettier --write, eslint --fix

fix(grid-toolbar): [grid] fix toolbar ref name error
  packages/vue/src/grid-toolbar/package.json
  packages/vue/src/grid-toolbar/src/custom.vue
Due: prettier --write, eslint --fix

fix(grid-toolbar): [grid] fix toolbar ref name error (#1745)
  packages/vue/src/grid-toolbar/package.json
  packages/vue/src/grid-toolbar/src/custom.vue
Due: prettier --write, eslint --fix

feat(rich-text-editor): Tinytiptap & custom extensions & slash menu
  packages/renderless/package.json
  packages/renderless/src/rich-text-editor/index.ts
  packages/renderless/src/rich-text-editor/vue.ts
  packages/tiny-tiptap/package.json
  packages/tiny-tiptap/src/TiptapEditor.ts
  packages/tiny-tiptap/src/components/slash/index.ts
  packages/tiny-tiptap/src/extension/blockquote/index.ts
  packages/tiny-tiptap/src/extension/bold/index.ts
  packages/tiny-tiptap/src/extension/bullet-list/index.ts
  packages/tiny-tiptap/src/extension/code-block/index.ts
  packages/tiny-tiptap/src/extension/code-block/lowlight.ts
  packages/tiny-tiptap/src/extension/code/index.ts
  packages/tiny-tiptap/src/extension/color/index.ts
  packages/tiny-tiptap/src/extension/heading/index.ts
  packages/tiny-tiptap/src/extension/highlight/index.ts
  packages/tiny-tiptap/src/extension/history/index.ts
  packages/tiny-tiptap/src/extension/image/index.ts
  packages/tiny-tiptap/src/extension/index.ts
  packages/tiny-tiptap/src/extension/italic/index.ts
  packages/tiny-tiptap/src/extension/link/index.ts
  packages/tiny-tiptap/src/extension/ordered-list/index.ts
  packages/tiny-tiptap/src/extension/paragraph/index.ts
  packages/tiny-tiptap/src/extension/placeholder/index.ts
  packages/tiny-tiptap/src/extension/strike/index.ts
  packages/tiny-tiptap/src/extension/subscript/index.ts
  packages/tiny-tiptap/src/extension/supscript/index.ts
  packages/tiny-tiptap/src/extension/table/index.ts
  packages/tiny-tiptap/src/extension/task-list/index.ts
  packages/tiny-tiptap/src/extension/text-align/index.ts
  packages/tiny-tiptap/src/extension/text/index.ts
  packages/tiny-tiptap/src/extension/underline/index.ts
  packages/tiny-tiptap/src/index.ts
  packages/tiny-tiptap/tsconfig.json
  packages/tiny-tiptap/types/index.ts
  packages/vue/src/rich-text-editor/src/components/slash-menu.vue
  packages/vue/src/rich-text-editor/src/extensions/index.ts
  packages/vue/src/rich-text-editor/src/pc.vue
Due: prettier --write, eslint --fix

feat(rich-text-editor): slash menu scroll func
  packages/renderless/src/rich-text-editor/vue.ts
  packages/vue/src/rich-text-editor/src/components/slash-menu.vue
  packages/vue/src/rich-text-editor/src/pc.vue
Due: prettier --write, eslint --fix

docs(changelog): update changelog and runtime doc
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/demos/pc/webdoc/installation.md
  examples/sites/playground.html
  examples/sites/playground/App.vue
Due: prettier --write, eslint --fix

docs(changelog): update changelog and runtime doc
  examples/sites/demos/pc/webdoc/changelog.md
Due: prettier --write
