Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,vue}": ["prettier --write", "eslint  --fix"],
  "*.md": ["prettier --write"]
}

fix: 修复saas官网启动报错问题，并隐藏tree-menu组件
  examples/sites/demos/saas/menus.js
  packages/theme-saas/src/responsive-index.less
Due: prettier --write, eslint --fix

feat(drawer): add destroyOnClose to drawer
  examples/sites/demos/apis/drawer.js
  examples/sites/demos/pc/app/drawer/destroy-on-close-composition-api.vue
  examples/sites/demos/pc/app/drawer/destroy-on-close.spec.ts
  examples/sites/demos/pc/app/drawer/destroy-on-close.vue
  examples/sites/demos/pc/app/drawer/webdoc/drawer.js
  packages/renderless/src/drawer/index.ts
  packages/renderless/src/drawer/vue.ts
  packages/vue/src/drawer/src/index.ts
  packages/vue/src/drawer/src/pc.vue
Due: prettier --write, eslint --fix

fix: 修改AI的检视意见
  packages/renderless/src/anchor/index.ts
Due: prettier --write, eslint --fix

fix: adaptation components and modification errors
  examples/sites/demos/pc/app/button-group/display-mode-composition-api.vue
  examples/sites/demos/pc/app/button-group/sup-composition-api.vue
  examples/sites/demos/pc/app/button-group/sup.vue
  packages/theme/src/button-group/responsive.less
  packages/theme/src/button-group/vars.less
Due: prettier --write, eslint --fix

feat: 添加AGENTS.md 编程辅助文件
  .cursor/rules/global.mdc
  .cursor/rules/product.mdc
  AGENTS.md
Due: prettier --write

chore: 修复检视意见
  AGENTS.md
Due: prettier --write

test: add destroy-on-close test cases docs: update drawer destroy-on-close description
  examples/sites/demos/apis/drawer.js
  examples/sites/demos/pc/app/drawer/destroy-on-close.spec.ts
  examples/sites/demos/pc/app/drawer/webdoc/drawer.js
Due: prettier --write, eslint --fix

feat: fix the issue where the color of the other half does not change when half of the rate component is selected
  packages/renderless/src/rate/index.ts
  packages/renderless/src/rate/vue.ts
  packages/theme/src/rate/index.less
Due: prettier --write, eslint --fix

fix:saas模式group类添加隔离
  packages/vue/src/base-select/src/mobile-first.vue
  packages/vue/src/carousel-item/src/mobile-first.vue
  packages/vue/src/carousel/src/mobile-first.vue
  packages/vue/src/date-table/src/token.ts
  packages/vue/src/option/src/mobile-first.vue
  packages/vue/src/pager/src/mobile-first.vue
  packages/vue/src/select/src/mobile-first.vue
  packages/vue/src/steps/src/mobile-first/mobile-first-advanced.vue
  packages/vue/src/steps/src/mobile-first/token/advanced-token.ts
  packages/vue/src/tabs/src/mobile-first/tab-nav-item.vue
  packages/vue/src/upload-list/src/mobile-first.vue
Due: prettier --write, eslint --fix

feat:富文本支持国际化以及修复编辑器弹窗边界展示
  packages/renderless/src/rich-text/index.ts
  packages/renderless/src/rich-text/vue.ts
  packages/theme-saas/src/rich-text/index.less
  packages/theme/src/rich-text/index.less
  packages/vue-locale/src/lang/en.ts
  packages/vue-locale/src/lang/es-LA.ts
  packages/vue-locale/src/lang/pt-BR.ts
  packages/vue-locale/src/lang/zh-CN.ts
Due: prettier --write, eslint --fix

fix: modify review comments
  packages/theme/src/button-group/vars.less
Due: none

fix(playwright): modify the test case viewport configuration
  examples/vue3/package.json
  examples/vue3/playwright.config.js
Due: prettier --write, eslint --fix

fix: modify e2e-test
  examples/sites/demos/pc/app/drawer/placement.spec.ts
Due: prettier --write, eslint --fix

test(drawer): 完善 destroy-on-close 测试用例
  examples/sites/demos/pc/app/drawer/destroy-on-close-composition-api.vue
  examples/sites/demos/pc/app/drawer/destroy-on-close.spec.ts
  examples/sites/demos/pc/app/drawer/destroy-on-close.vue
Due: prettier --write, eslint --fix

fix: modify e2e test
  examples/sites/demos/pc/app/drawer/basic-usage.spec.ts
  examples/sites/demos/pc/app/drawer/show-header.spec.ts
Due: prettier --write, eslint --fix

Revert "fix(playwright): modify the test case viewport configuration (#4157)"
  examples/vue3/package.json
  examples/vue3/playwright.config.js
Due: prettier --write, eslint --fix

fix: add whether to load responsive file judgment
  examples/sites/src/main.js
Due: prettier --write, eslint --fix

fix: fix the issue of horizontal scrollbars appearing in Firefox tables
  packages/theme/src/grid/table.less
Due: none

fix: fix the issue of horizontal scrollbars appearing in Firefox tables
  packages/theme-saas/src/grid/table.less
  packages/theme/src/grid/table.less
Due: none

test(grid): optimize scrolling method in full-data-loading and virtual-rolling specs
  examples/sites/demos/pc/app/grid/large-data/full-data-loading.spec.js
  examples/sites/demos/pc/app/grid/large-data/virtual-rolling.spec.js
Due: prettier --write, eslint --fix

chore: update vite-plugin-dts to version 4.3.0
  internals/cli/package.json
Due: none

fix: change import from responsive-index.less to responsive-index.css for compatibility
  examples/sites/src/main.js
Due: prettier --write, eslint --fix

chore: update changelog and playground for version 3.30.0
  examples/sites/demos/pc/webdoc/changelog-en.md
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/playground/App.vue
Due: prettier --write, eslint --fix

fix: modify the default value issue
  packages/vue/src/drawer/src/index.ts
Due: prettier --write, eslint --fix

fix(pager): adjust the spacing issue
  packages/theme/src/pager/index.less
Due: none

fix(nav-menu): modify the misalignment issue of dropdown content
  packages/theme/src/nav-menu/index.less
Due: none

fix(nav-menu): modify problem
  packages/theme/src/nav-menu/index.less
Due: none

chore: update changelog and playground for version 3.30.0 (#4173)
  examples/sites/demos/pc/webdoc/changelog-en.md
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/playground/App.vue
Due: prettier --write, eslint --fix

refactor: simplify responsive CSS import logic in main.js
  examples/sites/src/main.js
Due: prettier --write, eslint --fix

refactor: update responsive CSS import logic in main.js and add alias in vite.ts
  examples/sites/src/main.js
  internals/cli/src/config/vite.ts
Due: prettier --write, eslint --fix

fix: update responsive CSS import path in vite.ts for consistency
  internals/cli/src/config/vite.ts
Due: prettier --write, eslint --fix

fix: update responsive CSS import from .css to .less for improved styling consistency
  examples/sites/src/main.js
Due: prettier --write, eslint --fix

fix: the style after clicking the unified button
  packages/vue/src/dropdown/src/pc.vue
Due: prettier --write, eslint --fix

fix(common): solve the problem of reactive property loss in the provide scenario caused by the Longque API in the HarmonyOS environment
  packages/vue-common/src/adapter/vue2/index.ts
Due: prettier --write, eslint --fix

fix(file-upload): fix the issue where clicking the delete and download icons in fileupload mistakenly triggers the preview callback
  packages/vue/src/file-upload/src/pc.vue
Due: prettier --write, eslint --fix

fix(common): solve the case problem
  packages/vue/src/file-upload/src/pc.vue
Due: prettier --write, eslint --fix

ci(workflows): update environment variable references to use secrets in deployment workflows
  .github/workflows/auto-deploy-docs.yml
  .github/workflows/deploy-obs-saas.yml
  .github/workflows/deploy-obs.yml
Due: none
