Repository opentiny/tiny-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,vue}": ["prettier --write", "eslint  --fix"],
  "*.md": ["prettier --write"]
}

fix: base-select在清除时，不隐藏收起按钮，以及鼠标悬浮时增加zindex值
  packages/theme/src/base-select/index.less
  packages/theme/src/select/index.less
  packages/vue/src/base-select/src/pc.vue
Due: prettier --write, eslint --fix

fix(vue-renderless/file-upload): [file-upload] accept 支持 video/*、audio/* 通配符 (fixes #4237)
  packages/renderless/src/file-upload/index.ts
  packages/vue/src/file-upload/__tests__/accept-type.test.ts
Due: prettier --write, eslint --fix

fix(numeric): 移除numeric增减按钮z-index，解决表格内层级冲突问题
  packages/theme/src/numeric/index.less
Due: none

fix(numeric): change outer display from inline-block to inline-table
  packages/theme/src/numeric/index.less
Due: none

fix(grid): modify saas theme
  packages/theme-saas/src/grid/table-global.less
  packages/theme-saas/src/grid/table.less
  packages/theme-saas/src/grid/toolbar.less
Due: none

fix(grid): add pager variable
  packages/theme-saas/src/grid/table-global.less
Due: none

feat(tag): [tag] add round attribute
  examples/sites/demos/apis/tag.js
  examples/sites/demos/mobile-first/app/tag/rounded.vue
  examples/sites/demos/mobile-first/app/tag/webdoc/tag.js
  examples/sites/demos/pc/app/tag/delete.spec.ts
  examples/sites/demos/pc/app/tag/disabled.spec.ts
  examples/sites/demos/pc/app/tag/effect.spec.ts
  examples/sites/demos/pc/app/tag/max-width.spec.ts
  examples/sites/demos/pc/app/tag/rounded-composition-api.vue
  examples/sites/demos/pc/app/tag/rounded.spec.ts
  examples/sites/demos/pc/app/tag/rounded.vue
  examples/sites/demos/pc/app/tag/tag-event-click-composition-api.vue
  examples/sites/demos/pc/app/tag/tag-event-click.spec.ts
  examples/sites/demos/pc/app/tag/tag-event-click.vue
  examples/sites/demos/pc/app/tag/webdoc/tag.js
  packages/theme-saas/src/tag/index.less
  packages/theme/src/tag/index.less
  packages/vue/src/tag/src/index.ts
  packages/vue/src/tag/src/mobile-first.vue
  packages/vue/src/tag/src/pc.vue
  packages/vue/src/tag/src/token.ts
Due: prettier --write, eslint --fix

fix: supplementary type
  examples/sites/demos/apis/tag.js
  examples/sites/demos/pc/app/tag/effect-composition-api.vue
  examples/sites/demos/pc/app/tag/effect.spec.ts
  examples/sites/demos/pc/app/tag/effect.vue
  examples/sites/demos/pc/app/tag/webdoc/tag.js
  packages/theme-saas/src/tag/index.less
  packages/theme/src/tag/index.less
  packages/theme/src/tag/vars.less
Due: prettier --write, eslint --fix

feat(alert): [alert] add small and medium sizes
  examples/sites/demos/apis/alert.js
  examples/sites/demos/mobile-first/app/alert/size.vue
  examples/sites/demos/mobile-first/app/alert/webdoc/alert.js
  examples/sites/demos/pc/app/alert/center.spec.ts
  examples/sites/demos/pc/app/alert/size-composition-api.vue
  examples/sites/demos/pc/app/alert/size.spec.ts
  examples/sites/demos/pc/app/alert/size.vue
  examples/sites/demos/pc/app/alert/slot-default.spec.ts
  examples/sites/demos/pc/app/alert/title.spec.ts
  examples/sites/demos/pc/app/alert/webdoc/alert.js
  packages/theme-saas/src/alert/index.less
  packages/theme/src/alert/index.less
  packages/theme/src/alert/vars.less
  packages/theme/src/tag/vars.less
  packages/vue/src/alert/src/index.ts
  packages/vue/src/alert/src/mobile-first.vue
Due: prettier --write, eslint --fix

fix(drawer): add drag and drop icon(mobile-first)
  packages/renderless/src/drawer/index.ts
  packages/renderless/src/drawer/vue.ts
  packages/renderless/types/drawer.type.ts
  packages/theme-saas/src/drawer/index.less
  packages/vue/src/drawer/src/mobile-first.vue
Due: prettier --write, eslint --fix

fix: add demo(mobile-first)
  examples/sites/demos/apis/drawer.js
  examples/sites/demos/mobile-first/app/drawer/to-body.vue
  examples/sites/demos/mobile-first/app/drawer/webdoc/drawer.js
  packages/vue/src/drawer/src/mobile-first.vue
Due: prettier --write, eslint --fix

fix: modify the review comments
  packages/renderless/src/drawer/index.ts
  packages/vue/src/drawer/src/mobile-first.vue
Due: prettier --write, eslint --fix

fix: modify the review comments
  examples/sites/demos/apis/alert.js
  examples/sites/demos/mobile-first/app/alert/webdoc/alert.js
Due: prettier --write, eslint --fix

fix: modify the review comments
  examples/sites/demos/pc/app/flowchart/other.spec.ts
  examples/sites/demos/pc/app/flowchart/webdoc/flowchart.js
Due: prettier --write, eslint --fix

fix: modify the review comments
  packages/theme/src/nav-menu/index.less
Due: none

fix(sort-desc): update import paths for SVG components and refactor export to use arrow function
  packages/vue-icon/src/sort-desc.ts
Due: prettier --write, eslint --fix

chore: 修复检视意见
  examples/sites/demos/pc/app/slider-button/page-turn.vue
  examples/sites/demos/pc/app/slider-button/slider-button-size-composition-api.vue
  examples/sites/demos/pc/app/slider-button/slider-button-size.vue
  examples/sites/demos/pc/app/slider-button/slider-button-type-composition-api.vue
  packages/theme-saas/src/slider-button/index.less
  packages/theme/src/slider-button-group/index.less
  packages/theme/src/slider-button-group/vars.less
  packages/theme/src/slider-button/index.less
  packages/theme/src/slider-button/vars.less
  packages/vue/src/select/src/token.ts
  packages/vue/src/slider-button-group/src/pc.vue
  packages/vue/src/slider-button-group/src/slide-button-bar-pc.vue
  packages/vue/src/slider-button/src/mobile-first.vue
  packages/vue/src/slider-button/src/pc.vue
Due: prettier --write, eslint --fix

chore：修复检视意见
  packages/theme-saas/src/slider-button/index.less
  packages/theme/src/slider-button-group/vars.less
  packages/theme/src/slider-button/index.less
  packages/theme/src/slider-button/vars.less
  packages/vue/src/slider-button/src/pc.vue
Due: prettier --write, eslint --fix

fix:custom插槽filter模式显示错位
  packages/theme-saas/src/select/index.less
Due: none

fix(file-upload): 增强accept属性的适配算法
  examples/sites/demos/apis/file-upload.js
  packages/renderless/src/file-upload/index.ts
Due: prettier --write, eslint --fix

fix: 修改检视意见
  examples/sites/demos/apis/file-upload.js
  packages/renderless/src/file-upload/index.ts
Due: prettier --write, eslint --fix

feat: add slieder-button e2e
  examples/sites/demos/pc/app/slider-button/basic-usage.spec.ts
  examples/sites/demos/pc/app/slider-button/custom-content.spec.ts
  examples/sites/demos/pc/app/slider-button/page-turn.spec.ts
  examples/sites/demos/pc/app/slider-button/slider-button-options.spec.ts
  examples/sites/demos/pc/app/slider-button/slider-button-size.spec.ts
  examples/sites/demos/pc/app/slider-button/slider-button-type.spec.ts
  examples/sites/demos/pc/app/slider-button/slider-disabled.spec.ts
Due: prettier --write, eslint --fix

feat(slider-button): adapt theme style
  packages/theme/src/slider-button-group/index.less
  packages/theme/src/slider-button-group/vars.less
  packages/theme/src/slider-button/vars.less
Due: none

feat: add loading-open.svg to theme-saas
  examples/sites/demos/apis/slider-button.js
  packages/theme-saas/src/svgs/loading-open.svg
Due: prettier --write, eslint --fix

fix: fix dialog-select e2e error
  examples/sites/demos/pc/app/dialog-select/set-selection.spec.ts
  packages/theme/src/slider-button-group/vars.less
  packages/theme/src/slider-button/vars.less
Due: prettier --write, eslint --fix

fix: 修改model-event e2e测试
  examples/sites/demos/pc/app/modal/modal-event.spec.ts
Due: prettier --write, eslint --fix

fix: 还原文件
  packages/theme/src/slider-button-group/vars.less
  packages/theme/src/slider-button/vars.less
Due: none

fix:窗口宽度变化横向滚动错位
  packages/vue/src/grid/src/body/src/body.tsx
  packages/vue/src/grid/src/table/src/utils/computeScrollLoad.ts
Due: prettier --write, eslint --fix

fix:穿梭框组件表头不支持固定
  packages/theme-saas/src/transfer/index.less
  packages/theme/src/transfer/index.less
Due: none

feat(switch): [switch] add display-only attribute
  examples/sites/demos/apis/switch.js
  examples/sites/demos/mobile-first/app/switch/display-only.vue
  examples/sites/demos/mobile-first/app/switch/webdoc/switch.js
  examples/sites/demos/pc/app/switch/display-only-composition-api.vue
  examples/sites/demos/pc/app/switch/display-only.spec.ts
  examples/sites/demos/pc/app/switch/display-only.vue
  examples/sites/demos/pc/app/switch/webdoc/switch.js
  packages/vue/src/switch/src/mobile-first.vue
Due: prettier --write, eslint --fix

fix(switch): modify the e2e-test
  examples/sites/demos/mobile-first/app/switch/webdoc/switch.js
Due: prettier --write, eslint --fix

fix: 修改E2E 测试位置的描述
  AGENTS.md
Due: prettier --write

feat:富文本超链接支持跳转前拦截
  examples/sites/demos/apis/fluent-editor.js
  examples/sites/demos/mobile-first/app/fluent-editor/before-link-open.vue
  examples/sites/demos/mobile-first/app/fluent-editor/webdoc/fluent-editor.js
  examples/sites/demos/pc/app/fluent-editor/before-link-open-composition-api.vue
  examples/sites/demos/pc/app/fluent-editor/before-link-open.spec.ts
  examples/sites/demos/pc/app/fluent-editor/before-link-open.vue
  examples/sites/demos/pc/app/fluent-editor/webdoc/fluent-editor.js
  packages/renderless/src/fluent-editor/index.ts
  packages/theme/src/fluent-editor/index.less
Due: prettier --write, eslint --fix

fix(date-panel): fix date selection off-by-one day when clicking dates
  packages/renderless/src/date-panel/vue.ts
Due: prettier --write, eslint --fix

fix(grid): fix align prop not working on table body columns (#4230)
  packages/theme/src/grid/table.less
Due: none

feat: 更新theme-saas配置文件
  packages/theme-saas/build/build-token.js
  packages/theme-saas/build/replace-reset.js
  packages/theme-saas/package.json
  packages/theme-saas/plugins/loadTheme.js
  packages/theme-saas/tailwind.config.js
Due: prettier --write, eslint --fix
